{template '_header'}
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/coupon.css?v=2.0.0">
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/coupon-new.css?v=2017030302">
<style>
    .yen{border:none;height:0.75rem;width:0.75rem;display: inline-block;background: #ff4753;color:#fff;font-size:0.4rem;line-height: 0.8rem;text-align: center;
        font-style: normal;border-radius: 0.75rem;-webkit-border-radius: 0.75rem;}
    .order-create-page .fui-list.goods-item .fui-list-inner{
        height: 3.5rem;
        align-self: center;
    }
    .order-create-page .fui-list.goods-item .fui-list-angle{
        height: 3.5rem;
        align-self: center;
    }
    .order-create-page .fui-list-inner .subtitle{
        display: block;
    }

    .fui-header a.back2:before {
        content: " ";
        display: inline-block;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 0.5rem;
        width: 0.5rem;
        border-width: 0 0 2px 2px;
        border-color: #666;
        border-style: solid;
        position: relative;
        top:0;
    }

    .fui-cell-group .fui-cell:before{
        display: none;
    }
    .fui-cycle{
        padding: 0 0.6rem;
        margin-bottom: 0.75rem;
        height: 3.9rem;
        text-align: center;
    }
    .fui-cycle-left{
        width: 6.3rem;
        height: 3.9rem;
        float: left;
        border-radius: 0.1rem;
        box-shadow: 0 0 10px #ededed;
    }
    .fui-cycle .text{
        font-size: 0.6rem;
        color: #999;
        padding-top: 0.9rem;
    }
    .fui-cycle .date{
        font-size: 0.7rem;
        color: #333;
        padding-top: 0.5rem;
    }
    .fui-cycle-right{
        width: 10.45rem;
        height: 3.9rem;
        float: right;
        border-radius: 0.1rem;
        box-shadow: 0 0 10px #ededed;
    }
</style>

<div class='fui-page order-create-page'>
    <div class="fui-header">
        <div class="fui-header-left">
            {if empty($trade['shop_strengthen'])}<a class="back2"></a>{else}<a class="back"></a>{/if}
        </div>
        <div class="title">确认订单</div>
        <div class="fui-header-right" data-nomenu="true">&nbsp;</div>
    </div>
    <div class='fui-content  navbar'>

        {if count($carrier_list)>0 && !$isverify && !$isvirtual}
        <div id="carrierTab" class="fui-tab fui-tab-danger" style="margin-bottom: 0">
            <a data-tab="tab1" class="active">快递配送</a>
            <!--<a data-tab="tab2">上门自提</a>-->
        </div>
        {/if}

        {if !empty($quickinfo)}
        <div class="fui-cell-group">
            <a class="fui-cell external" href="{php echo mobileUrl('quick', array('id'=>$quickinfo['id']))}">
                <div class="fui-cell-info">数据来自快速购买: {$quickinfo['title']}</div>
                <div class="fui-cell-remark"></div>
            </a>
        </div>
        {/if}

        {if  !$isverify && !$isvirtual&&!$isonlyverifygoods}
            <!--地址选择-->
            <div class="fui-list-group" id='addressInfo' data-addressid="{php echo intval($address['id'])}" style="    margin: 0 0 .5rem;">
                {if !empty($address)}
                    <a  class="fui-list "   href="{php echo mobileUrl('member/address/selector')}"   data-nocache="true">
                        <div class="fui-list-media">
                            <i class="icon icon-dingwei" ></i>
                        </div>
                        <div class="fui-list-inner" >
                            <div class="title has-address">
                            收货人：
                                <span class='realname'>{$address['realname']}</span>
                                <span class='mobile'>{$address['mobile']}</span>
                            </div>
                            <div class="text has-address" >
                                <span class='address'>{$address['province']}{$address['city']}{$address['area']}{if !empty($new_area) && !empty($address_street)} {$address['street']}{/if} {$address['address']}</span>
                            </div>
                        </div>
                        <div class="fui-list-angle">
                            <div class="angle"></div>
                        </div>
                    </a>
                {else}
                    <a  id='address-show' class="fui-list"    data-nocache="true">
                        <div class="fui-list-inner" >
                            <div class="text no-address" ><i class="icon icon-icon02"></i> 添加收货地址</div>
                        </div>
                        <div class="fui-list-angle">
                            <div class="angle"></div>
                        </div>
                    </a>
                {/if}
            </div>

            <!--自提点选择-->
            <div class="fui-list-group"  id="carrierInfo" style="display: none;margin: 0 0 .5rem">
                <a class="fui-list" href="{php echo mobileUrl('store/selector', array('type'=>1,'merchid'=>$merch_id))}" data-nocache='true'>
                    <div class="fui-list-media" style="display: none">
                        <i class="icon icon-dingwei"></i>
                    </div>
                    <div class="fui-list-inner">
                        <div class="no-address"><i class="icon icon-icon02"></i> 请选择门店</div>
                        <div class="subtitle" style="display: none">
                            <span style="overflow: hidden;display: inline-block;">联系人：</span>
                            <span class='realname'></span>
                            <span class='mobile' id="carrierInfo_mobile"></span>
                        </div>
                        <div class="text" style="display: none"><span class='address'>地址：</span></div>
                    </div>
                    <div class="fui-list-angle">
                        <div class="angle"></div>
                    </div>
                </a>

            </div>
        {/if}
    <!--联系填写-->
    {if $sysset['set_realname']==0 || $sysset['set_mobile']==0}
        <div class="fui-cell-group sm" id="memberInfo" {if !$isverify && !$isvirtual}style="display:none"{/if}>
            {if $sysset['set_realname']==0}
                <div class="fui-cell">
                    <div class="fui-cell-label sm">联系人</div>
                    <div class="fui-cell-info c000"><input type="text" placeholder="请输入联系人" data-set="{$sysset['set_realname']}" name='carrier_realname' class="fui-input" value="{$member['realname']}"/></div>
                </div>
            {/if}
            {if $sysset['set_mobile']==0}
                <div class="fui-cell">
                    <div class="fui-cell-label sm">联系电话</div>
                    <div class="fui-cell-info c000"><input type="tel" placeholder="请输入联系电话" data-set="{$sysset['set_mobile']}" name='carrier_mobile' class="fui-input" value="{$member['carrier_mobile']}"/></div>
                </div>
            {/if}
        </div>
    {/if}


    <a class="fui-cell-group city_express external" style="display: none;" href="{php echo mobileUrl('shop/cityexpress/map')}">
        <div class="fui-cell">
            <div class="fui-cell-text" style="line-height: 1.1rem">
                <span ><i class="icon icon-huoche" style="background: #fff;color: #20c94d;font-size: 1.1rem;line-height: 1.1rem;float: left;display: inline-block;margin-right: 0.2rem" ></i ></span>
                <span class="sale-line">本单支持同城配送</span>
            </div>
           <div class="fui-cell-remark"></div>
        </div>
    </a>
    {loop $goods_list $key $list}
    {loop $list['goods'] $g}
    {if $g['type'] == 9}
    <div class="fui-cell-group">
        <div class="fui-cell">
            <div class="fui-cell-icon"><i class="icon icon-xiangmuzhouqi" style="color: #ff6a54;"></i></div>
            <div class="fui-cell-info" style="color: #333;">周期购</div>
        </div>
        <div class="fui-cycle">
            <div class="fui-cycle-left" style="background-color: #ffe8df;">
                <div class="text">预计送达时间</div>
                <div class="date" >
                    <span class="predicttime" data-date="{php echo date('Ymd',$predicttime)}">{$showpredicttime}</span>
                    <i class="icon icon-xiugai  select-showtime" style="font-size: 0.6rem; margin-left: 0.1rem"></i>
                </div>
            </div>
            <div class="fui-cycle-right">
                <div class="text">套餐规格</div>
                <div class="date"><span class="cycel_day">{$cycelbuy_day}</span>{if $cycelbuy_unit == 0}天{else if $cycelbuy_unit == 1}周{else if $cycelbuy_unit == 2}月{/if}1期，共<span class="cycel_num">{$cycelbuy_num}</span>期</div>
            </div>
        </div>
    </div>
    {/if}
    {/loop}
    {/loop}
<div class="fui-list-group" >
    {php $i=0}



    {loop $goods_list $key $list}
    {if $i !=0 }
        <div style="height: .5rem;background: #f3f3f3"></div>
    {/if}
    {php $i++}
    <div class="fui-list-group-title"><i class="icon icon-dianpu1"></i > {$list['shopname']}</div>
    {loop $list['goods'] $g}
    <input type='hidden' name='goodsid[]' value="{$g['id']}" />
    <input type='hidden' name='optionid[]' value="{$g['optionid']}" />
    <div class="fui-list goods-item align-start">
        <div class="fui-list-media">
            <a href="{php echo mobileUrl('goods/detail',array('id'=>$g['goodsid']))}">
                <img id="" class="round" src="{php echo tomedia($g['thumb'])}">
            </a>
        </div>
        <div class="fui-list-inner">
            <a href="{php echo mobileUrl('goods/detail',array('id'=>$g['goodsid']))}">
                <div class="subtitle">
                    {if $g['seckillinfo'] && $g['seckillinfo']['status']==0}<span class='fui-label fui-label-danger'>{$g['seckillinfo']['tag']}</span>{/if}
                    {if empty($g['isnodiscount']) && !empty($g['dflag'])}<span class='fui-label fui-label-danger'>折扣</span>{/if}
                    {if $g['type']==4}<span class='fui-label fui-label-danger'>批发</span>{/if}
                    {$g['title']}
                </div>
                {if !empty($g['optionid'])}
                <div class="text ">
                    {$g['optiontitle']}
                </div>
                {/if}

            </a>
        </div>
        <div class="fui-list-angle"style="width: auto">
            <span style="font-size: .65rem;color: #000">￥<span class="marketprice">{if $g['marketprice'] > $g['unitprice']}{php echo price_format($g['marketprice'],2)}{else}{php echo price_format($g['marketprice'],2)}{/if}</span></span>
            {if $g['type'] != 9}
            <div class="num">
                {if $taskgoodsprice || $taskreward}
                {php $total = 1;}
                x1<input class="num shownum" type="hidden" name="" value="1"/>
                {elseif $changenum && !$isgift}
                <div class="fui-number small" data-value="{$total}" data-unit="{$g['unit']}" data-maxbuy="{$g['totalmaxbuy']}" data-minbuy="{$g['minbuy']}" data-goodsid="{$g['goodsid']}">
                    <div class="minus">-</div>
                    <input class="num shownum" type="tel" name="" value="{$total}"/>
                    <div class="plus">+</div>
                </div>
                {else}
                x{$g['total']}<input class="num shownum" type="hidden" name="" value="{$total}"/>
                {/if}
            </div>
            {/if}
        </div>
    </div>
    {/loop}
    {/loop}

    <script type="text/javascript">
        $(function(){
            $(".package-goods-img").height($(".package-goods-img").width());
        })
    </script>
    <div class='fui-cell-group' style="margin-top: 0">
        {loop $giftGood $item}
        <div class="fui-cell" style="padding:0 ">
            <div class="fui-list goods-item" style="width:100%;">
                <div class="fui-list-media image-media" style="position: initial;">
                    <a href="javascript:void(0);">
                        <img class="round" src="{php echo tomedia($item['thumb'])}" data-lazyloaded="true">
                    </a>
                </div>
                <div class="fui-list-inner">
                    <a href="javascript:void(0);">
                        <div class="text" style="color: #000">
                            {$item['title']}<br /><span class="fui-label fui-label-danger">赠品</span>
                        </div>
                    </a>
                </div>
                <div class='fui-list-angle'>
                    <span class="price" style="display: inline-block;font-size:.65rem;color: #000 ">&yen;<del class='marketprice'>{$item['marketprice']}</del></span>
                </div>
            </div>
        </div>
        {/loop}

        {if !empty($fullbackgoods)}
        <div class="fui-cell" id="fullbackgoods" {if $fullbackgoods['minallfullbackallprice']<=0 && $fullbackgoods['minallfullbackallratio']<=0}style="display: none"{/if}>
        <div class="fui-cell-label" style='width:auto' >全返详情</div>
        <div class="fui-cell-info" style="text-align: right;">
            <span class="fui-cell-remark noremark" style="font-size: 0.6rem;color:#333;">
                <i class="yen">&yen;</i>
                {if $fullbackgoods['type']>0}
                总金额 <span class="text-danger">{php echo price_format($fullbackgoods['minallfullbackallratio'],2)}%</span> ，每天返<span class="text-danger">{php echo price_format($fullbackgoods['fullbackratio'],2)}%</span>，时间：<span class="text-danger">{$fullbackgoods['day']}</span>天
                {else}
                总金额 &yen;{php echo price_format($fullbackgoods['minallfullbackallprice'],2)}，每天返&yen;{php echo price_format($fullbackgoods['fullbackprice'],2)}，时间：{$fullbackgoods['day']}天
                {/if}
            </span>
        </div>
    </div>
    {/if}

    <div class="fui-cell  lineblock ">
        <div class="fui-cell-info c000" style="text-align: right;">共 <span id='goodscount' class='text-danger bigprice'>{$total}</span> 件商品 共计：<span class="text-danger bigprice">&yen; <span class='{if !$packageid && empty($exchangeOrder)}goodsprice{/if}'>{php echo price_format($goodsprice,2)}</soan></span></div>
    </div>

</div>
</div>

<!--时间选择器 start-->
<div class="date-picker order-date-picker" style="display: none;">
    <div class="date-alert order-alert show" style="">
        <div class="date-alert-info order-alert-info">
            <div class="date-chose" id="datepicker">
                <div class="year-month">
                    <span class="icon icon-back1 pull-left" id="month-left"></span>
                    <span>2018</span>年<span>1</span>月
                    <span class="icon icon-more2 pull-right" id="month-right"></span>
                </div>
                <div class="detail-day">
                    <div class="week">
                        <div>一</div>
                        <div>二</div>
                        <div>三</div>
                        <div>四</div>
                        <div>五</div>
                        <div>六</div>
                        <div>日</div>
                    </div>
                    <div class="days">
                     <!--   <div id="date20180101" class="day" data-id="20180101" data-date="2018年01月01日 周一" style="color: #ccc;" data-status="1"><span>1</span></div>
                        <div id="date20180102" class="day" data-id="20180102" data-date="2018年01月02日 周二" style="color: #ccc;" data-status="1"><span>2</span></div>
                        <div id="date20180103" class="day" data-id="20180103" data-date="2018年01月03日 周三" style="color: #ccc;" data-status="1"><span>3</span></div>
                        <div id="date20180104" class="day" data-id="20180104" data-date="2018年01月04日 周四" style="color: #ccc;" data-status="1"><span>4</span></div>
                        <div id="date20180105" class="day" data-id="20180105" data-date="2018年01月05日 周五" style="color: #ccc;" data-status="1"><span>5</span></div>
                        <div id="date20180106" class="day" data-id="20180106" data-date="2018年01月06日 周六" style="color: #ccc;" data-status="1"><span>6</span></div>
                        <div id="date20180107" class="day" data-id="20180107" data-date="2018年01月07日 周日" style="color: #ccc;" data-status="1"><span>7</span></div>
                        <div id="date20180108" class="day" data-id="20180108" data-date="2018年01月08日 周一" style="color: #ccc;" data-status="1"><span>8</span></div>
                        <div id="date20180109" class="day" data-id="20180109" data-date="2018年01月09日 周二" style="color: #ccc;" data-status="1"><span>9</span></div>
                        <div id="date20180110" class="day" data-id="20180110" data-date="2018年01月10日 周三" style="color: #ccc;" data-status="1"><span>10</span></div>
                        <div id="date20180111" class="day" data-id="20180111" data-date="2018年01月11日 周四" style="color: #ccc;" data-status="1"><span>11</span></div>
                        <div id="date20180112" class="day" data-id="20180112" data-date="2018年01月12日 周五" style="color: #ccc;" data-status="1"><span>12</span></div>
                        <div id="date20180113" class="day" data-id="20180113" data-date="2018年01月13日 周六" style="color: #ccc;" data-status="1"><span>13</span></div>
                        <div id="date20180114" class="day" data-id="20180114" data-date="2018年01月14日 周日" style="color: #ccc;" data-status="1"><span>14</span></div>
                        <div id="date20180115" class="day" data-id="20180115" data-date="2018年01月15日 周一"><span>15</span></div>
                        <div id="date20180116" class="day" data-id="20180116" data-date="2018年01月16日 周二"><span>16</span></div>
                        <div id="date20180117" class="day" data-id="20180117" data-date="2018年01月17日 周三"><span>17</span></div>
                        <div id="date20180118" class="day" data-id="20180118" data-date="2018年01月18日 周四"><span>18</span></div>
                        <div id="date20180119" class="day" data-id="20180119" data-date="2018年01月19日 周五"><span>19</span></div>
                        <div id="date20180120" class="day" data-id="20180120" data-date="2018年01月20日 周六"><span>20</span></div>
                        <div id="date20180121" class="day" data-id="20180121" data-date="2018年01月21日 周日"><span>21</span></div>
                        <div id="date20180122" class="day active" data-id="20180122" data-date="2018年01月22日 周一"><span>22</span></div>
                        <div id="date20180123" class="day" data-id="20180123" data-date="2018年01月23日 周二"><span>23</span></div>
                        <div id="date20180124" class="day" data-id="20180124" data-date="2018年01月24日 周三"><span>24</span></div>
                        <div id="date20180125" class="day" data-id="20180125" data-date="2018年01月25日 周四"><span>25</span></div>
                        <div id="date20180126" class="day" data-id="20180126" data-date="2018年01月26日 周五"><span>26</span></div>
                        <div id="date20180127" class="day" data-id="20180127" data-date="2018年01月27日 周六"><span>27</span></div>
                        <div id="date20180128" class="day" data-id="20180128" data-date="2018年01月28日 周日"><span>28</span></div>
                        <div id="date20180129" class="day" data-id="20180129" data-date="2018年01月29日 周一"><span>29</span></div>
                        <div id="date20180130" class="day" data-id="20180130" data-date="2018年01月30日 周二"><span>30</span></div>
                        <div id="date20180131" class="day" data-id="20180131" data-date="2018年01月31日 周三"><span>31</span></div>-->
                    </div>
                </div>
            </div>
            <div class="datebtns">
                <div class="date-btn date-btn-cancel" style="margin-right: 0.75rem">取消</div>
                <div class="date-btn date-btn-confirm">确定</div>
            </div>
        </div>

    </div>
</div>
<!--时间选择器 end-->


{if $isgift}
<input type="hidden" name="giftid" id="giftid" value="{$giftid}">
<div class="fui-cell-group sm ">
    <div class="fui-cell">
        {if count($gifts)>1}
        <div class='fui-cell-text fui-cell-giftclick'>
            赠品：<label id="gifttitle">请选择赠品</label>
        </div>
        {else}
        {loop $gifts $item}
        <div class='fui-cell-text' onclick="javascript:window.location.href='{php echo mobileUrl('goods/gift',array('id'=>$item['id']))}'">
            赠品：{$gifttitle}
        </div>
        {/loop}
        {/if}
        <div class='fui-cell-remark'></div>
    </div>
</div>
{/if}
{if $hasinvoice}
<div class="fui-cell-group">
    <div class="fui-cell">
        <div class="fui-cell-label">发票抬头</div>
        <div class="fui-cell-info c000">
            <input type='text' class='fui-input' value="{$invoicename}" id='invoicename' placeholder="请填写发票抬头(选填)" readonly data-type="{$invoice_type}"/></div>
    </div>
</div>
{/if}
{if p('offic') && p('commission') && empty($member['agentid']) && $offic_register}
<div class="fui-cell-group">
    <div class="fui-cell fui-cell-textarea">
        <div class="fui-cell-label" style="margin:0.15rem 0 0 0;">
            邀请码
        </div>
        <div class="fui-cell-info c000">
            <input type="tel" id='officcode' class='officcode' style="width:100%;height:1rem;border:none;"  value="" placeholder="邀请码"/>
        </div>
    </div>
</div>
{/if}
{if !empty($order_formInfo)}
{template 'diyform/formfields'}
{/if}
<div class="fui-cell-group">
    <div class="fui-cell fui-cell-textarea">
        <div class="fui-cell-label" style="margin:.15rem 0 0 0">
            买家留言
        </div>
        <div class="fui-cell-info c000">
            <textarea rows="2" placeholder="50字以内（选填）" id='remark'></textarea>
        </div>
    </div>
</div>

{if empty($exchangeOrder) && empty($taskgoodsprice) && empty($packageid) && empty($if_bargain['bargain'])}
<div class="fui-cell-group">

    <div id='coupondiv' class="fui-cell fui-cell-click" {if $couponcount<=0}style='display:none'{/if}>
    <div class='fui-cell-label' style='width:auto;'>优惠券</div>
    <div class='fui-cell-info'></div>
    <div class='fui-cell-remark'>
        <img id="couponloading" src="../addons/ewei_shopv2/static/images/loading.gif" style="vertical-align: middle;display: none;" width="20" alt=""/>
        <div class='badge badge-danger' {if $couponcount<=0}style='display:none'{/if}>{$couponcount}</div>
    <span class='text' {if $couponcount>0}style='display:none'{/if}>无可用</span>
</div>
</div>


{if $deductcredit>0}
<div class="fui-cell">
    <div class="fui-cell-label" style="width: auto;"> <span id="deductcredit_info" class='text-danger'>{$deductcredit}</span> {$_W['shopset']['trade']['credittext']}可抵扣 ￥<span id="deductcredit_money" class='text-danger'>{php echo number_format($deductmoney,2)}</span> 元</div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark"><input id="deductcredit" data-credit="{$deductcredit}" data-money='{$deductmoney}' type="checkbox" class="fui-switch fui-switch-small fui-switch-danger pull-right"></div>
</div>
{/if}
{if $deductcredit2>0}
<div class="fui-cell">
    <div class="fui-cell-label" style="width: auto;">{$_W['shopset']['trade']['moneytext']}可抵扣 <span id='deductcredit2_money' class="text-danger">{php echo number_format($deductcredit2,2)}</span>元
        {if $include_dispath}<span id="include_dispath">（含运费）</span>{/if}</div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark info"><input id="deductcredit2" data-credit2="{$deductcredit2}" type="checkbox"  class="fui-switch fui-switch-small fui-switch-danger pull-right"></div>
</div>
{/if}
</div>

{if !empty($stores)}
<script language='javascript' src='https://api.map.baidu.com/api?v=2.0&ak=ZQiFErjQB7inrGpx27M1GR5w3TxZ64k7&s=1'></script>
<div class='fui-according-group'>
    <div class='fui-according expanded'>
        <div class='fui-according-header'>
            <!--<i class='icon icon-shop'></i>-->
            <span class="text">适用门店</span>
            <span class="remark" style="margin-right: .2rem"><div class="badge">{php echo count($stores)}</div></span>
        </div>
        <div class="fui-according-content store-container  fui-cell-group">
            {loop $stores $item}
            <!--<div  class="fui-list store-item" data-lng="{php echo floatval($item['lng'])}" data-lat="{php echo floatval($item['lat'])}">-->
                <!--<div class="fui-list-media">-->
                    <!--<i class='icon icon-shop'></i>-->
                <!--</div>-->
                <!--<div class="fui-list-inner store-inner">-->
                    <!--<div class="title"><span class='storename'>{$item['storename']}</span></div>-->
                <!--</div>-->
                <!--<div class="fui-list-angle ">-->
                    <!--&lt;!&ndash;{if !empty($item['tel'])}<a href="tel:{$item['tel']}" class='external '><i class=' icon icon-phone' style='color:green'></i></a>{/if}&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{php echo mobileUrl('store/map',array('id'=>$item['id'],'merchid'=>$item['merchid']))}" class='external' ><i class='icon icon-location' style='color:#f90'></i></a>&ndash;&gt;-->
                    
                <!--</div>-->
            <!--</div>-->
            <a  href="{php echo mobileUrl('store/detail',array('id'=>$item['id'],'merchid'=>$item['merchid']))}"  class="fui-cell store-item external"
                data-lng="{php echo floatval($item['lng'])}"
                data-lat="{php echo floatval($item['lat'])}">
                <div class="fui-cell-icon">
                    <i class='icon icon-dingwei1'></i>
                </div>
                <div class="fui-cell-text">
                    <div class="title"><span class='storename'>{$item['storename']}</span></div>
                </div>
                <div class="fui-cell-remark ">
                    查看
                </div>
            </a>
            {/loop}
            {if count($stores)>3}
            <div class='show-allshop'><span class='show-allshop-btn'>加载更多门店</span></div>
            {/if}
        </div>
        <div id="nearStore" style="display:none">
            <div class='fui-list store-item'  id='nearStoreHtml'></div>
        </div>
    </div></div>
{/if}
{/if}


<div class="fui-cell-group">
    <input type="hidden" id="weight" name='weight' value="{$weight}" />
    {if !empty($exchangeOrder)}
    <div class="fui-cell">
        <div class="fui-cell-label" >兑换券</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark"><span style="color: red;">- &yen; {php echo number_format($exchangecha,2);}</span></div>
    </div>
    {/if}
    <div class="fui-cell">
        <div class="fui-cell-label" >商品小计</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">&yen; <span class='{if !$packageid && empty($exchangeOrder)}goodsprice{/if}'>
            {if !empty($exchangeOrder)}{$exchangeprice}{elseif $taskgoodsprice}{$taskgoodsprice}{else}{php echo price_format($goodsprice,2)}{/if}
        </span></div>
    </div>

    {if empty($exchangeOrder) && empty($taskgoodsprice)}
    {if !$packageid}
    {if empty($if_bargain['bargain'])}
    <div class="fui-cell"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >重复购买优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-￥<span id='showbuyagainprice' class='showbuyagainprice'></span></div>
        <input type="hidden" id='buyagain' class='buyagainprice'  value="{php echo number_format($buyagainprice,2)}" />
    </div>
    {/if}
    <div class="fui-cell istaskdiscount"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >任务活动优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-&yen; <span id='showtaskdiscountprice' class='showtaskdiscountprice'></span></div>
        <input type="hidden" id='taskdiscountprice' class='taskdiscountprice'  value="{php echo number_format($taskdiscountprice,2)}" />
    </div>

    <div class="fui-cell taskcut"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >任务中心优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-&yen; <span id='showtaskcut' class='showtaskcut'></span></div>
        <input type="hidden" id='taskcut' value="{php echo number_format($taskcut,2)}" />
    </div>
    {if empty($taskreward)}
    <div class="fui-cell islotterydiscount"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >游戏活动优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-&yen; <span id='showlotterydiscountprice' class='showlotterydiscountprice'></span></div>
        <input type="hidden" id='lotterydiscountprice' class='lotterydiscountprice'  value="{php echo number_format($lotterydiscountprice,2)}" />
    </div>


    <div class="fui-cell discount"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >会员优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-&yen; <span id='showdiscountprice' class='showdiscountprice'></span></div>
        <input type="hidden" id='discountprice' class='discountprice'  value="{php echo price_format($discountprice,2)}" />
    </div>

    <div class="fui-cell isdiscount"  style="display: none">
        <div class="fui-cell-label" style='width:auto' >促销优惠</div>
        <div class="fui-cell-info"></div>
        <div class="fui-cell-remark noremark">-&yen; <span id='showisdiscountprice' class='showisdiscountprice'></span></div>
        <input type="hidden" id='isdiscountprice' class='isdiscountprice'  value="{php echo price_format($isdiscountprice,2)}" />
    </div>

    <div class="fui-cell" id="deductenough" {if !$saleset['showenough']}style='display:none'{/if}>
    <div class="fui-cell-label" style='width:auto' >商城优惠
        <span style="font-size: .6rem">：单笔满 ￥
            <span id="deductenough_enough">{php echo number_format($saleset['enoughmoney'],2)}</span> 元立减￥
            {if $saleset['showenough']}
            <span id="deductenough_enoughdeduct">{php echo number_format($saleset['enoughdeduct'],2)}{/if}</span>
        </span>
    </div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark">-&yen; <span id='deductenough_money'>{if $saleset['showenough']}{php echo number_format($saleset['enoughdeduct'],2)}{/if}</span></div>
</div>

<div class="fui-cell" id="merch_deductenough" {if !$merch_saleset['merch_showenough']}style='display:none'{/if}>
<div class="fui-cell-label" style='width:auto' >商户单笔满 <span id="merch_deductenough_enough" class='text-danger'>{php echo number_format($merch_saleset['merch_enoughmoney'],2)}</span> 元立减</div>
<div class="fui-cell-info"></div>
<div class="fui-cell-remark noremark">-&yen; <span id='merch_deductenough_money'>{if $merch_saleset['merch_showenough']}{php echo number_format($merch_saleset['merch_enoughdeduct'],2)}{/if}</span></div>
</div>

<div class="fui-cell" id="seckillprice"  {if $seckill_price<=0}style="display: none"{/if}>
<div class="fui-cell-label" style='width:auto' >秒杀优惠</div>
<div class="fui-cell-info"></div>
<div class="fui-cell-remark noremark">-&yen; <span id="seckillprice_money">{php echo number_format($seckill_price,2)}</span></div>
</div>

{/if}

{/if}

{if $liveprice>0}
    <input type="hidden" id="liveid" value="{$liveid}" />
{/if}
{if $packageid}
<div class="fui-cell" id="showpackageprice">
    <div class="fui-cell-label" >套餐优惠</div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark">
        &yen; <span class='packageprice'>-{php echo price_format($marketprice-$realprice,2)}</span>
    </div>
</div>
{/if}

{/if}<!--任务中心if闭合-->
<div class="fui-cell" id="showdispatchprice">
    <div class="fui-cell-label" >运费</div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark">&yen; <span class='{if !$packageid && empty($exchangeOrder)}dispatchprice{/if}'>{php echo price_format($dispatch_price,2)}</span></div>
</div>


<div class="fui-cell" id='coupondeduct_div' style='display:none'>
    <div class="fui-cell-label" style='width:auto' id='coupondeduct_text' ></div>
    <div class="fui-cell-info"></div>
    <div class="fui-cell-remark noremark">-&yen; <span id="coupondeduct_money">0</span></div>
</div>
</div>

</div>
{if $isgift}
<div id='gift-picker-modal' style="margin:-100%;">
    <div class='gift-picker'>
        <div class="fui-cell-group fui-sale-group" style='margin-top:0;'>
            <div class="fui-cell">
                <div class="fui-cell-text dispatching">
                    请选择赠品:
                    <div class="dispatching-info" style="max-height:12rem;overflow-y: auto ">
                        {loop $gifts $item}
                        <div class="fui-list goods-item align-start" data-giftid="{$item['id']}">
                            <div class="fui-list-media">
                                <input type="radio" name="checkbox" class="fui-radio fui-radio-danger gift-item" value="{$item['id']}" style="display: list-item;">
                            </div>
                            <div class="fui-list-inner">
                                {loop $item['gift'] $gift}
                                <div class="fui-list">
                                    <div class="fui-list-media image-media" style="position: initial;">
                                        <a href="javascript:void(0);">
                                            <img class="round" src="{php echo tomedia($gift['thumb'])}" data-lazyloaded="true">
                                        </a>
                                    </div>
                                    <div class="fui-list-inner">
                                        <a href="javascript:void(0);">
                                            <div class="text">
                                                {$gift['title']}
                                            </div>
                                        </a>
                                    </div>
                                    <div class='fui-list-angle'>
                                        <span class="price">&yen;<del class='marketprice'>{$gift['marketprice']}</del></span>
                                    </div>
                                </div>
                                {/loop}
                            </div>
                        </div>
                        {/loop}
                    </div>
                </div>
            </div>
            <div class='btn btn-danger block'>确定</div>
        </div>
    </div>
</div>
{/if}

<div class="fui-navbar order-create-checkout">
    <a href="javascript:;" class="nav-item total">
        <p style="color: #000">
            需付：<span class="text-danger  bigprice">&yen; <span class="{if !$packageid && empty($exchangeOrder)}totalprice{/if}">
                {if !empty($exchangeOrder)}{$exchangerealprice}{elseif $taskgoodsprice}{$taskgoodsprice}{else}{php echo price_format($realprice,2)}{/if}</span></span>
        </p>
    </a>
    <a href="javascript:;" class="nav-item btn btn-danger buybtn">立即支付</a>
</div>

<!--关注二维码--><!-- class="fui-mask visible"-->
<div id="attention"   style="display: none;">
    <div class="attention-alert">
        <div class="attention-img"><img src="{php echo tomedia($shop['logo'])}" alt=""></div>
        <div class="attention-title">亲爱的上帝，为了您能正常的接收物流信息，请您先关注我们的公众号</div>
        <div class="attention-content">
            <img src="{php echo tomedia($share['followqrcode'])}" alt=""style="margin-right:1.6rem ;width: 5.35rem">
            <img src="../addons/ewei_shopv2/static/images/zhiwen.png" alt=""style="width: 3.3rem;">
            <p >长按指纹识别图中二维码</p>
        </div>
        <i class="icon icon-guanbi1" id="attention-colse" style="font-size:1.5rem;color:#fff;position: absolute;top:105%;left:46%"></i>
    </div>
</div>

<!-- 放弃付款--><!--class="fui-mask visible"-->
<div id="giveUp"  style="display:none">
    <div class="giveUp-alert">
        <div class="giveUp-title">确定要放弃付款吗？</div>
        <div class="giveUp-subtitle">喜欢的商品可能随时会被抢空哦</div>
        <div class="giveUp-btn">
            <a class="btn btn-default block cancel">取消</a>
            <a class="btn btn-default block cancel back" style="color: #ff5555;border-left:0;">确定</a>
        </div>
    </div>
</div>

<div id="addaddress"   style="display:none">
    <div class="address-alert style1">
        <div class="address-title">请填写收货地址哦！</div>
        <div class="fui-cell-group" style="margin-top:0">
            <div class="fui-cell">
                <div class="fui-cell-label">收货人</div>
                <div class="fui-cell-info c000">
                    <input type="text" id="realname" name="realname" value="" placeholder="请填写收货人姓名" class="fui-input"></div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">手机号</div>
                <div class="fui-cell-info c000">
                    <input type="tel" id="mobile" name="mobile" value="" placeholder="联系电话" class="fui-input">
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">选择地区</div>
                <div class="fui-cell-info c000">
                    <input type="text" id='areas'  name='areas' data-value="" value="" placeholder="所在地区"  class="fui-input" readonly=""/>
                </div>
                <div class="fui-cell-remark noremark"><i class="icon icon-arrow-down" style="font-size:.8rem;color:#b2b2b2"></i> </div>
            </div>

            {if !empty($new_area) && !empty($address_street)}
            <div class='fui-cell'>
                <div class='fui-cell-label'>所在街道</div>
                <div class='fui-cell-info c000'>
                    <input type="text" id='street'  name='street' data-value="" value="" placeholder="所在街道"  class="fui-input" readonly=""/>
                </div>
            </div>
            {/if}

            <div class="fui-cell fui-cell-textarea">
                <div class="fui-cell-label " style="margin:0">
                    详细地址
                </div>
                <div class="fui-cell-info c000">
                    <textarea rows="2" id='addresss' name='address' placeholder="请写门牌号等"></textarea>
                </div>
            </div>

        </div>
        <a id="btn-submit" class=" btn btn-danger disable block">保存地址</a>
        <i class="icon icon-guanbi1" id="address-colse" style="font-size:1.5rem;color:#fff;position: absolute;top:105%;left:46%"></i>
    </div>
</div>

{template '_account'}
{template 'sale/coupon/util/picker'}
{php $followed = m('user')->followed($member['openid'])}

<script language='javascript'>

    require(['../addons/ewei_shopv2/plugin/cycelbuy/static/js/app/order/create.js'], function (modal) {
    modal.init({php echo json_encode($createInfo)},{$invoice_arr}||{});


    {if !$followed && !empty($share['followqrcode'])&& empty($trade['shop_strengthen'])}
        $("#attention").css("display","block");
    {/if}

    $("#attention-colse").click(function(){
        $("#attention").addClass("shut")
        setTimeout(function(){
            $("#attention").css("display","none")

            $("#attention").removeClass("shut")
        },1000)
    })

    $(".back2").click(function(){
        $("#giveUp").css("display","block")
    })
    $("#giveUp .cancel").click(function(){
        $("#giveUp").css("display","none")
    })

    $("#address-colse").click(function(){
        $("#addaddress").addClass("shut")
        setTimeout(function(){
            $("#addaddress").css("display","none")

            $("#addaddress").removeClass("shut")
        },1000)
    })
    $("#address-show").click(function(){
        $("#addaddress").css("display","block")
    })


});</script>
</div>
{template '_footer'}
