
.lynn_item{height:1rem;background: #eee;}
.fl{float:left;}
.fr{float:right;}
.fui-navbar ~ .fui-content, .fui-content.navbar{padding-bottom:0;}
/*
拼团首页
*/
.lynn_index_menu{border-top:1px solid #f3f4f4;background: #fff;padding:0.5rem 0;}
.lynn_index_menu > a{width:25%;float:left;text-align:center;}
.lynn_index_menu > a img{width:2.25rem;height:2.25rem;-webkit-border-radius: 2.2rem;-moz-border-radius: 2.2rem;border-radius: 2.2rem;display: block;margin:0 auto;}
.lynn_index_menu > a p{font-size:0.6rem;padding:0rem 0.4rem;color:#7a7a7a;height:1.6rem;line-height: 1.6rem;overflow: hidden; }
.lynn_index_rec{border-bottom:1px solid #e0e0e0;background: #fff;padding:0.4rem 0;text-align: center;line-height:normal;}
.lynn_index_rec p{font-size:0.8rem;display: block;margin:0 auto;font-weight:bold;width:8rem;position: relative;}
.lynn_index_rec p > i{position: absolute;width:100%;height:1px;background: #919191;display: block;left:0;bottom:0.2rem;}
.lynn_index_rec p > span{display: block;width:6rem;background: #fff;margin:0 auto;z-index: 1;position: relative;}
.lynn_index_rec > span{font-size:0.5rem;display: block;color:#8d8d8d;}

.lynn_index_list_ul{display: block;}
.lynn_index_list_li{border-bottom:0.3rem solid #eee;padding:0.9rem 0.6rem;background: #fff;}
.lynn_index_list_a{width:4.25rem;height:4.25rem;margin:0;}
.lynn_index_list_a.fui-list-media img{width:100%;height:100%;}
.lynn_index_list_info{padding:0 0 0 0.4rem;display: flex;flex-direction: column;justify-content:space-between;height:4.25rem}
.lynn_index_list_info > h3{font-size:0.65rem;line-height:1rem;color:#333;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;
    -webkit-box-orient:vertical;white-space:pre-wrap;height:2rem;font-weight: normal}
.lynn_index_list_info > h3 .person{
    min-width:2.25rem;
    text-align:center;
    padding:0 0.3rem;
    box-shadow:0 0 0.5rem 0 rgba(255, 221, 221, 0.8);
    margin:0 0.25rem;
    font-size:0.55rem;
    font-weight:bold;
    line-height:0.85rem;
    color:#ff6000;
    border-radius:0.1rem;
    display:inline-block;
    background-image:-webkit-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-moz-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-ms-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-o-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}
.lynn_index_list_info > p{font-size:0.6rem;color:#959595;height:1.4rem;line-height: 0.7rem;overflow: hidden;display: block;margin:0.1rem 0;}
.lynn_index_list_info > span{font-size:0.55rem;color:#b2b2b2;height:0.75rem;line-height:0.75rem;display: block;}
.lynn_index_list_info .price{font-size:0.9rem;font-weight:bold;color:#ff5555;line-height:0.9rem;}
.lynn_index_list_team{height:1.4rem;-webkit-border-radius: 1.4rem;border-radius: 1rem;overflow: hidden;background: #ff8080;}
.lynn_index_list_team_left{line-height: 1.4rem;font-size:0.6rem;color:#fff;display:block;float:left;}
.lynn_index_list_team_left strong{width:1.2rem;height:1.2rem;margin:0.1rem;display:block;float:left;background: #fff;-webkit-border-radius: 1.2rem;border-radius: 1.2rem;
margin-right:0.2rem;text-align: center;font-weight: normal;line-height: 1.2rem;}
.lynn_index_list_team_left i.icon{color:#ff4a65;font-size:0.9rem;}
.lynn_index_list_team_left em{font-style: normal;font-size:0.8rem;font-weight:bold;}

.fui-list a.lynn_index_list_team_a{width:3.8rem;line-height:1.3rem;background:#ff5555;color:#fff;text-align:center;border-radius:0.25rem;font-size:0.6rem;float:right;margin-top:-0.4rem;
}
.lynn_index_list_team_a i{font-style: normal;color:#fff;}
.fui-list:before{left:0;border:none;}
/*
拼团分类
*/
.fui-header a.category_menu{font-size:1rem;}
.category_menu_list{width:100%;background: #fff;position: absolute;top:2.2rem;left:0rem;display: none;z-index: 1001;}
.category_menu_list a{height:2rem;display: block;line-height: 2rem;padding:0 10px;font-size:0.7rem;border-bottom: 1px solid #eee;color:#ff9326;background: #fff;}
.content-empty{margin:0;display: none;}
.fui-message.fui-message-popup{position: relative;padding:0;}
.lynn-mask{display:none;opacity: 0.8;top:2.2rem;}
/*
拼团订单
*/
.lynn_order_item{margin:0;background: #fff;border-bottom:0.6rem solid #f3f3f3;}
.lynn_order_title{padding:0 0.5rem;height:2rem;line-height:2rem;font-size:0.65rem;color:#535353;position:relative}
.lynn_order_title:after{
    content: '';
    position: absolute;
    border-top: 1px solid #efefef;
    left: 0.6rem;
    right: 0.6rem;
    bottom: 0;
}
.lynn_order_title span{font-weight:normal;}
.lynn_order_list{padding:0.9rem 0.6rem;border:none;background: #fff;position:relative}
.lynn_order_list:after{
    content: '';
    position: absolute;
    border-top: 1px solid #efefef;
    left: 0.6rem;
    right: 0.6rem;
    bottom: 0;
}
.lynn_order_list .fui-list-media{width:4rem;height:4rem;-webkit-border-radius: 0.2rem;border-radius: 0.2rem;}
.fui-list-media img.round{width:100%;height:100%;}
.lynn_order_list .fui-list-inner{width:100%;height:4rem}
.lynn_order_item .fui-list-angle{margin:0;vertical-align:text-top;text-align: right;color:#8e8e8e;font-size:0.6rem;height:4rem}
.fui-list-angle span{color:#000;font-size:0.6rem;}
.lynn_order_list_title{font-size:0.7rem;color:#000;height:2rem;line-height:1rem;overflow: hidden;}
.lynn_order_list_subtitle{font-size:0.6rem;color:#000;height:0.8rem;overflow: hidden;line-height: 0.8rem;}
.lynn_order_price{border-bottom:1px solid #f6f6f6;height:2rem;line-height: 2rem;color:#515963;font-size:0.6rem;padding:0 0.5rem;}
.lynn_order_bottom{height:2.2rem;padding:0 0.2rem;}
.lynn_btn{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border-radius: 1.3rem;box-sizing: border-box;cursor: pointer;display: block;font-family: inherit;font-size: 0.6rem;height: 1.3rem;
    line-height: 1.3rem;margin: 0;padding: 0 0.5rem;position: relative;text-align: center;text-decoration: none;text-overflow: ellipsis;white-space: nowrap;border: 1px solid #f90;
    margin: 0.45rem 0.2rem;-webkit-user-select: none;-moz-user-select: none;-moz-transition-duration: 300ms;-webkit-transition-duration: 300ms;transition-duration: 300ms;-webkit-transition-property: background-color;
    transition-property: background-color; display: inline-block;}
.lynn_btn_cancel{border:1px solid #c4c5c8;color:#4c545f;}
.lynn_btn_danger{border:1px solid #fd5454;background: #fd5454;color:#fff;}
.lynn_btn_finish{border:1px solid #ff8507;background: #ff8507;color:#fff;}
.lynn_btn_cancel select {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;}
/*
拼团详情
*/
.lynn_team_detail_head{border-bottom:1px solid #f0f0f0;background: #fff;padding-bottom:0.7rem;position: relative;}
.lynn_swipe{position: relative;}
.team_img{position: absolute;right:1rem;bottom:4.9rem;z-index: 10;width:6rem;height:6rem;}
.lynn_team_detail_title{padding:0 0.5rem;height:2.3rem;font-size:0.8rem;text-align: center;overflow: hidden;margin-top:0.3rem;}
.lynn_team_detail_goods_info{text-align: center;color:#fd5454;font-size:0.6rem;height:1.1rem;line-height: 1.1rem;overflow: hidden;text-align: center;}
.lynn_team_detail_goods_info strong{font-size:0.8rem;}
.lynn_team_detail_goods_info del{color:#959595;font-size:0.5rem;padding:0 0.2rem;}

.pp{padding:0  0.6rem 1.25rem 0.6rem;font-size: 12px;background-color: white;}
.pp>div{
    background: #f7f7f7;
}
.pp_users{padding: 10px 0px;text-align: center;overflow: hidden;}
.pp .num{
    line-height:2.4rem;
    font-size:0.65rem;
    color:#333;
    font-weight:bold;
    text-align:center;
}
.pp .num b{
    font-size:1.25rem;
    font-weight:bold;
    color:#ff5555;
}
.pp_users_item{width: 49px;height: 49px;overflow: hidden;margin-right: 10px;display: inline-block;}
:last-child.pp_users_item{margin-right: 0px;}
.pp_users_item img{border-radius: 49px;width: 45px;height: 45px;overflow: hidden;display: block;box-shadow: 0px 0px 0px 2px #fff;background-clip: padding-box;-webkit-border-radius: 49px;}
.pp_users_normal:nth-child(1){position:relative}
.pp_users_normal:nth-child(1):after{content:'团长';position:absolute; right: 10px;
    bottom: 0px;
    width: 30px;height:20px;line-height:20px;text-align:center;background-color:#F0373D;color:#fff;font-size:8px;-webkit-border-radius:21px;border-radius:21px;background-clip:padding-box}
.pp_users_normal:nth-child(2){position:relative}
.pp_users_normal:nth-child(2):before{content: '沙发';
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #FF9910;
    color: #fff;
    font-size: 8px;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    background-clip: padding-box;}
.pp_users2 .pp_users_item{width: 34px;height: 34px;margin-right: 2px;}
.pp_users2 .pp_users_item img{border-radius: 34px;width: 30px;height: 30px;}

.groups_info{color:#959595;font-size:0.5rem;}
.fui-cell-text{line-height: 1.5rem;height:2.5rem;text-align: center;padding:0.5rem 0;}
.fui-labeltext{display: inline-block;}
.fui-labeltext.fui-labeltext-danger{border:none;vertical-align: middle;}
.fui-labeltext.fui-labeltext-danger .label{background: none;color:#333;}
.fui-cell-text b{color:#ef4f4f;}
.block-team .lynn_team_list:nth-of-type(1) .lynn_team_list_dd{
    border: none;
}
.lynn_team_list{background: #fff;padding:0 0.5rem 0.5rem;display: block;}
.lynn_team_list_top{height:1.5rem;line-height: 1.5rem;position: relative;}
.lynn_team_list_top b{height:1px;display: block;position: absolute;left:0;top:0.75rem;background: #f0f0f0;width:100%;}
.lynn_team_list_top p{width:50%;height:1.5rem;line-height:1.5rem;display: block;background: #fff;margin:0 auto;z-index: 10;position: relative;text-align: center;color:#051b28;font-size:0.65rem;}
.lynn_icon{vertical-align: bottom;}

.lynn_team_list_dd{height:2.1rem;border-bottom: 1px solid #f0f0f0;line-height: 2.1rem;font-size:0.6rem;color:#9d9d9d;}
.lynn_team_list_dd img{width:1.5rem;height:1.5rem;float:left;margin:0.3rem 0.2rem 0 0;-webkit-border-radius: 1.5rem;border-radius: 1.5rem;}
.lynn_team_list_dd span.fl{max-width:4rem;overflow: hidden;font-size: 0.65rem}
.lynn_team_list_dd span.fr{font-weight:bold;font: 0.6rem;font-weight: normal}

.step {
    padding: 15px 10px; font-size: 12px;position: relative; background:#fff;
}
.step::after {height: 0px; clear: both; display: block; visibility: hidden; content: "";}
.step_hd {height: 18px; line-height: 18px; margin-bottom: 12px;}
.step_list::after {height: 0px; clear: both; display: block; visibility: hidden; content: "";}
.step_item {width: 25%; padding-left: 25px; float: left; position: relative;height:1.6rem;line-height: 0.8rem;}
.step_num {border-radius: 20px; border: 1px dashed rgb(213, 213, 213); border-image: none; left: 0px; top: 0.25rem; width: 20px; height: 20px; text-align: center; color: rgb(102, 102, 102); line-height: 20px;
    position: absolute; background-clip: padding-box; background-color: rgb(255, 255, 255);}
.step_tit {color: rgb(102, 102, 102); line-height: 0.8rem; font-size: 10px;}
.step_item_on .step_num {border: 1px solid rgb(240, 55, 61); border-image: none; color: rgb(255, 255, 255); background-color: rgb(240, 55, 61);}
.step_item_on .step_tit {color: rgb(240, 55, 61);}
.step_more {top: 15px; height: 18px; text-align: right; right: 10px; color: #9b9b9b; line-height: 18px; display: block; position: absolute;}
.step_more::after {background-position: -303px -102px; width: 6px; height: 12px; margin-left: 5px; vertical-align: -1px; display: inline-block; content: "";}
.step_hd i{float:left;height:15px;width:5px;background: #fd5454;margin-right:0.2rem;}

.lynn_footer{z-index: 1000;}
.lynn_footer a.other{width:80%;text-align: center;height:2.5rem;line-height: 2.5rem;background: #fd5454;color:#fff;font-size:0.7rem;}
.lynn_footer a.home{width:20%;text-align: center;height:2.5rem;color:#999;font-size:0.5rem;}
.lynn_footer a.home p{font-size:1.1rem;height:1.5rem;display: block;}
.lynn_footer a{display: block;float:left;}
/*
拼团商品详情
*/
.lynn_back_icon{width:1.5rem;height:1.5rem;display: block;position: fixed;left:0.7rem;top:0.7rem;background: #000;color:#fff;font-size:1rem;text-align: center;line-height: 1.5rem;z-index: 10;
-webkit-border-radius: 1.5rem;border-radius: 1.5rem;opacity:0.6;filter:alpha(opacity=60); }
.lynn_goods_head{padding:0.35rem 0.5rem 0 0.5rem;background: #fff;border-bottom:0.4rem solid #f3f3f3;}
.lynn_goods_head .subtitle{
    line-height:0.85rem;
    font-size:0.6rem;
    color:#999;
    margin-top:0.42rem;
}
.lynn_goods_head .price{
    font-size:0.6rem;
    color:#999;
    line-height:2rem;
    overflow:hidden;

}
.lynn_goods_head .price strong{
    font-size:1rem;
    font-weight:bold;
    color:#ff5555;
}
.lynn_goods_head_title{
    font-size:0.4rem;
    line-height:1rem;
    color:#000;
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    /*display:-webkit-box;*/
    /*-webkit-line-clamp:2;*/
    /*-webkit-box-orient:vertical;*/
    white-space:pre-wrap;
    font-weight: normal;
}
.lynn_goods_head_title span,.lynn_opengroups_head_goods .person{
    min-width:2.25rem;
    text-align:center;
    padding:0 0.3rem;
    box-shadow:0 0 0.5rem 0 rgba(255, 221, 221, 0.8);
    margin:0 0.25rem;
    font-size:0.55rem;
    font-weight:bold;
    line-height:0.85rem;
    color:#ff6000;
    border-radius:0.1rem;
    display:inline-block;
    background-image:-webkit-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-moz-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-ms-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    background-image:-o-gradient(linear, 0 0, right 0, from(#ff6000), to(#ff8a00));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.lynn_goods_follow{float:right;width:10%;display: block;height:2rem;margin:0.5rem 0;font-size:0.6rem;text-align: center;border-left:1px solid #c6c6c6;}
.lynn_goods_follow i{display: block;height:1rem;font-size:1rem;text-align: center;line-height: 1rem;}
.lynn_goods_follow i.on{color:#ff473f;display: none;}

.lynn_goods_head_subtitle{padding:0.4rem 0;line-height: 0.8rem;color:#999;font-size:0.7rem;clear: both;overflow: hidden;}
.lynn_goods_head_info{color:#313131;font-size:0.6rem;height:1rem;line-height: 1rem;clear: both;}
.lynn_goods_head_info strong{font-size:0.8rem;color:#fd5454;}
.lynn_goods_head_info del{font-size:0.5rem;color:#959595;padding-left:0.2rem;}
.lynn_goods_head_info span.fr{color:#959595;}
.lynn_goods_head_info span.fr b{color:#000;}
.lynn_goods_invitation{border-bottom:0.4rem solid #f3f3f3;background: #fff;padding:0.5rem;color:#959595;font-size:0.65rem;}
.lynn_goods_invitation a{color:#353535;text-decoration: underline;}

.lynn_goods_content{padding:0 0.5rem;background: #fff;}
.lynn_goods_content_title{height:2rem;line-height: 2rem;font-size:0.7rem;color:#000;position: relative;
    border-bottom: 1px solid #efefef;}

.lynn_goods_content_info{padding:0.5rem 0;}
.lynn_goods_btn{flex: 1;height:2.5rem;color:#fff;display: block;float:left;text-align: center;font-size:0.6rem;padding:0.2rem 0;}
.lynn_goods_btn p strong{font-size:0.6rem;font-weight:normal;}
.lynn_btn_waring{background: #ff8080;}
.lynn_goods_discount{height:2rem;
    line-height:2rem;
    background:#fff;
    color:#ff5555;
    font-size:0.65rem;
    border-top:1px solid #ededed;
}
.lynn_goods_discount span{color:#fd5454;}
/*
拼团操作页面
*/
.lynn_opengroups_head{border-bottom: 1px solid #f0f0f0;background: #fff;}
.lynn_opengroups_head_goods{padding-left:0.5rem;}
.lynn_opengroups_head_goods h2{
    font-size:0.65rem;
    font-weight: normal;
    color:#333;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
}
.lynn_opengroups_head_goods_info{font-size:0.6rem;}
.lynn_opengroups_head_goods_info span.fl{color:#051b28;}
.lynn_opengroups_head_goods_info span.fl strong{color:#fd5454;font-size:0.65rem;}
.lynn_opengroups_head_goods_info span.fr{color:#959595;}
.lynn_opengroups_head_goods_info span.fr b{color:#394850;}

.lynn_opengroups_invitation{padding:0.5rem;background: #fff;border-bottom: 0.25rem solid #eee;}
.lynn_opengroups_invitation p{line-height:3.25rem;font-size:0.6rem;color:#44545e;text-align: center}
.lynn_opengroups_invitation p b{color:#fd5454;}
.lynn_fightgroups_btn{width:45%;border:1px solid #909090;-webkit-border-radius: 1.6rem;height:1.6rem;display: block;text-align: center;line-height: 1.6rem;font-size:0.7rem;color:#1c1c1c;float:left;margin:0.4rem;}
.lynn_opengroups_btn{width:45%;border:1px solid #fd5454;-webkit-border-radius: 1.6rem;height:1.6rem;display: block;text-align: center;line-height: 1.6rem;font-size:0.7rem;color:#1c1c1c;float:right;
background: #fd5454;color:#fff;margin:0.3rem;}

.lynn_more_groups{background: #f2f2f2;}
.lynn_more_groups_head{height:2rem;}
.lynn_more_groups_head p{height:2rem;line-height: 2rem;position: relative;width:50%;margin:0 auto;}
.lynn_more_groups_head p i{width:100%;height:1px;background: #ececec;position: absolute;left:0;top:1rem;}
.lynn_more_groups_head p span{height:2rem;display: block;margin:0 auto;background: #f2f2f2;text-align: center;width:50%;color:#5a5a5a;font-size:0.65rem;font-weight: bold;position: relative;}
.lynn_more_groups_list{display: block;}
.lynn_more_groups_list li{
    margin-bottom: 0.4rem;
}
.lynn_more_groups_list li:nth-of-type(2n-1){background: #f3f3f3;width:50%;float:left;list-style: none;padding-right:0.2rem}
.lynn_more_groups_list li:nth-of-type(2n){background: #f3f3f3;width:50%;float:left;list-style: none;padding-left:0.2rem}
.lynn_more_groups_list_a{width:100%;height:9rem;display: block;}
.lynn_more_groups_list_a img{width:100%;height:100%;}
.lynn_more_groups_list li h3{height:1.8rem;font-size:0.7rem;background:#fff;color:#474747;padding:0.2rem 0.2rem 0;overflow: hidden;line-height: 0.8rem;}
.lynn_more_groups_list_p{height:1.4rem;font-size:0.6rem;padding:0.2rem;line-height: 1rem;background:#fff;}
.lynn_more_groups_list_p span.fl{color:#fd4a67;}
.lynn_more_groups_list_p span.fl b{font-size:0.8rem;margin-right:0.2rem;}
.lynn_more_groups_list_p span.fl del{color:#979797;}
.lynn_more_groups_list_p span.fr{color:#979797;}



/*阶梯团弹窗  */
.creditshop-detail-page .chosenum{
    width: 16.5rem;
    height: auto;
    border-radius: 0.25rem;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-top: -1.25rem;
    margin-left: -8.25rem;
    z-index: 101;
    padding: 0 0.9rem 0.75rem;
    box-sizing: border-box;
}
.creditshop-detail-page .chosenum .title{
    line-height: 3.15rem;
    color: #333;
    font-size: 0.7rem;
}
.creditshop-detail-page .chosenum .num{
    max-height: 9.6rem;
    min-height: 5rem;
    overflow: auto
}
.creditshop-detail-page .chosenum .num div{
    float: left;
    width: 3rem;
    height: 1.35rem;
    border-radius: 0.25rem;
    line-height: 1.35rem;
    text-align: center;
    font-size: 0.6rem;
    color: #333;
    margin-right: 0.9rem;
    background: #f7f7f7;
    margin-bottom: 0.75rem;
}
.creditshop-detail-page .chosenum .num view:nth-of-type(4n){
    margin-right: 0
}
.creditshop-detail-page .chosenum .num div.active{
    background: #ff5555;
    color: #fff
}
.creditshop-detail-page .chosenum .btn{
    width: 100%;
    height: 2.1rem;
    line-height: 2.1rem;
    margin-bottom: 0
}
.creditshop-detail-page .chosenum .close1{
    position: absolute;
    bottom: -2.75rem;
    color: #fff;
    font-size: 1.75rem;
    left: 50%;
    margin-left: -0.625rem
}
.creditshop-detail-page .layer,order-list-page .layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index:101
}
.creditshop-detail-page .fui-modal{
    position: fixed;
    width:16.5rem;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    border-radius:0.25rem;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.creditshop-detail-page .option-picker{
    padding-bottom: 0.1rem;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    border-radius:0.25rem;
}
.creditshop-detail-page .option-picker-inner{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.creditshop-detail-page .option-picker .option-picker-options{
    max-height: 11rem;
    padding-bottom: 0.6rem;
}
.option-picker-inner{
    padding: 0 0.6rem;
}
.creditshop-detail-page .option-picker{
    min-height: auto;
}
.option-picker .option-picker-cell{
    padding: 0;
}
.option-picker .option-picker-cell.option:after{
    display: none;
}
.option-picker .option-picker-cell.option .select .nav.active{
    background: #ff5555;
    color: #fff;
}
.goods-picker .fui-list{
    background: #f7f7f7;
    margin-top: 0.6rem;
    border-radius: 0.1rem;
}
.goods-picker .fui-list .price{
    color: #ff5555;
}
.goods-picker .fui-list .fui-list-inner{
    height: 2.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
/*
我要参团
*/
.lynn_fightgroups{background: #fff;}
.lynn_fightgroups_head{height:3.35rem;padding:0 0.5rem;height:3.35rem;line-height: 2rem;font-size:0.6rem;color:#44545e;text-align: center;line-height: 3.35rem}
.lynn_fightgroups_list{padding:0.3rem 0.5rem;display: block;}
.lynn_fightgroups_list li{margin:0.4rem 0;background: #fff;height:2rem;-webkit-border-radius: 2rem;border-radius: 2rem;list-style: none;position: relative;}
.lynn_fightgroups_list li img{height:1.25rem;width:1.25rem;display: block;float:left;-webkit-border-radius: 2rem;border-radius: 2rem;float:left;margin-top: 0.4rem}
.lynn_fightgroups_list li a.fr{height:1.05rem;width:3rem;line-height: 1.05rem;-webkit-border-radius: 2rem;
background: #ff473f;color:#fff;font-size:0.65rem;text-align: center;position: relative;z-index: 10;margin-top: 0.5rem}
.lynn_fightgroups_span{width:100%;padding:0 3.5rem 0 2.5rem;height:2rem;display: block;position: absolute;}
.lynn_fightgroups_span strong{width:100%;height:2rem;display: block;font-size:0.6rem;font-weight: normal;overflow: hidden;}
.lynn_fightgroups_span strong.fl p{height:1rem;line-height: 1rem;overflow: hidden;}
.lynn_fightgroups_span strong.fl b{color:#959595;font-size:0.5rem;font-weight:normal;line-height: 1rem;}
.lynn_fightgroups_span strong.fl b i{font-style: normal;}
.lynn_fightgroups_span strong.fr{line-height: 2rem;text-align: right;color:#051b28;}
.lynn_fightgroups_span strong.fr b{color:#ff473f;}
.lynn_fight_nomarl{padding:0.5rem;background: #fff;font-size:0.6rem;color:#051b28;text-align: center;}
/*
拼团玩法
*/
.lynn_team_rules{padding:0.5rem;}
.lynn_team_rules dt{height:1rem;line-height: 1rem;font-size:0.7rem;}
.lynn_team_rules_dd{font-size:0.7rem;line-height: 1rem;}
.lynn_team_rules_p{font-size:0.7rem;line-height: 1rem;padding:0.2rem 0;}

.pcshop-index{width:640px;margin:0 auto;-webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.1);box-shadow:0px 2px 10px rgba(0,0,0,0.1);
    border-left:1px solid #ddd;border-right:1px solid #ddd;min-height:100%;}

.progress{
    line-height:2rem;
    font-size:0.5rem;
    color:#666;
    padding:0 0.6rem;
}





























