{template '_header'}
<script>document.title = "{php echo $this->set['texts']['center']}"; </script>
<script>
    document.documentElement.style.fontSize =document.documentElement.clientWidth/750*40 +"px";
</script>
<script src="//at.alicdn.com/t/font_82607_6xtuyfrxik6v42t9.js"></script>
<style type="text/css">
	.icon1 {
		width: .8rem; height: .8rem;
		vertical-align: -0.15em;
		fill: currentColor;
		overflow: hidden;
	}
	ul li {
		list-style: none;
	}
</style>
{template 'commission/common'}
<link rel="stylesheet" href="../addons/ewei_shopv2/plugin/diypage/static/css/common.css">
<link rel="stylesheet" href="../addons/ewei_shopv2/plugin/diypage/static/css/commission_new.css">
<div class="fui-page fui-page-current page-commission-index ">
	<div class="fui-header">
		<div class="fui-header-left">
			<a class="back" onclick='location.back()'></a>
		</div>
		<div class="title">{php echo $this->set['texts']['center']}</div>
		<div class="fui-header-right"></div>
	</div>
    <div class='fui-content navbar'>
		<div class="top">
			<div class="top-img-container">
				<img src="{$member['avatar']}" />
				<img src="../addons/ewei_shopv2/plugin/diypage/static/images/index_new/vip_icon.png" alt="">
			</div>
			<div class="user-info">
				<div>{php echo $this->set['texts']['up']}: {if empty($up)}总店{else}{$up['nickname']}{/if}</div>
				<div>{$member['nickname']}</div>
			</div>
		</div>
		<div class="tuijianma-container">
			<div>
				<i class="tuijianma"></i>
				<span>
				我的{php echo $this->set['texts']['icode']} <span>{if p('offic')}{$member['mobile']}{else}{$member['id']}{/if}</span>
				</span>
			</div>
			<div class="tixian-btn">
				{if $cansettle}
				<a href="{php echo mobileUrl('commission/withdraw')}"><span style="line-height: 1">{php echo $this->set['texts']['commission']}{php echo $this->set['texts']['withdraw']}</span></a>
				{else}
				<div onclick="FoxUI.toast.show('满 {php echo $this->set['withdraw']} {php echo $this->set['texts']['yuan']}才能提现!')">{php echo $this->set['texts']['commission']}{php echo $this->set['texts']['withdraw']}</div>
				{/if}
			</div>
		</div>
		<div class="arc-container">
			<div class="arc-content"></div>
		</div>
		<div class="yongjin-container">
			<div class="yongjin-item">
				<div class='success-draw'>{php echo number_format($member['commission_pay'],2)}</div>
				<div class='commission-des'>{php echo $this->set['texts']['commission_pay']}({php echo $this->set['texts']['yuan']})</div>
			</div>
			<div class="yongjin-item">
				<div class='available-draw'>{php echo number_format( $member['commission_ok'],2)}</div>
				<div class='commission-des'>{php echo $this->set['texts']['commission_ok']}({php echo $this->set['texts']['yuan']})</div>
			</div>
		</div>
		<div class="card-container">
			<a class="card-item shop-commission" href="{php echo mobileUrl('commission/withdraw')}">
				<div><span class="font-size-40">{php echo number_format($member['commission_total'],2)}</span> {php echo $this->set['texts']['yuan']}</div>
				<div>{php echo $this->set['texts']['commission1']}</div>
			</a>
			<a class="card-item shop-order"  href="{php echo mobileUrl('commission/order')}">
				<div><span class="font-size-40">{php echo number_format($member['ordercount'],0)}</span> 笔</div>
				<div>{php echo $this->set['texts']['order']}</div>
			</a>
			<a class="card-item draw-detail" href="{php echo mobileUrl('commission/log')}">
				<div><span class="font-size-40">{php echo number_format($member['applycount'],0)}</span> 笔</div>
				<div>{php echo $this->set['texts']['commission_detail']}</div> 
			</a>
			<a class="card-item my-client" href="{php echo mobileUrl('commission/down')}">
				<div><span class="font-size-40">{php echo number_format($member['downcount'],0)}</span> 人</div>
				<div>{php echo $this->set['texts']['mydown']}</div>
			</a>
		</div>
		<ul class="list-container">
			<!--{if !$this->set['closed_qrcode']}-->
			<li class="list-item">
				<ul>
					<li>
						<a href="{php echo mobileUrl('commission/qrcode')}">
							<div>
								<i class="icon icon-erweima1"></i>
								<span>推广二维码</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
				</ul>
			</li>
			<!--{/if}-->
			<li class="list-item">
				<ul>
					{if empty($this->set['closemyshop'])}
					<li>
						<a href="{php echo mobileUrl('commission/myshop/set')}">
							<div>
								<i class="con icon-dianpu1"></i>
								<span>{php echo $this->set['texts']['shop']}设置</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					<!--{/if}-->
					{if $this->set['openselect']}
					<li>
						<a href="{php echo mobileUrl('commission/myshop/select')}">
							<div>
								<i class="icon shangcheng1"></i>
								<span>自选商品</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if !empty($this->set['rank']['status'])}
					<li>
						<a href="{php echo mobileUrl('commission/rank');}">
							<div>
								<i class="icon icon-paihang"></i>
								<span>{php echo $this->set['texts']['commission']}排名</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if p("offic")}
					<li>
						<a href="{php echo mobileUrl('commission/branch')}">
							<div>
								<i class="icon icon-store"></i>
								<span>我的分店</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					<li>
						<a href="{php echo mobileUrl('commission/branch/fans')}">
							<div>
								<i class="icon icon-person2"></i>
								<span>我的粉丝</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if $hasglobonus}
					<li>
						<a href="{php echo mobileUrl('globonus')}">
							<div>
								<i class="icon icon-gudong1"></i>
								<span>{$plugin_globonus_set['texts']['center']}</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if $hasabonus}
					<li>
						<a href="{php echo mobileUrl('abonus')}">
							<div>
								<i class="icon icon-guoji-xianxing"></i>
								<span>{$plugin_abonus_set['texts']['center']}</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if $hasauthor}
					<li>
						<a href="{php echo mobileUrl('author')}">
							<div>
								<i class="icon icon-huiyuan3"></i>
								<span>{$plugin_author_set['texts']['center']}</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
					{if $team_money>0}
					<li>
						<a>
							<div>
								<i class="icon icon-qian1"></i>
								<span>已获团队奖励{$team_money}元</span>
							</div>
							<i class="iconfont icon-triangle-right-pure"></i>
						</a>
					</li>
					{/if}
				</ul>
			</li>
		</ul>
	</div>
	{template '_copyright'}
</div>
{php $this->footerMenus()}
</div>
{template '_footer'}