{template '_header'}
<script>document.title = "{if !empty($article_sys['article_title'])}{$article_sys['article_title']}{else}{$_W['shopset']['shop']['name']}{/if}"; </script>
<link rel="stylesheet" href="../addons/ewei_shopv2/plugin/article/template/mobile/default/images/mobile.css" />
<div class='fui-page  fui-page-current article-list-page'>

    {if is_h5app()}
    <div class="fui-header">
        <div class="fui-header-left">
            <a href="{php echo mobileUrl()}"><i class="icon icon-home"></i></a>
        </div>
        <div class="title">{if !empty($article_sys['article_title'])}{$article_sys['article_title']}{else}{$_W['shopset']['shop']['name']}{/if}</div>
        <div class="fui-header-right"></div>
    </div>
    {else}
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"></a>
        </div>
    </div>
    {/if}

    <div class='fui-content'>

        {if $article_sys['article_temp']==2}
        <div class="fui-article-list template-2">
            <div class="fui-tab-scroll" id="listTab">
                <div class='container'>
                    <span class='item on' data-cateid="">全部分类</span>
                    {loop $categorys $i $category}
                    <span class='item' data-cateid="{$category['id']}">{$category['category_name']}</span>
                    {/loop}
                </div>
            </div>
            <div class="fui-list-group" id='container'></div>
        </div>
        {else}
        <div class="fui-article-list template-{$article_sys['article_temp']}" id="container"></div>
        {/if}
        <div class='infinite-loading' style="text-align: center; color: #666; display: none;">
            <span class='fui-preloader'></span>
            <span class='text'> 正在加载...</span>
        </div>
        <div class="fui-message fui-message-popup in content-empty" style="display: none; margin-top: 0; position: relative; height: auto; background: none;">
            <div class="icon ">
                <i class="icon icon-information"></i>
            </div>
            <div class="content">未找到文章~</div>
        </div>

    </div>
    <script language="javascript">
        require(['../addons/ewei_shopv2/plugin/article/static/js/list.js'],function(modal){
            modal.init({template: "{$article_sys['article_temp']}"});
        });
    </script>
</div>
{template '_footer'}
{template '_menu'}