{if $article_sys['article_temp']==0}
	{if $page==1}
		<div class="topimg">
			<img src="{$article_sys['article_image']}" />
		</div>
	{/if}
	{loop $articles $article} 
		<div class="list-number">
			<a class="fui-list " href="{php echo mobileUrl('article',array('aid'=>$article['id']))}">
				{if !empty($article['resp_img'])}
					<div class="fui-list-media">
						<img class="round" src="{php echo tomedia($article['resp_img'])}"/>
					</div>
				{/if}
				<div class="fui-list-inner">
					<div class="title">{$article['article_title']}</div>
					<div class="subtitle">{$article['resp_desc']}</div>
						{if $article['article_rule_money']>0 || !empty($article['article_rule_credit'])}
							<div class="subtitle">
								<span class="fui-label fui-label-danger">
									{if $article['article_rule_money']>0}
										{$article['article_rule_money']}元{$_W['shopset']['trade']['moneytext']}
									{/if}
									{if !empty($article['article_rule_credit'])}
										{$article['article_rule_credit']}个{$_W['shopset']['trade']['credittext']}
									{/if}
								</span>
							</div>
						{/if}
				</div>
				<div class="fui-list-angle">
					<div class="angle"></div>
				</div>
			</a>
		</div>
	{/loop}

{elseif $article_sys['article_temp']==1}

	{loop $articles $k  $v}
		<div class="list-number">
			{if count($v['articles'])==1}
				<a href="{php echo mobileUrl('article',array('aid'=>$v['articles'][0]['id']))}" class="">
					<div class="fui-card">
						<div class="fui-card-title">
							<span class="title">{$v['articles'][0]['article_title']}</span>
							<span class="subtitle">{$k}</span>
						</div>
						{if !empty($v['articles'][0]['resp_img'])}
							<div class="fui-card-image">
								<img src="{php echo tomedia($v['articles'][0]['resp_img'])}">
							</div>
						{/if}
						<div class="fui-card-content">{$v['articles'][0]['resp_desc']}</div>
						<div class="fui-card-footer">
							<span class="text">点击查看详情</span>
							<span class="remark"></span>
						</div>
					</div>
				</a>
			{else}
				<div class="fui-card fui-card-list">
					{loop $v['articles'] $index $vv}
						{if $index==0}
							<a href="{php echo mobileUrl('article',array('aid'=>$vv['id']))}" class="">
								<div class="fui-card-info">
									<div class="image">
										<img src="{php echo tomedia($vv['resp_img'])}" />
									</div>
									<div class="text">
										<span class="subtitle">{$k}</span>
									</div>
								</div>
								<div class="fui-card-first">
									<div class="image">
										<img src="{php echo tomedia($vv['resp_img'])}" />
										<div class="text">{$vv['article_title']}</div>
									</div>
								</div>
							</a>
						{else}
							<a href="{php echo mobileUrl('article',array('aid'=>$vv['id']))}" class="">
								<div class="fui-card-item">
									<img src="{php echo tomedia($vv['resp_img'])}" />
									<div class="text">{$vv['article_title']}</div>
								</div>
							</a>
						{/if}
					{/loop}
				 </div>
			{/if}
		</div>
	{/loop}

{elseif $article_sys['article_temp']==2}
	{loop $articles $article}
		<div class="list-number">
				<a class="fui-list " href="{php echo mobileUrl('article',array('aid'=>$article['id']))}">
					<div class="fui-list-media">
						<img class="round" src="{php echo tomedia($article['resp_img'])}">
					</div>
					<div class="fui-list-inner">
						<div class="title">{$article['article_title']}</div>
						<div class="text">{$article['resp_desc']}</div>
					</div>
					<div class="fui-list-angle">
						<div class="angle"></div>
					</div>
				</a>
		</div>
	{/loop}
{/if}
