{template '_header'}
<link rel="stylesheet" href="../addons/ewei_shopv2/plugin/article/template/mobile/default/images/mobile.css" />
<div class='fui-page  fui-page-current article-report-page'>

	{if is_h5app()}
	<div class="fui-header">
		<div class="fui-header-left">
			<a class="back"></a> 
		</div>
		<div class="title">提交投诉</div>
		<div class="fui-header-right"></div>
	</div>
	{/if}

	<div class='fui-content'>
	
		<div class="fui-cell-title ">请填写投诉内容</div>
		
		<div class="fui-cell-group">
			<div class="fui-cell">
				<div class="fui-cell-label">投诉原因</div>
				<div class="fui-cell-info">
					<select name="cate" id="report_cate">
						<option value="">请选择</option> 
						<option value="欺诈">内含欺诈信息</option>
						<option value="色情">内含色情信息</option>
						<option value="政治谣言">内含政治谣言</option>
						<option value="常识性谣言">内含常识性谣言</option>
						<option value="诱导分享">内含诱导分享</option>
						<option value="恶意营销">内含恶意营销</option>
						<option value="隐私信息收集">隐私信息收集</option>
						<option value="其他侵权类">其他</option>
					</select>
				</div>
			</div>
			<div class="fui-cell fui-cell-textarea">
				<div class="fui-cell-label ">投诉内容</div>
				<div class="fui-cell-info">
					<textarea rows="5" placeholder="请填写详细的投诉内容" id="report_content"></textarea>
					<div class="textarea_counter text-danger"><span class="">0</span>/200</div>
				</div>
			</div>
		</div>
		<div class="fui-cell-title ">请如实填写投诉内容，我们核实后第一时间对相关文章进行处理，感谢您对我们的支持！</div>
		
		<a class="btn btn-success sub" id="sub">提交投诉</a>
		
		
	</div>
	<script language="javascript">
	     require(['../addons/ewei_shopv2/plugin/article/static/js/report.js'],function(modal){ 
	     	modal.init({aid: "{$aid}"});
	     });
	</script>
</div>
