{template '_header'}
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/account/default3/style.css?v=2.0.0">
<style type="text/css">
    .header {background-image: url("{php echo empty($set['wap']['bg'])?'../addons/ewei_shopv2/template/account/default3/bg.jpg':tomedia($set['wap']['bg'])}"); background-repeat: n}
    .btn {background: {if !empty($set['wap']['color'])}{$set['wap']['color']}{else}#43afcf{/if};}
    .text a {color: {if !empty($set['wap']['color'])}{$set['wap']['color']}{else}#43afcf{/if};}
    .agreement {
        position: fixed;
        bottom: 20px;
        width: 100%;
    }
    .agreement p{
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
    }
    .agreement p a {
        color: #0066cc;
        cursor: pointer;
    }
</style>
<div class="fui-page">
    {if is_h5app()}
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"> </a>
        </div>
        <div class="title">{if empty($type)}用户注册{else}找回密码{/if}</div>
        <div class="fui-header-right" data-nomenu="true"></div>
    </div>
    {/if}
    <div class="fui-content" >
        <div class="header" style="background: ;">
            <div class="logo">
                <img src="{php echo tomedia($set['shop']['logo'])}" />
            </div>
            <div class="name">{$set['shop']['name']}</div>
        </div>

        <div class="fui-cell-group">
            <div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-people"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="tel" placeholder="请输入手机号" class="fui-input" maxlength="11" name="mobile" id="mobile" value="{php echo trim($_GPC['mobile'])}" />
                </div>
            </div>
            {if !empty($set['wap']['smsimgcode'])}
            <div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-safe"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="tel" placeholder="请输入图形验证码" class="fui-input" maxlength="4" name="verifycode2" id="verifycode2">
                </div>
                <img class="fui-cell-remark noremark" src="../web/index.php?c=utility&a=code&r={php echo time()}" style="width: 5rem" id="btnCode2">
            </div>
            {/if}
            <div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-email"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="tel" placeholder="请输入5位短信验证码" class="fui-input" maxlength="5" name="verifycode" id="verifycode">
                </div>
                <a class="fui-cell-remark noremark" href="javascript:;" id="btnCode">获取验证码</a>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-lock"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="password" placeholder="请输入密码" class="fui-input" name="pwd" id="pwd" />
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-lock"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="password" placeholder="请重复输入密码" class="fui-input" name="pwd1" id="pwd1">
                </div>
            </div>
			<div class="fui-cell">
                <div class="fui-cell-icon">
                    <i class="icon icon-lock"></i>
                </div>
                <div class="fui-cell-info">
                    <input type="tel" placeholder="推荐人的邀请码" class="fui-input" name="agentid" id="agentid">
                </div>
            </div>
			
			
			
        </div>

        <div class="btn" id="btnSubmit">{if empty($type)}立即注册{else}立即找回{/if}</div>
        <div class="text">
            <p>已有帐号? <a href="{$set['wap']['loginurl']}">立即登录</a></p>
        </div>

        {if empty($type)}
        {if is_h5app()}
        {if $set['wap']['agr']}
        <div class="agreement">
            <p><input type="checkbox" class="agree" value="1" checked name="agree[]"> 登录注册代表同意 <a href="{php echo mobileUrl('account/agr')}" id="useragr">《用户协议与隐私政策》</a></p>
        </div>
        {/if}
        {/if}
        {/if}


        <script language='javascript'>
            require(['biz/member/account'], function (modal) {
                modal.initRf({backurl:'{$backurl}', type: {php echo intval($type)}, endtime: {php echo intval($endtime)}, imgcode: {php echo intval($set['wap']['smsimgcode'])}});
            });
        </script>
    </div>
</div>
{template '_footer'}