{template 'merchmanage/common'}

<div class='fui-page fui-page-current'>
    <div class="fui-header fui-header-success">
        <div class="fui-header-left">
            <a class="back btn-back">返回</a>
            <a class="btn-cancel cancel-params">取消</a>
        </div>
        <div class="title">{if !empty($item)}商品编辑{else}添加商品{/if}</div>
        <div class="fui-header-right"></div>
    </div>
    <div class='fui-content navbar'>

        <input type="hidden" id="id" value="{$item['id']}" />
        <input type="hidden" id="type" value="{$item['type']}" />
        <input type="hidden" id="cates" value="{$item['cates']}" />
        <input type="hidden" id="hasoption" value="{$item['hasoption']}" />
        <input type="hidden" id="totalcnf" value="{$item['totalcnf']}" />
        <input type="hidden" id="showlevels" value="{$item['showlevels']}" />
        <input type="hidden" id="showgroups" value="{$item['showgroups']}" />
        <input type="hidden" id="buylevels" value="{$item['buylevels']}" />
        <input type="hidden" id="buygroups" value="{$item['buygroups']}" />

        <input type="hidden" id="diypage" value="{$item['diypage']}" />
        <input type="hidden" id="diyformid" value="{$item['diyformid']}" />

        {if !empty($merch_user)}
            <div class="fui-title">商品所属: {$merch_user['merchname']}</div>
        {/if}

        <div class="fui-cell-group">
            <div class="fui-cell fui-cell-textarea">
                <div class="fui-cell-label ">商品名称</div>
                <div class="fui-cell-info">
                    <textarea rows="3" placeholder="请输入商品名称" id="title">{$item['title']}</textarea>
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">副标题</div>
                <div class="fui-cell-info">
                    <input type="text" placeholder="请输入商品副标题" class="fui-input" value="{$item['subtitle']}" id="subtitle" />
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">单位</div>
                <div class="fui-cell-info">
                    <input type="text" placeholder="请输入商品单位" class="fui-input" value="{$item['unit']}" id="unit" />
                </div>
            </div>
        </div>
        <div class="fui-cell-group">
            <div class="fui-cell borderb noactive">
                <div class="fui-cell-info">
                    <ul class="fui-images" id="thumbs">
                        {loop $piclist $picitem}
                            <li style="background-image:url({php echo tomedia($picitem)})" class="image" data-filename="{$picitem}">
                                <span class="image-remove">×</span>
                            </li>
                        {/loop}
                    </ul>
                    <div class="fui-uploader" data-count="{php echo count($piclist)}" data-max="10" data-name="images[]" {if count($piclist)>=10}style="display: none;"{/if}>
                        <input type="file" name='imgFile0[]' id='imgFile0' multiple="" accept="image/*" >
                    </div>
                </div>
            </div>
            <div class="fui-title">首张图片为商品主图(拖拽可排序)</div>
        </div>

        <div class="fui-cell-group fui-cell-click" id="thumbs3">
            {if empty($item)}
                <div class="fui-cell check-param" data-action="type" id="sss">
                    <div class="fui-cell-label">商品类型</div>
                    <div class="fui-cell-info">{$type_title}</div>
                    <div class="fui-cell-remark"></div>
                </div>
            {else}
                <div class="fui-cell noactive">
                    <div class="fui-cell-label">商品类型</div>
                    <div class="fui-cell-info">{$type_title}</div>
                    <div class="fui-cell-remark noremark">不可修改</div>
                </div>
            {/if}
            {if $catlevel!=-1}
                <div class="fui-cell check-param" data-action="cate">
                    <div class="fui-cell-label">商品分类</div>
                    <div class="fui-cell-info">{$category_title}</div>
                    <div class="fui-cell-remark"></div>
                </div>
            {/if}
            <div class="fui-cell check-param" data-action="prop">
                <div class="fui-cell-label">商品属性</div>
                <div class="fui-cell-info">{$prop_title}</div>
                <div class="fui-cell-remark">选择</div>
            </div>
        </div>

        {if !empty($item['hasoption'])}
            <div class="fui-title">多规格商品PC可编辑</div>
            <div class="fui-cell-group">
                <div class="fui-cell">
                    <div class="fui-cell-text">商品规格</div>
                    <div class="fui-cell-remark noremark">请至PC端查看</div>
                </div>
            </div>
        {else}
        {if empty($item)}
            <div class="fui-title">多规格商品PC可添加</div>
        {/if}
        <div class="fui-cell-group">
            <div class="fui-cell">
                <div class="fui-cell-label">原价</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="请输入商品原价" class="fui-input" value="{php echo empty($item['productprice'])?0:$item['productprice']}" id="productprice" />
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">现价</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="请输入现价" class="fui-input" value="{php echo empty($item['marketprice'])?0:$item['marketprice']}" id="marketprice" />
                </div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">成本价</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="请输入商品成本价" class="fui-input" value="{php echo empty($item['costprice'])?0:$item['costprice']}" id="costprice" />
                </div>
            </div>
        </div>
        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell noactive">
                <div class="fui-cell-label">库存</div>
                {if empty($item['hasoption'])}
                    <div class="fui-cell-info">
                        <input type="tel" placeholder="请输入商品呢库存" class="fui-input" value="{php echo intval($item['total'])}" id="total" />
                    </div>
                {else}
                    <div class="fui-cell-info">{$item['total']}</div>
                    <div class="fui-cell-remark noremark">不可编辑</div>
                {/if}
            </div>
            <div class="fui-cell check-param" data-action="totalcnf">
                <div class="fui-cell-text">库存设置</div>
                <div class="fui-cell-remark">{$totalcnf_title}</div>
            </div>
            <div class="fui-cell noactive">
                <div class="fui-cell-label ">显示库存</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="showtotal" {if !empty($item['showtotal'])}checked="checked"{/if}></div>
            </div>
            {if empty($item['hasoption'])}
                <div class="fui-cell">
                    <div class="fui-cell-label">商品重量</div>
                    <div class="fui-cell-info">
                        <input type="number" placeholder="请输入商品重量" class="fui-input" value="{$item['weight']}" id="weight" />
                    </div>
                </div>
                <div class="fui-cell">
                    <div class="fui-cell-label">商品编码</div>
                    <div class="fui-cell-info">
                        <input type="number" placeholder="请输入商品编码" class="fui-input" value="{$item['goodssn']}" id="goodssn" />
                    </div>
                </div>
                <div class="fui-cell">
                    <div class="fui-cell-label">商品条码</div>
                    <div class="fui-cell-info">
                        <input type="number" placeholder="请输入商品条码" class="fui-input" value="{$item['productsn']}" id="productsn" />
                    </div>
                </div>
            {/if}
        </div>
        {/if}

        <div class="fui-title">浏览权限</div>
        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell check-param" data-action="viewlevel">
                <div class="fui-cell-label">会员等级</div>
                <div class="fui-cell-info">{$viewlevel_title}</div>
                <div class="fui-cell-remark"></div>
            </div>
            <div class="fui-cell check-param" data-action="viewgroup">
                <div class="fui-cell-label">会员分组</div>
                <div class="fui-cell-info">{$viewgroup_title}</div>
                <div class="fui-cell-remark"></div>
            </div>
        </div>

        <div class="fui-title">购买权限</div>
        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell check-param" data-action="buylevel">
                <div class="fui-cell-label">会员等级</div>
                <div class="fui-cell-info">{$buylevel_title}</div>
                <div class="fui-cell-remark"></div>
            </div>
            <div class="fui-cell check-param" data-action="buygroup">
                <div class="fui-cell-label">会员分组</div>
                <div class="fui-cell-info">{$buygroup_title}</div>
                <div class="fui-cell-remark"></div>
            </div>
        </div>
        <div class="fui-title">商品限购(0为不限)</div>
        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell">
                <div class="fui-cell-label">单次最多购</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="单次最多购买数量" class="fui-input" value="{php echo intval($item['maxbuy'])}" id="maxbuy" />
                </div>
                <div class="fui-cell-remark noremark">件</div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">单次最低购</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="单次最低购买数量" class="fui-input" value="{php echo intval($item['minbuy'])}" id="minbuy" />
                </div>
                <div class="fui-cell-remark noremark">件</div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-label">会员总限购</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="会员总限购买数量" class="fui-input" value="{php echo intval($item['usermaxbuy'])}" id="usermaxbuy" />
                </div>
                <div class="fui-cell-remark noremark">件</div>
            </div>
        </div>

        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell noactive">
                <div class="fui-cell-label ">会员折扣</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="isnodiscount" {if empty($item['isnodiscount'])}checked="checked"{/if}></div>
            </div>
            <div class="fui-cell noactive">
                <div class="fui-cell-label ">参与分销</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="nocommission" {if empty($item['nocommission'])}checked="checked"{/if}></div>
            </div>
            {if p('diyform')}
                {if !empty($diyform) || $item['diyformtype']==2}
                    {if $item['diyformtype']==2}
                        <div class="fui-cell">
                            <div class="fui-cell-label">表单选择</div>
                            <div class="fui-cell-info">商品自定义</div>
                            <div class="fui-cell-remark noremark">PC可编辑</div>
                        </div>
                    {elseif !empty($diyform)}
                        <div class="fui-cell check-param" data-action="diyform">
                            <div class="fui-cell-label">表单选择</div>
                            <div class="fui-cell-info">{$diyform_title}</div>
                            <div class="fui-cell-remark"></div>
                        </div>
                    {/if}
                {/if}
            {/if}
            {if $diypage}
                <div class="fui-cell check-param" data-action="diypage">
                    <div class="fui-cell-label">模板选择</div>
                    <div class="fui-cell-info">{$diypage_title}</div>
                    <div class="fui-cell-remark"></div>
                </div>
            {/if}
        </div>

        <div class="fui-cell-group">
            <div class="fui-cell ">
                <div class="fui-cell-label ">货到付款</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="cash" {if $item['cash']==2}checked="checked"{/if}></div>
            </div>
            <div class="fui-cell ">
                <div class="fui-cell-label ">发票</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="invoice" {if !empty($item['invoice'])}checked="checked"{/if}></div>
            </div>
        </div>


        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell check-param" data-action="dispatch">
                <div class="fui-cell-label">运费设置</div>
                <div class="fui-cell-info">{$dispatch_title}</div>
                <div class="fui-cell-remark"></div>
            </div>
        </div>

        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell noactive">
                <div class="fui-cell-label ">商品上架</div>
                <div class="fui-cell-info"><input type="checkbox" class="fui-switch fui-switch-small fui-switch-success pull-right" id="status" {if !empty($item['status'])}checked="checked"{/if}></div>
            </div>
        </div>

        <div class="fui-cell-group">
            <div class="fui-cell">
                <div class="fui-cell-label">商品排序</div>
                <div class="fui-cell-info">
                    <input type="number" placeholder="数字越大，排名越靠前" class="fui-input" value="{$item['displayorder']}" id="displayorder" />
                </div>
            </div>
        </div>

        <div class="fui-title center">更多设置请至PC端后台</div>

    </div>

    {template 'merchmanage/_tpl/goods_params'}

    <div class="fui-navbar">
        <div class="nav-item btn btn-success btn-submit">保存</div>
    </div>

    <script language="javascript">
        require(['../addons/ewei_shopv2/plugin/merchmanage/static/js/goods-detail.js'],function(modal){
            modal.initDetail({category: {$category_json}});
        });
    </script>
</div>
