{template '_header'}
<style>
	.fui-icon-col .iconfont{
		font-size: 1.35rem;
	}
	.flex-li > div > .iconfont {
		margin-right: 0.75rem;
		font-size: 0.85rem;
	}
	ul li{
		list-style: none;
	}
</style>
<link href="../addons/ewei_shopv2/plugin/diypage/static/css/member.css" rel="stylesheet" type="text/css" />
<div class='fui-page  fui-page-current'>
	<div class="fui-header">
		<div class="fui-header-left">
			<a class="back" onclick='location.back()'></a>
		</div>
		<div class="title">会员中心</div>
		<div class="fui-header-right"></div>
	</div>

	<div class='fui-content member-page navbar'>
		<div class="top">
			<div class="user-info-container">
				<a href="{php echo mobileUrl('member/info')}">
					<div class="img-wrap">
						<div class="img-container">
							<img src="{$member['avatar']}" alt="">
						</div>
						<img src="../addons/ewei_shopv2/plugin/diypage/static/images/index_new/vip_icon.png" class="vip-img-icon">
					</div>
					
					<div>
						<div class="font-size-24 user-name">{$member['nickname']}</div>
						<div>
							<!--{if empty($level['id'])}-->
							<!--[{if empty($_W['shopset']['shop']['levelname'])}普通会员{else}{$_W['shopset']['shop']['levelname']}{/if}]-->
							<!--{else}-->
							<!--[{$level['levelname']}]-->
							<!--{/if}-->
							{if $member['status']==1 && $member['isagent'] ==1}
							潮刻店主
						{else}
							普通会员
						{/if}
						</div>
					</div>
				</a>
				<a class="icon icon-shezhi"  href="{php echo mobileUrl('member/info')}"></a>
			</div>
		</div>
		<ul class="top-ul">
			<li>
				<a href="./index.php?i={php echo $_W['uniacid']}&c=entry&m=ewei_shopv2&do=mobile&r=member.log">
				  <div>¥<span class="font-size-18">{php echo number_format($member['credit2'],2)}</span></div>
				  <div class="top-ul-des">可用余额</div>
			   </a>
			   <a href="{php echo mobileUrl('member/recharge')}" class="top-ul-btn active-btn">充值</a>
			</li>
			<li>
				<a href="./index.php?i={php echo $_W['uniacid']}&c=entry&m=ewei_shopv2&do=mobile&r=creditshop.creditlog">
					<div class="font-size-18">{php echo number_format($member['credit1'],0)}</div>
					<div class="top-ul-des">我的积分 </div>
			  	</a>
			  <a href="{php echo mobileUrl('creditshop')}" class="top-ul-btn">兑换</a>
			</li>
			<li>
				<a href="{php echo mobileUrl('sale/coupon/my')}">
					<div class="font-size-18">{$statics['coupon']}</div>
					<div class="top-ul-des">我的优惠券</div>
			  	</a>
				<a class="top-ul-btn" href="{php echo mobileUrl('sale/coupon')}">领取</a>
			</li>
		</ul>
		
		<ul class="content-container">
			<li class="first-li">
				<ul>
					<li class="col-2" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=order'">
						<div class="font-size-18">我的订单</div><div>查看更多订单</div>
					</li>
					<li>
						<div class="col-5">
							<a class="fui-icon-col external"
								href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=order&status=0">
								<div class="iconfont icon-member-daifukuan"></div>
								<div class="text">待付款</div>
							</a>
							<a class="fui-icon-col external"
								href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=order&status=1">
								<div class="iconfont icon-member-dafahuo"></div>
								<div class="text">待发货</div>
							</a>
							<a class="fui-icon-col external"
								href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=order&status=2">
								<div class="iconfont icon-member-dashouhuo"></div>
								<div class="text">待收货</div>
							</a>
							<a class="fui-icon-col external"
								href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=order&status=4">
								<div class="iconfont icon-member-tuihuanhuo"></div>
								<div class="text">退换货</div>
							</a>
							<a class="fui-icon-col external before"
								href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=cycelbuy.order.list">
								<div class="iconfont icon-member-zhouqigou" style="color: #FE3265;"></div>
								<div class="text">周期购</div>
							</a>
						</div>
					</li>
				</ul>
			</li>
			{if $needbind}
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.bind'">
						<div><i class="iconfont icon-member-phone"></i>绑定手机号</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
			{/if}
			<li>
				<ul>
					{if $member['status']==1 && $member['isagent'] ==1}
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=commission'">
						<div><i class="iconfont icon-member-coupon"></i>店主中心</div>
						 <i class="iconfont icon-triangle-right-pure"></i></span>
					</li>
					{/if}
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=sale.coupon'">
						<div><i class="iconfont icon-member-coupon"></i>领取优惠劵</div>
						<span><span class="badge">{$couponnum}</span><i class="iconfont icon-triangle-right-pure"></i></span>
					</li>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=sale.coupon.my'">
						<div><i class="icon icon-wodeyouhuiquan"></i>我的优惠劵</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=task'">
						<div><i class="icon icon icon-qiandao"></i>任务中心</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=open_farm'">
						<div><i class="iconfont icon-member-nongchang"></i>人人农场</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.cart'">
						<div><i class="iconfont icon-member-gouwuche"></i>我的购物车</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.favorite'">
						<div><i class="iconfont icon-member-guanzhu"></i>我的关注</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.history'">
						<div><i class="iconfont icon-member-foot"></i>我的足迹</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
					<!--<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.fullback'">-->
					<!--	<div><i class="iconfont icon-member-quanfan"></i>我的全返</div>-->
					<!--	<i class="iconfont icon-triangle-right-pure"></i>-->
					<!--</li>-->
				</ul>
			</li>
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.log'">
						<div><i class="icon icon-xiaofei"></i>充值记录</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="flex-li" onclick="window.location.href='./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.address'">
						<div><i class="iconfont icon-member-address"></i>收货地址管理</div>
						<i class="iconfont icon-triangle-right-pure"></i>
					</li>
				</ul>
			</li>
		</ul>
		{template '_copyright'}
	</div>
	<script language='javascript'>
		require(['biz/member/index'], function (modal) {
			modal.init();
		});
	</script>
</div>

<script  language='javascript'>
	var lis = $('.banner-ul').find('li');
	$('.banner-ul').width(lis.length*8.3+'rem');

	function addCard(card_id,code) {

		var data = {'openid': '{php echo $_W["openid"]}', 'card_id': card_id, 'code': code};
		$.ajax({
			url: "{php echo mobileUrl('sale/coupon/getsignature')}",
			data: data,
			cache: false
		}).done(function (result) {
			var data = jQuery.parseJSON(result);
			if (data.status == 1) {
				wx.addCard({
					cardList: [
						{
							cardId: card_id,
							cardExt: data.result.cardExt
						}
					],
					success: function (res) {
						//alert('已添加卡券：' + JSON.stringify(res.cardList));
					},
					cancel: function (res) {
						//alert(JSON.stringify(res))
					}
				});
			} else {
				alert("微信接口繁忙,请稍后再试!");
				alert(data.result.message);
			}
		});
	}

</script>

{if empty($_GPC['isnewstore']) }
{template '_menu'}
{else}
	{template '../../../plugin/newstore/template/mobile/default/_menu'}
{/if}

{template '_index_footer'}
