<!-- 商品轮播图 -->
<style>
    .fui-swipe-page {text-align: center; bottom: {$diyitem['style']['bottom']}px; height: 12px; line-height: 12px; padding: 0 {$diyitem['style']['leftright']}px;}
    .fui-swipe-bullet {background: {$diyitem['style']['background']}; opacity: {$diypage['style']['opacity']}; height: 12px; width: 12px;}
    .fui-swipe-bullet.active {background: {$diyitem['style']['background']}; opacity: 1;}
    .fui-swipe-page.square .fui-swipe-bullet {height: 12px; width: 12px; border-radius: 0;}
    .fui-swipe-page.rectangle .fui-swipe-bullet {height: 12px; width: 20px; border-radius: 0;}
</style>
<script>
    function getHeight(obj) {
        var w = obj.width;
        var h = obj.height;
        var height = ((750 * h) / w) / 40 + 'rem';
        $('.fui-swipe.goods-swipe').css('height', height);
        $('.fui-swipe.goods-swipe .fui-swipe-wrapper .fui-swipe-item img').css('height', height);
    }

    // function getImg1(obj) {
    //
    //
    //
    //     // $('div').css({
    //     //     'width':'100%',
    //     //     'height':'100%',
    //     //     'background':'rgba(174,174,174,0.6)',
    //     // }).addClass('.alertImg').appendTo($('img'))
    //
    // }
</script>
<div class='fui-swipe goods-swipe' style="height: 0;">
    {if !empty($islive)}
    <a class="external isliving" href="{php echo mobileUrl('live/room', array('id'=>$liveid))}">直播中</a>
    {/if}

    <div class='fui-swipe-wrapper'>
        {loop $thumbs $index $thumb}
        <div class='fui-swipe-item'>
            {if $index == "0" }
            <img src="{php echo tomedia($thumb)}" onload='getHeight(this)' />
            {else}
            <img src="{php echo tomedia($thumb)}" />
            {/if}
        </div>
        {/loop}
    </div>
    <div class="fui-swipe-page {$diyitem['style']['dotstyle']}"></div>
    {if $goods['total']<=0 && !empty($_W['shopset']['shop']['saleout'])}
    <div class="salez">
        <img src="{php echo tomedia($_W['shopset']['shop']['saleout'])}">
    </div>
    {/if}
</div>
