{if !empty($diyitem['data'])}
    <div class='fui-swipe'>
        <div class='fui-swipe-wrapper'>
            {loop $diyitem['data'] $banneritem}
                <a class='fui-swipe-item' href="{$banneritem['linkurl']}" data-nocache="true"><img src="{php echo tomedia($banneritem['imgurl'])}" style="display: block; width: 100%; height: auto;"/></a>
            {/loop}
        </div>
        <style>
            .fui-swipe-page .fui-swipe-bullet {background: {$diyitem['style']['background']}; opacity: {$diyitem['style']['opacity']};}
            .fui-swipe-page .fui-swipe-bullet.active {opacity: 1;}
        </style>
        <div class="fui-swipe-page {$diyitem['style']['dotalign']} {$diyitem['style']['dotstyle']}" style="padding: 0 {$diyitem['style']['leftright']}px; bottom: {$diyitem['style']['bottom']}px; "></div>
    </div>
{/if}



<div class='fui-page  shop-index-page fui-page-current {if $page['type']==3}member-page{elseif $page['type']==4} page-commission-index{/if}' style="top: 0; background-color: {$page['data']['page']['background']}; ">

