
{php $diyitem = $diyitem_search}
    <div class="diy-fixedsearch fixed" style="{if is_h5app()&&is_ios()} top: 2.2rem;{/if}">
        <div class="background" style="background: {$diyitem['style']['background']}; opacity: {$diyitem['style']['opacity']};"></div>
        <form action="{php echo mobileUrl('goods', array('merchid'=>$page['merch']))}" method="post" class="inner" id="fixedsearch">
            {if !empty($diyitem['params']['leftnav'])}
                <a class="leftnav" href="{php echo !empty($diyitem['params']['leftnavlink'])?$diyitem['params']['leftnavlink']:'javascript:;'}" data-nocache="true">
                    {if $diyitem['params']['leftnav']==1 && !empty($diyitem['params']['leftnavicon'])}
                        <i class="icon {$diyitem['params']['leftnavicon']}"style="color: {php echo !empty($diyitem['style']['leftnavcolor'])?$diyitem['style']['leftnavcolor']:'#fff'};"></i>
                    {/if}
                    {if $diyitem['params']['leftnav']==2 && !empty($diyitem['params']['leftnavimg'])}
                        <img src="{php echo tomedia($diyitem['params']['leftnavimg'])}" />
                    {/if}
                </a>
            {/if}
            <div class="center {$diyitem['params']['searchstyle']}">
                <input class="search" type="search" value="" placeholder="{$diyitem['params']['placeholder']}" style="color: {$diyitem['style']['searchtextcolor']}; opacity: {$diyitem['style']['opacityinput']}; background: {$diyitem['style']['searchbackground']};" name="keywords" />
            </div>
            {if !empty($diyitem['params']['rightnav'])}
                <a class="rightnav"  {if empty($diyitem['params']['rightnavclick'])}href="{php echo !empty($diyitem['params']['rightnavlink'])?$diyitem['params']['rightnavlink']:'javascript:;'}" {else}onclick="fixedsearch()"{/if} data-nocache="true">
                    {if $diyitem['params']['rightnav']==1 && !empty($diyitem['params']['rightnavicon'])}
                        <i class="icon {$diyitem['params']['rightnavicon']}"style="color: {php echo !empty($diyitem['style']['rightnavcolor'])?$diyitem['style']['rightnavcolor']:'#fff'};"></i>
                    {/if}
                    {if $diyitem['params']['rightnav']==2 && !empty($diyitem['params']['rightnavimg'])}
                        <img src="{php echo tomedia($diyitem['params']['rightnavimg'])}" />
                    {/if}
                </a>
                {if !empty($diyitem['params']['rightnav'])}
                <script>function fixedsearch() {$('#fixedsearch').submit();}</script>
                {/if}
            {/if}
        </form>
    </div>
