
<div class="form-group">
    <label class="col-lg control-label must">活动名称</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        <div class="input-group">
            <input type="text" name="lottery_title" class="form-control" value="{$item['lottery_title']}" data-rule-required="true" />
            <input type="hidden" id="lottery_icon" name="lottery_icon" value="{if !empty($item['lottery_icon'])}{$item['lottery_icon']}{else}{/if}">
            <span class="input-group-addon" style="padding: 0px;"><img src="{if !empty($item['lottery_icon'])}{$item['lottery_icon']}{else}{/if}" id="showimg" width="30px" height="28px" onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'"></span>
            <span class="input-group-addon" data-toggle="selectImg" data-input="#lottery_icon" data-img="#showimg" data-full="1">选择图片</span>
        </div>
        {else}
        <div class='form-control-static'><img src="{if !empty($item['lottery_icon'])}{$item['lottery_icon']}{else}{/if}"  width="30px" height="30px" onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'">{if !empty($item['lottery_title'])}{$item['lottery_title']}{else}暂无标题{/if}</div>
        {/if}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label must">活动详情页背景图</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        <div class="input-group">
            <input type="text" id="lottery_banner" class="form-control" name="lottery_banner" value="{if !empty($item['lottery_banner'])}{$item['lottery_banner']}{else}{/if}">
            <span class="input-group-addon" style="padding: 0px;"><img src="{if !empty($item['lottery_banner'])}{$item['lottery_banner']}{else}{/if}" id="showbanner" width="30px" height="28px" onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'"></span>
            <span class="input-group-addon" data-toggle="selectImg" data-input="#lottery_banner" data-img="#showbanner" data-full="1">选择图片</span>
        </div>
        {else}
        <div class='form-control-static'><img src="{if !empty($item['lottery_banner'])}{$item['lottery_banner']}{else}{/if}"  width="28px" height="30px" onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'"></div>
        {/if}
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label must">活动期限</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        {php echo tpl_form_field_eweishop_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}
        <span class='help-block'>活动进行时间段</span>
        {else}
        <div class='form-control-static'>{php echo date('Y-m-d H:i', $starttime).'-'.date('Y-m-d H:i', $endtime);}</div>
        {/if}
    </div>
</div>

{if $_GPC['lottery_type'] == 1}
<div class="form-group">
    <label class="col-lg control-label must">奖励信息显示</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        {php echo tpl_form_field_eweishop_daterange('award_time', array('starttime'=>date('Y-m-d H:i', $award_starttime),'endtime'=>date('Y-m-d H:i', $award_endtime)),true);}
        <span class='help-block'>显示自定义时间段内的奖励信息</span>
        {else}
        <div class='form-control-static'>{php echo date('Y-m-d H:i', $award_starttime).'-'.date('Y-m-d H:i', $award_endtime);}</div>
        {/if}
    </div>
</div>
{/if}
<div class="form-group">
    <label class="col-lg control-label must">活动奖励有效期限</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        <input type="number" name="lottery_days" class="form-control" value="{php echo $item['lottery_days']/24/3600;}" data-rule-required="true"  />
        <span class='help-block'>活动完成后在此时间内领取奖励，无限期请设置0（单位：天）</span>
        {else}
        <div class='form-control-static'>{php echo $item['lottery_days']/24/3600;}天</div>
        {/if}
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">场景设置</label>
    {ifp 'lottery.edit'}
    <div class="col-sm-4 col-xs-12">
        <select class="input-sm form-control input-s-sm inline" name="task_type" id="task_select" onchange="task_change(this);">
            <option value="0">请选择场景</option>
            <option value="1" {if $item['task_type']==1}selected{/if}>消费场景</option>
            <option value="2" {if $item['task_type']==2}selected{/if}>签到场景</option>
            {if p('task') && !p('task')->isnew()}
            <option value="3" {if p('task') && $item['task_type']==3}selected{/if}>任务场景</option>
            {/if}
        </select>
    </div>
    {/if}
</div>
<div class="form-group">
    <label class="col-lg control-label">场景条件</label>
    {ifp 'lottery.edit'}
    {php $item['task_data']=unserialize($item['task_data']);}
    <div class="col-sm-9 col-xs-12" id="task_show">
        {if $item['task_type']==1}
        <div class="row">
            <div class="col-sm-4 col-xs-4 ">
                <div class="input-group">
                    <span class="input-group-addon">满</span>
                    <input type="number" class="form-control" name="pay_money" value="{$item['task_data']['pay_money']}" placeholder="0">
                    <span class="input-group-addon">元</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4 ">
                <div class="input-group">
                    <span class="input-group-addon">抽</span>
                    <input type="number" class="form-control" name="pay_num" value="{$item['task_data']['pay_num']}" placeholder="0">
                    <span class="input-group-addon">次</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4 ">
                <div class="input-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="pay_type[]" {if $item['task_data']['pay_type'] != "2"}checked{/if} value="1"> 付款后
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="pay_type[]" {if $item['task_data']['pay_type'] != "1"}checked{/if} value="2"> 订单完成
                    </label>
                </div>
            </div>
        </div>
        {/if}
        {if $item['task_type']==2}
        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">满</span>
                    <input type="number" class="form-control" name="sign_day" value="{$item['task_data']['sign_day']}" placeholder="0">
                    <span class="input-group-addon">天</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">抽</span>
                    <input type="number" class="form-control" name="sign_num" value="{$item['task_data']['sign_num']}" placeholder="0">
                    <span class="input-group-addon">次</span>
                </div>
            </div>
        </div>
        {/if}
        {if $item['task_type']==3}
        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">抽</span>
                    <input type="number" class="form-control" name="poster_num" value="{$item['task_data']['poster_num']}" placeholder="0">
                    <span class="input-group-addon">次</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <select id="poster_select" class="input-sm form-control input-s-sm inline" name="poster_id">
                    <option value="0">所有任务</option>
                    {loop $tasklist $key $task}
                    <option value="{$task['id']}" {if $item['task_data']['poster_id']==$task['id']} selected{/if}>
                    {$task['title']}
                    </option>
                    {/loop}
                </select>
            </div>
        </div>
        {/if}
        {if $item['task_type']==4}
        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">抽</span>
                    <input type="number" class="form-control" name="other_num" value="{$item['task_data']['other_num']}"  placeholder="0">
                    <span class="input-group-addon">次</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <input type="text" class="form-control" value="{$item['task_data']['other_content']}"  name="other_content">
            </div>
        </div>
        {/if}
    </div>
    {/if}
</div>

<div class="form-group">
    <label class="col-lg control-label">不能参加活动提示</label>

    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        <textarea name="lottery_cannot" class="form-control" rows="5" >{if $item['lottery_cannot']}{$item['lottery_cannot']}{else}您没有参与抽奖的机会..{/if}</textarea>
        <span class="help-block">默认：您没有参与抽奖的机会..</span>
        {else}
        <div class='form-control-static'>{$item['lottery_cannot']}</div>
        {/if}
    </div>

</div>

<div class="form-group">
    <label class="col-lg control-label">奖励商品参与分销</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'lottery.edit'}
        <label class="radio-inline">
            <input type="radio" name="is_goods" value="1" {if $item['is_goods']==1}checked{/if} /> 启用
        </label>
        <label class="radio-inline">
            <input type="radio" name="is_goods" value="0" {if $item['is_goods']==0}checked{/if} /> 禁用
        </label>
        {else}
        <div class='form-control-static'>{if $item['is_goods']==0}禁用{else}启用{/if}</div>
        {/if}
    </div>
</div>


<script type="application/javascript">
    function task_change(obj) {
        var task_type = $('#task_select').val();
        var task_div = '';
        var option_div = '';
        if(task_type==1){
            task_div = '<div class="row"><div class="col-sm-4 col-xs-4 "><div class="input-group"><span class="input-group-addon">满</span><input type="number" class="form-control" name="pay_money" placeholder="0"> <span class="input-group-addon">元</span></div>'
                    +'</div><div class="col-sm-4 col-xs-4 "><div class="input-group"><span class="input-group-addon">抽</span><input type="number" class="form-control" name="pay_num" placeholder="0"> <span class="input-group-addon">次</span></div></div>'
                    +'<div class="col-sm-4 col-xs-4 "><div class="input-group"><label class="checkbox-inline"><input type="checkbox" name="pay_type[]" value="1"> 付款后</label><label class="checkbox-inline"><input type="checkbox" name="pay_type[]" value="2"> 订单完成</label></div></div></div>';
        }
        if(task_type==2){
            task_div = '<div class="row"><div class="col-sm-4 col-xs-4"><div class="input-group"><span class="input-group-addon">满</span><input type="number" class="form-control" name="sign_day" placeholder="0"><span class="input-group-addon">天</span></div>'
                    +'</div><div class="col-sm-4 col-xs-4"><div class="input-group"><span class="input-group-addon">抽</span><input type="number" class="form-control" name="sign_num" placeholder="0"><span class="input-group-addon">次</span></div></div></div>';
        }
        if(task_type==3){
            option_div = '<option value="0">所有任务</option>{loop $tasklist $key $task}<option value="{$task['id']}">{$task['title']}</option>{/loop}';
            task_div = '<div class="row"><div class="col-sm-4 col-xs-4"><div class="input-group"><span class="input-group-addon">抽</span><input type="number" class="form-control" name="poster_num" placeholder="0"><span class="input-group-addon">次</span></div></div><div class="col-sm-4 col-xs-4"><select id="poster_select" class="input-sm form-control input-s-sm inline" name="poster_id">'+option_div+'</select></div></div>';
        }
        if(task_type==4){
            task_div = '<div class="row"><div class="col-sm-4 col-xs-4"><div class="input-group"><span class="input-group-addon">抽</span><input type="number" class="form-control" name="other_num" placeholder="0"><span class="input-group-addon">次</span></div></div><div class="col-sm-4 col-xs-4"><input type="text" class="form-control" name="other_content"></div></div>';
        }
        $('#task_show').empty();
        $('#task_show').append(task_div);
        return;
    }
</script>