{template '_header'}
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/account/default2/style.css?v=2.0.0">
<style type="text/css">
    .header {background-image: url("{php echo empty($set['wap']['bg'])?'../addons/ewei_shopv2/template/account/default2/bg.jpg':tomedia($set['wap']['bg'])}"); background-repeat: no-repeat}
    .btn {background: {if !empty($set['wap']['color'])}{$set['wap']['color']}{else}#fea119{/if};}
    .text a {color: {if !empty($set['wap']['color'])}{$set['wap']['color']}{else}#fea119{/if};}
    .header .logo {box-shadow: {if !empty($set['wap']['color'])}{$set['wap']['color']}{else}#fea119{/if} 0px 1px 8px;}
    .agreement {
        position: fixed;
        bottom: 20px;
        width: 100%;
    }
    .agreement p{
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
    }
    .agreement p a {
        color: #0066cc;
        cursor: pointer;
    }
</style>
<div class="fui-page">
    {if is_h5app()}
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"> </a>
        </div>
        <div class="title">{if empty($type)}用户注册{else}找回密码{/if}</div>
        <div class="fui-header-right" data-nomenu="true"></div>
    </div>
    {/if}
    <div class="fui-content">
        <div class="header">
            <div class="logo">
                <img src="{php echo tomedia($set['shop']['logo'])}" />
            </div>
        </div>
        <div class="acc-input-group">
            <div class="acc-input">
                <div class="title">11位手机号</div>
                <div class="input">
                    <input type="tel" class="input-inner" value="{php echo trim($_GPC['mobile'])}" placeholder="请输入手机号码" name="mobile" id="mobile" maxlength="11" />
                </div>
            </div>
            {if !empty($set['wap']['smsimgcode'])}
                <div class="acc-input">
                    <div class="title">图形验证码</div>
                    <div class="input">
                        <input type="tel" class="input-inner" value="" placeholder="请输入图形验证码" name="verifycode2" id="verifycode2" maxlength="4" />
                        <div class="remark">
                            <img src="../web/index.php?c=utility&a=code&r={php echo time()}" style="width: 3.5rem; height: 1.5rem; vertical-align: middle;" id="btnCode2">
                        </div>
                    </div>
                </div>
            {/if}
            <div class="acc-input">
                <div class="title">短信验证码</div>
                <div class="input">
                    <input type="tel" class="input-inner" value="" placeholder="请输入5位短信验证码" name="verifycode" id="verifycode" maxlength="5" />
                    <a class="remark" href="javascript:;" id="btnCode">获取验证码</a>
                </div>
            </div>
            <div class="acc-input">
                <div class="title">登录密码</div>
                <div class="input">
                    <input type="password" class="input-inner" value="" placeholder="请输入密码" name="pwd" id="pwd" maxlength="20" />
                </div>
            </div>
            <div class="acc-input">
                <div class="title">重复登录密码</div>
                <div class="input">
                    <input type="password" class="input-inner" value="" placeholder="请重复密码" name="pwd1" id="pwd1" maxlength="20" />
                </div>
            </div>
            <div class="acc-input">
                <div class="title">邀请码（选填）</div>
                <div class="input">
                    <input type="tel" class="input-inner" value="" placeholder="推荐人的邀请码" name="agentid" id="agentid" maxlength="20" />
                </div>
            </div>
        </div>

        <div class="btn" id="btnSubmit">{if empty($type)}立即注册{else}立即找回{/if}</div>
        <div class="text">
            <p>已有帐号? <a href="{$set['wap']['loginurl']}">立即登录</a></p>
        </div>

        {if empty($type)}
        {if is_h5app()}
        {if $set['wap']['agr']}
        <div class="agreement">
            <p><input type="checkbox" class="agree" value="1" checked name="agree[]"> 登录注册代表同意 <a href="{php echo mobileUrl('account/agr')}" id="useragr">《用户协议与隐私政策》</a></p>
        </div>
        {/if}
        {/if}
        {/if}

        <script language='javascript'>
            require(['biz/member/account'], function (modal) {
                modal.initRf({backurl:'{$backurl}', type: {php echo intval($type)}, endtime: {php echo intval($endtime)}, imgcode: {php echo intval($set['wap']['smsimgcode'])}});
            });
        </script>
    </div>
</div>
{template '_footer'}