{if empty($footer_off)}
<div class="text-center footer" style="margin:10px 0; width:100%; text-align:center; word-break:break-all;">
	{if !empty($_W['page']['footer'])}
	{$_W['page']['footer']}
	{else}
	{if IMS_FAMILY == 'v'}<a href="http://www.w7.cc">关于微擎</a>&nbsp;&nbsp;<a href="http://bbs.w7.cc">微擎帮助</a>{/if}
	{/if}
	&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}
</div>
{/if}
{if $_GPC['c'] == 'home' && $_GPC['a'] == 'page'}
{if $bottom_menu}
{data func="site_quickmenu"}{/data}
{/if}
{else}
{if $_GPC['m'] != 'paycenter'}
{data func="site_quickmenu"}{/data}
{/if}
{/if}
</div>
<style>
	h5{color:#555;}
</style>
<?php
		$_share['title'] = !empty($_share['title']) ? $_share['title'] : $_W['account']['name'];
		$_share['imgUrl'] = !empty($_share['imgUrl']) ? $_share['imgUrl'] : '';
		if(isset($_share['content'])){
			$_share['desc'] = $_share['content'];
			unset($_share['content']);
		}
		$_share['desc'] = !empty($_share['desc']) ? $_share['desc'] : '';
		$_share['desc'] = preg_replace('/\s/i', '', str_replace('	', '', cutstr(str_replace('&nbsp;', '', ihtmlspecialchars(strip_tags($_share['desc']))), 60)));
		if(empty($_share['link'])) {
			$_share['link'] = '';
			$query_string = $_SERVER['QUERY_STRING'];
			if(!empty($query_string)) {
				parse_str($query_string, $query_arr);
				$query_arr['u'] = $_W['member']['uid'];
				$query_string = http_build_query($query_arr);
				$_share['link'] = $_W['siteroot'].'app/index.php?'. $query_string;
			}
		}
	?>
<script type="text/javascript">
	$(function(){
		wx.config(jssdkconfig);
		var $_share = {php echo json_encode($_share);};
		if(typeof sharedata == 'undefined'){
			sharedata = $_share;
		} else {
			sharedata['title'] = 1;
			sharedata['desc'] = sharedata['desc'] || $_share['desc'];
			sharedata['link'] = sharedata['link'] || $_share['link'];
			sharedata['imgUrl'] = sharedata['imgUrl'] || $_share['imgUrl'];
		}
		if(sharedata.imgUrl == ''){
			var _share_img = $('body img:eq(0)').attr("src");
			if(_share_img){
				sharedata['imgUrl'] = util.tomedia(_share_img);
			}
		}
		if(sharedata.imgUrl == ""){
			sharedata.imgUrl = window.sysinfo.attachurl + 'images/global/wechat_share.jpg';
		}
		if(sharedata.desc == ''){
			var _share_content = util.removeHTMLTag($('body').html());
			if(typeof _share_content == 'string'){
				sharedata.desc = _share_content.replace($_share['title'], '')
			}
		}
		wx.ready(function () {
			wx.onMenuShareAppMessage(sharedata);
			wx.onMenuShareTimeline(sharedata);
			wx.onMenuShareQQ(sharedata);
			wx.onMenuShareWeibo(sharedata);
		});
		{if $controller == 'site' && $action == 'site'}
		$('#category_show').click(function(){
			$('.head .order').toggleClass('hide');
			return false;
		});
		//文章点击和分享加积分
		{if !empty($_GPC['u'])}
		var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'click', 'u' => $_GPC['u']), true);}";
		$.post(url, function(dat){});
		{/if}
			sharedata.success = function(){
				var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'share'));}";
				$.post(url, function(dat){});
			}
			{/if}
				if ($('.js-quickmenu').size() > 0) {
					// var h = $('.js-quickmenu .nav-home').height()+20+'px';
					// $('body').css("padding-bottom",h);
					// $('body .mui-content').css("bottom",h);
				} else if($('.nav-menu-app').size() > 0) {
					var h = $('.nav-menu-app').height()+'px';
					$('body').css("padding-bottom",h);
					$('.mui-content').css('bottom',h);
				} else {
					$('body').css("padding-bottom", "0");
					$('.mui-content').css('bottom', "0");
				}
			});
</script>
<script type="text/javascript" src="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=utility&a=visit&do=showjs&m={$_W['current_module']['name']}"></script>
</body>
</html>
