html,
body {
  background-color: #F8F8FA;
}
.top {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}
.top img {
  width: 2.05rem;
  height: 2.05rem;
  border-radius: 1.025rem;
}
.top .user-info {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: #8E8E8E;
}
.top .user-info > div:first-of-type {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
}
.tuijianma-container {
  margin: 0.375rem 0.75rem 0 0.75rem;
  background-color: #191619;
  border-radius: 0.25rem;
  color: #FFD592;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
  font-size: 0.75rem;
}
.tixian-btn {
  height: 1.1rem;
  line-height: 1.1rem;
  padding: 0 0.9rem;
  background: linear-gradient(-86deg, #f1d1a2 0%, #fff1d6 100%);
  border-radius: 0.55rem;
  font-size: 0.65rem;
  color: #2E2E2E;
}
.arc-container {
  background: url('../images/index_new/cover.png') no-repeat 0 bottom;
  background-size: contain;
}
.arc-content {
  margin: 0 0.75rem;
  height: 1.15rem;
  margin-top: -0.5rem;
  border: 1px solid black;
  border-radius: 0 0 50% 50%;
  border-top: none;
  background-color: #191619;
}
.yongjin-container {
  display: flex;
  text-align: center;
  background-color: #fff;
}
.yongjin-item {
  width: 50%;
  border-right: 1px solid #DCDCDC;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.yongjin-item:last-of-type {
  border-right: none;
}
.commission-des {
  font-size: 0.55rem;
  font-weight: normal;
}
.card-container {
  margin: 0.375rem 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-item {
  width: 49.7%;
  margin-bottom: 0.15rem;
  position: relative;
  font-size: 0.6rem;
  padding: 1.5rem 0 1.5rem 2.125rem;
}
.shop-commission {
  color: #A67200;
  background: url(../images/index_new/shopcenter_1.png) no-repeat;
  background-size: contain;
}
.shop-order {
  color: #A14104;
  background: url(../images/index_new/shopcenter_2.png) no-repeat;
  background-size: contain;
}
.draw-detail {
  color: #0040AA;
  background: url(../images/index_new/shopcenter_3.png) no-repeat;
  background-size: contain;
}
.my-client {
  color: #AE051B;
  background: url(../images/index_new/shopcenter_4.png) no-repeat;
  background-size: contain;
}
.font-size-40 {
  font-size: 1rem;
  font-weight: bold;
}
.list-container .list-item {
  margin-bottom: 0.375rem;
}
.list-item > ul > li > a {
  padding: 0.9rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.list-item > ul > li {
  margin-bottom: 0.05rem;
}
.list-item > ul > li:last-of-type {
  margin-bottom: 0;
}
.list-item .icon-triangle-right-pure {
  color: #ccc;
}
.list-item > ul > li > a > div .icon {
  font-size: 0.85rem;
  margin-right: 0.65rem;
}
