{template '_header'}
<style type="text/css">
   .page-shop-goods_category.iphonex .fui-header{
		top:0rem;
		height:3.2rem;
		padding-top:1rem
	}
	.page-shop-goods_category.iphonex .fui-header ~ .fui-content{
		top:3.2rem
	}
	.page-shop-goods_category.iphonex .fui-header .title{
		top:1rem
    }
    .fui-header:after {
  border-bottom: none;
}
.page-shop-goods_category.iphonex .fui-header {
  height: 2.2rem;
  padding-top: 0;
}
.page-shop-goods_category.iphonex .fui-header ~ .fui-content {
  top: 2.2rem;
}
.page-shop-goods_category.iphonex .fui-header .title {
  top: 0;
}
.page-shop-goods_category .fui-header .searchbar .search-input input {
  border-radius: 0.7rem;
}
.fui-fullHigh-item.menu nav {
  color: #9E9E9E;
  font-size: 0.6rem;
  padding: 0.6rem 0;
}
.fui-fullHigh-item.menu nav.on {
  font-size: 0.7rem;
  font-weight: bold;
  color: #000;
}
.fui-fullHigh-item.menu nav.on:before {
  border-bottom: none;
  background: linear-gradient(-74deg, #fe2956, #ff5daa);
  width: 0.175rem;
  border-radius: 0.125rem;
  border-left: none;
  height: inherit;
  top: 0.6rem;
  bottom: 0.6rem;
}
.page-shop-goods_category .fui-fullHigh-item.container .fui-title {
  color: #000;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.fui-icon-group .fui-icon-col .text {
  font-size: 0.6rem;
  color: #444444;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
</style>

<script>
    document.documentElement.style.fontSize =document.documentElement.clientWidth/750*40 +"px";
</script>
<div class="fui-page fui-page-current page-shop-goods_category">
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"></a>
        </div>
        <div class="title">
            <form method="post" action="{php echo mobileUrl('goods')}">
                <div class="searchbar">
                    <div class="search-input">
                        <i class="icon icon-search"></i>
                        <input type="search" name="keywords" placeholder="输入关键字...">
                    </div>
                </div>
            </form>
        </div>
    </div>
	<div class="fui-content navbar">
    <div class="fui-fullHigh-group">
        {if $category_set['level']!=1}
        <div class="fui-fullHigh-item menu" id="tab">
            <nav data-cate="recommend" data-src="{$category_set['advimg']}" data-href="{$category_set['advurl']}">推荐分类</nav>
            {loop $category['parent'][0] $value}
            <nav data-cate="{$value['id']}" data-src="{$value['advimg']}" data-href="{$value['advurl']}">{$value['name']}</nav>
            {/loop}
        </div>
        {/if}
        <div class="fui-fullHigh-item container" style="position: relative">
            <a id="advurl" class="swipe external" href="javascript:">
                <img id="advimg">
            </a>
            <div id="container"></div>
        </div>
    </div>
   
</div>
	</div>
<script id='tpl_shop_category_list' type='text/html'>
    <%if recommend == 1%>
    <div class="fui-icon-group selecter">
        {if !p('offic')}
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}">
            <div class="icon {if empty($set['style'])}radius{/if}"><i class="icon icon-app" ></i></div>
            <div class="text">所有商品</div>
        </a>
        {/if}
        {if $category_set['level']<=2}
            <%each recommend_children as child%>
                <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%child.id%>">
                    <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%child.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
                    <div class="text"><%child.name%></div>
                </a>
            <%/each%>

        {else}

            <%each recommend_children as child%>
                <a class="fui-icon-col show" data-children="<%child.id%>" data-pid="recommend" data-src="<%child.advimg%>" data-href="<%child.advurl%>" href="javascript:">
                    <div class="icon {if empty($set['style'])}radius{/if}">
                        <img src="<%child.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'">
                    </div>
                    <div class="text"><%child.name%></div>
                </a>
            <%/each%>
        {/if}

        <%each recommend_grandchildren as grandchild%>
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%grandchild.id%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%grandchild.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
            <div class="text"><%grandchild.name%></div>
        </a>
        <%/each%>
    </div>
    <%else%>

    {if $category_set['level']==1}
    <a class="fui-title">所有分类</a>
    <div class="fui-icon-group selecter">
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}">
            <div class="icon {if empty($set['style'])}radius{/if}"><i class="icon icon-app"></i></div>
            <div class="text">所有商品</div>
        </a>
        <%each parent[0] as cate%>
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%cate.id%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%cate.advimg%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
            <div class="text"><%cate.name%></div>
        </a>
        <%/each%>
    </div>

    {else if $category_set['level']==2 || empty($category_set['level']) }
    <div class="fui-icon-group selecter">
        <%each children as child%>
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%child.id%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%child.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
            <div class="text"><%child.name%></div>
        </a>
        <%/each%>
    </div>

    {else}
    {if $category_set['show']!=1}
    <%each children as child%>
    <a class="fui-title external" href="{php echo mobileUrl('goods')}&cate=<%child.id%>"><%child.name%></a>
    <div class="fui-icon-group selecter">
        <%each grandchildren[child.id] as grandchild%>
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%grandchild.id%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%grandchild.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
            <div class="text"><%grandchild.name%></div>
        </a>
        <%/each%>
    </div>
    <%/each%>
    {else}
    <div class="fui-icon-group selecter">
    <%each children as child%>
    <a class="fui-icon-col show" data-children="<%child.id%>" data-pid="<%child.parentid%>"  data-src="<%child.advimg%>" data-href="<%child.advurl%>" href="javascript:">
        <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%child.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
        <div class="text"><%child.name%></div>
    </a>
    <%/each%>
    </div>
    {/if}
    {/if}
    <%/if%>
</script>

<script id='tpl_shop_category_show_list' type='text/html'>
    <div class="fui-icon-group selecter">
        <a class="fui-icon-col prev" data-prev="<%pid%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><i class="icon icon-toleft"></i></div>
            <div class="text">返回上一级</div>
        </a>
        <%each children as child%>
        <a class="fui-icon-col external" href="{php echo mobileUrl('goods')}&cate=<%child.id%>">
            <div class="icon {if empty($set['style'])}radius{/if}"><img src="<%child.thumb%>" onerror="this.src='{EWEI_SHOPV2_STATIC}images/nopic100.png'; this.title='图片未找到.'"></div>
            <div class="text"><%child.name%></div>
        </a>
        <%/each%>
    </div>
</script>
<script language='javascript'>
    require(['biz/shop/category'], function (modal) {
        modal.init({php echo json_encode($category)},{php echo json_encode($category_set)});
    });
	$(function () {
        setTimeout(function () {
            var width = window.screen.width *  window.devicePixelRatio;
            var height = window.screen.height *  window.devicePixelRatio;
            var h = document.body.offsetHeight *  window.devicePixelRatio;
            //  微信版本6.6.7
            if(h == 1923){
                $(".fui-page").removeClass('iphonex');
                return;
            }

            if(height==2436 && width==1125){
                $(".fui-page").addClass('iphonex')
            }
        },600)
    })
</script>
{template '_menu'}
{template '_index_footer'}