{template '_header'}
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/coupon-new.css?v=2017030302">
<div class='fui-page  fui-page-current coupon-my-page'>
    <div class="fui-header">
		<div class="fui-header-left">
			<a class="back"></a>
		</div>
		<div class="title">我的优惠券</div> 
		<div class="fui-header-right">&nbsp;</div>
    </div>
	<div class='fui-content' style="background-color: #FAF7F8;">
		<div class='fui-tab fui-tab-danger' id='cateTab'>
			<a class="active" data-cate=''>未使用</a>
			<a data-cate='used'>已使用</a>
			<a data-cate='past'>已过期</a>
		</div>
		{if empty($set['closecenter'])}
			<a class="btn btn-default-o external" style="display: block;" href="{php echo mobileUrl('sale/coupon')}"><i class="icon icon-gifts"></i> 赶紧去领券中心看看更多优惠券~</a>
		{/if}
		<div class="fui-message fui-message-popup in content-empty" style="display: none; margin-top: 0; padding-top: 0; position: relative; height: auto; background: none;">
				<div class="icon ">
					<img src="{EWEI_SHOPV2_STATIC}images/no_coupon.jpg" style="width: 10rem;margin-bottom: .5rem;">
				</div>
				<div class="content">您还没有优惠券~</div>
		</div>
		<div id="container" class="coupon-container coupon-list"></div>
		<div class='infinite-loading' style="text-align: center; color: #666;">
	    	<span class='fui-preloader'></span>
	    	<span class='text'> 正在加载...</span>
	    </div>
		{template '_copyright'}
	</div>

	<script id='tpl_list_coupon_my' type='text/html'>
		<%each list as coupon%>
		<%if  coupon.check == 0%>
			<a href="{php echo mobileUrl('sale/coupon/my/detail')}&id=<%coupon.id%>" class="coupon-item  <%coupon.color%>">
		<% else%>
			<a href="javascript:void(0)" class="coupon-item  <%if  coupon.check == 1%><%coupon.color%> <%else%>gray<%/if%>">
		<%/if%>
			<div class="coupon-dots">
				<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
			</div>
				<div class="coupon-type" <% if coupon.settitlecolor ==1 %>style="background:<%coupon.titlecolor%>"<%/if%> ><%coupon.tagtitle%></div>
			<div class="coupon-left">
				<div class="title"><%=coupon.title3%></div>
				<div class="subtitle"><%=coupon.title2%></div>
			</div>
			<div class="coupon-right">
				<div class="title"><%coupon.couponname%></div>
				<div class="subtitle"><%=coupon.title5%></div>
				<div class="subtitle"><%if coupon.merchname!=''%>限购[<%coupon.merchname%>]店铺商品<%/if%></div>
				<div class="usetime">
					<div class="text"><%if coupon.timestr==''%>
						永久有效
						<%else%>
						<%if coupon.past%>
						已过期
						<%else%>
						有效期 <%coupon.timestr%>
						<%/if%>
						<%/if%>
						</div>
					<div class="usebtn">
						<%if  coupon.check ==2%>
						已过期
						<%else if  coupon.check ==1%>
						已使用
						<%else%>
						立即使用
						<%/if%>
					</div>
				</div>
			</div>
		</a>
		<%/each%>
	</script>
	<script language='javascript'>require(['biz/sale/coupon/my'], function (modal) {modal.init();});</script>
</div>
{template '_footer'}