</div>
<div class="clearfix"></div>
<div class="container-fluid footer text-center" role="footer">	
	<div class="friend-link">
		{if empty($_W['setting']['copyright']['footerright'])}
			<a href="http://www.w7.cc">微信开发</a>
			<a href="http://s.w7.cc">微信应用</a>
			<a href="http://bbs.w7.cc">微擎论坛</a>
			<a href="http://s.w7.cc">小程序开发</a>
		{else}
			{$_W['setting']['copyright']['footerright']}
		{/if}
	</div>
	<div class="copyright">{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://www.w7.cc"><b>微擎</b></a> v{IMS_VERSION} &copy; 2014-2018 <a href="http://www.w7.cc">www.w7.cc</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</div>
	{if !empty($_W['setting']['copyright']['icp'])}
	<div>备案号：<a href="http://beian.miit.gov.cn/" target="_blank">{$_W['setting']['copyright']['icp']}</a></div>{/if}
</div>
</div>

</div>
</div>
{template 'common/footer-base'}

</body>
</html>