<script type="text/html" id="tpl_show_notice">
    <%if data%>
        <div class="fui-notice" style="background: <%style.background%>" data-speed="<%params.speed%>">
            <div class="image"><img src="<%imgsrc params.iconurl%>" onerror="this.src='../addons/ewei_shopv2/static/images/hotdot.jpg'"></div>
            <div class="icon"><i class="icon icon-notification1" style="font-size: 0.7rem; color: <%style.iconcolor%>;"></i></div>
            <div class="text" style="color: <%style.color%>;">
                <ul>
                    <%each data as item%>
                        <%if params.noticedata=='0'%>
                            <li><a href="<%item.linkurl||'{php echo mobileUrl('shop/notice/detail')}&id='+item.id%>" style="color: <%style.color%>;" data-nocache="true"><%item.title%></a></li>
                        <%/if%>
                        <%if params.noticedata=='1'%>
                            <li><a href="<%item.linkurl||'javascript:;'%>" style="color: <%style.color%>;" data-nocache="true"><%item.title%></a></li>
                        <%/if%>
                    <%/each%>
                </ul>
            </div>
        </div>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_richtext">
    <%if params.content%>
        <div class="diy-richtext" style="background: <%style.background%>; padding: <%style.padding%>px;">
            <%=decode(params.content)%>
         </div>
    <%/if%>
</script>

<!--轮播图-->
<script type="text/html" id="tpl_show_banner">
    <%if data%>
        <div class='fui-swipe'>
            <div class='fui-swipe-wrapper'>
                <%each data as item%>
                    <a class='fui-swipe-item' href="<%item.linkurl||'javascript:;'%>" data-nocache="true"><img src="<%imgsrc item.imgurl%>" style="display: block; width: 100%; height: auto;"/></a>
                <%/each%>
            </div>
            <style>
                .fui-swipe-page .fui-swipe-bullet {background: <%style.background||'#000000'%>; opacity: <%style.opacity||'0.8'%>;}
                .fui-swipe-page .fui-swipe-bullet.active {opacity: 1;}
            </style>
            <div class='fui-swipe-page <%style.dotalign||'left'%> <%style.dotstyle||'rectangle'%>' style="padding: 0 <%style.leftright||'10'%>px; bottom: <%style.bottom||'10'%>px; "></div>
        </div>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_title">
    <%if params.title%>
        <div class="fui-title" style="background: <%style.background||''%>; color: <%style.color||''%>; font-size: <%style.fontsize||'12'%>px; text-align: <%style.textalign||''%>; padding: <%style.paddingtop||'0'%>px <%style.paddingleft||'5'%>px; margin: 0;">
            <a href="<%params.link||'javascript:;'%>" style="color: <%style.color||''%>" data-nocache="true">
                <%if params.icon%><i class="icon <%params.icon%>"></i><%/if%>
                <%params.title||'请输入标题内容'%>
            </a>
        </div>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_search">
    <form action="{php echo mobileUrl('goods')}" method="post">
        <div class="fui-searchbar bar" style="z-index: 0;">
            <div class="searchbar" style="background: <%style.background%>; padding: <%style.paddingtop||'10'%>px <%style.paddingleft||'10'%>px;">
                <input type="submit" class="searchbar-cancel searchbtn" value="搜索" />
                <div class="search-input <%style.searchstyle%>" style="background: <%style.inputbackground||'#fff'%>;">
                    <i class="icon icon-search" style="color: <%style.iconcolor%>;"></i>
                    <input type="search" placeholder="<%params.placeholder%>" class="search" name="keywords" style="text-align: <%style.textalign%>; color: <%style.color%>; background: none;" />
                </div>
            </div>
        </div>
    </form>
</script>


<script type="text/html" id="tpl_show_line">
    <div class="fui-line-diy" style="background: <%style.background%>; padding: <%style.padding%>px 0;">
        <div class="line" style="border-top: <%style.height||'2'%>px <%style.linestyle||'solid'%> <%style.bordercolor||'#000000'%>"></div>
    </div>
</script>


<script type="text/html" id="tpl_show_blank">
    <div class="fui-blank" style="height: <%style.height%>px; background: <%style.background%>;"></div>
</script>


<script type="text/html" id="tpl_show_menu">
    <%if data%>
        <div class="fui-icon-group noborder col-<%style.rownum%> <%style.navstyle%>" style="background: <%style.background||'#ffffff'%>">
            <%each data as item%>
            <a class="fui-icon-col external" href="<%item.linkurl||'javascript:;'%>" data-nocache="true">
                <div class="icon"><img src="<%imgsrc item.imgurl%>"></div>
                <div class="text" style="color: <%item.color%>"><%item.text%></div>
            </a>
            <%/each%>
        </div>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_picture">
    <%if data%>
        <div class="fui-picture" style="padding-bottom: <%style.paddingtop%>px; background: <%style.background%>;">
            <%each data as item%>
                <a href="<%item.linkurl||'javascript:;'%>" style="display: block; padding: <%style.paddingtop%>px <%style.paddingleft%>px;" data-nocache="true">
                    <img data-lazy="<%imgsrc item.imgurl%>" />
                </a>
            <%/each%>
        </div>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_picturew">
    <%if data%>
        <%if params.row=='1'%>
            <div class="fui-cube" style="background: <%style.background%>; <%if count(data)==1%>padding: <%style.paddingtop%>px <%style.paddingleft%>px;<%/if%>">
                <%if count(data)==1%>
                    <a href="<%toArray(data)[0].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[0].imgurl)%>" /></a>
                <%/if%>
                <%if count(data)>1%>
                    <div class="fui-cube-left" style="padding: <%style.paddingtop%>px <%style.paddingleft%>px; padding-right: 0;">
                        <a href="<%toArray(data)[0].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[0].imgurl)%>" /></a>
                    </div>
                    <div class="fui-cube-right" <%if count(data)==2%> style="padding: <%style.paddingtop%>px <%style.paddingleft%>px;"<%/if%>>
                        <%if count(data)==2%>
                            <a href="<%toArray(data)[1].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[1].imgurl)%>" /></a>
                        <%/if%>
                        <%if count(data)>2%>
                            <div class="fui-cube-right1" style="padding: <%style.paddingtop%>px <%style.paddingleft%>px; padding-bottom: 0;">
                                <a href="<%toArray(data)[1].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[1].imgurl)%>" /></a>
                            </div>
                            <div class="fui-cube-right2" <%if count(data)==3%> style="padding: <%style.paddingtop%>px <%style.paddingleft%>px;"<%/if%>>
                                <%if count(data)==3%>
                                    <a href="<%toArray(data)[2].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[2].imgurl)%>" /></a>
                                <%/if%>
                                <%if count(data)>3%>
                                    <div class="left" style="padding: <%style.paddingtop%>px <%style.paddingleft%>px; padding-right: 0;">
                                        <a href="<%toArray(data)[2].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[2].imgurl)%>" /></a>
                                    </div>
                                <%/if%>
                                <%if count(data)==4%>
                                    <div class="right" style="padding: <%style.paddingtop%>px <%style.paddingleft%>px;">
                                        <a href="<%toArray(data)[3].linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc(toArray(data)[3].imgurl)%>" /></a>
                                    </div>
                                <%/if%>
                            </div>
                        <%/if%>
                    </div>
                <%/if%>
            </div>
        <%/if%>
        <%if params.row>1%>
            <div class="fui-picturew row-<%params.row%>" style="padding: <%style.paddingleft%>px; background: <%style.background%>;">
                <%each data as item%>
                <div class="item" style="padding: <%style.paddingtop%>px <%style.paddingleft%>px;">
                    <a href="<%item.linkurl||'javasript:;'%>" data-nocache="true"><img data-lazy="<%imgsrc item.imgurl%>"></a>
                </div>
                <%/each%>
            </div>
        <%/if%>
    <%/if%>
</script>


<script type="text/html" id="tpl_show_goods">
    <%if data%>
        <div class="fui-goods-group <%style.liststyle%>">
            <%each data as item%>
                <a class="fui-goods-item" data-goodsid="<%item.gid%>" href="{php echo mobileUrl('goods/detail')}&id=<%item.gid%>" data-nocache="true" style="position: relative;">
                    <div class="image" data-lazy-background="<%imgsrc item.thumb%>">
                        <%if (params.showicon=='1' || params.showicon=='2')%>
                            <div class="goodsicon <%params.iconposition%>"
                                <%if params.iconposition=='left top'%> style="top: <%style.iconpaddingtop%>px; left: <%style.iconpaddingleft%>px; text-align: left;"<%/if%>
                                <%if params.iconposition=='right top'%> style="top: <%style.iconpaddingtop%>px; right: <%style.iconpaddingleft%>px; text-align: right;"<%/if%>
                                <%if params.iconposition=='left bottom'%> style="bottom: <%style.iconpaddingtop%>px; left: <%style.iconpaddingleft%>px; text-align: left;"<%/if%>
                                <%if params.iconposition=='right bottom'%> style="bottom: <%style.iconpaddingtop%>px; right: <%style.iconpaddingleft%>px; text-align: right;"<%/if%>
                             >
                                <%if params.showicon=='1'%>
                                    <img src="../addons/ewei_shopv2/plugin/diypage/static/images/default/goodsicon-<%style.goodsicon%>.png" style="width: <%style.iconzoom||'100'%>%;" />
                                <%/if%>

                                <%if params.showicon=='2' && params.goodsiconsrc%>
                                    <img src="<%imgsrc params.goodsiconsrc%>" onerror="this.src=''" style="width: <%style.iconzoom||'100'%>%;" />
                                <%/if%>
                            </div>
                        <%/if%>
                    </div>
                    <%if params.showtitle==1 || params.showprice==1%>
                        <div class="detail">
                            <%if params.showtitle=='1'%>
                                <div class="name" style="color: <%style.titlecolor%>;">
                                    <%if item.bargain>0%>
                                    <label style="background-color: <%style.buybtncolor%>; padding: 0px 2px; color: #fff; font-size: 0.6rem">砍价</label>
                                    <%/if%>
                                    <%item.title%>
                                </div>
                            <%/if%>
                            <%if params.showprice=='1'%>
                                <div class="price">
                                    <span class="text" style="color: <%style.pricecolor%>;">￥<%item.price%></span>
                                    <%if style.buystyle!='' && item.bargain==0%>
                                        <%if style.buystyle=='buybtn-1'%>
                                            <span class="buy" style="border-color: <%style.buybtncolor%>;"><i class="icon icon-cart"></i></span>
                                        <%/if%>
                                        <%if style.buystyle=='buybtn-2'%>
                                            <span class="buy" style="background-color: <%style.buybtncolor%>;"><i class="icon icon-add"></i></span>
                                        <%/if%>
                                        <%if style.buystyle=='buybtn-3'%>
                                            <span class="buy buybtn-3" style="background-color: <%style.buybtncolor%>;">购买</span>
                                        <%/if%>
                                    <%/if%>
                                    <%if item.bargain>0%>
                                    <span class="buy bargain-btn" style="background-color: <%style.buybtncolor%>;">砍</span>
                                    <%/if%>
                                </div>
                            <%/if%>
                        </div>
                    <%/if%>
                <%if item.total<=0%>
                    <div class="salez" style="background-image: url('{php echo tomedia($_W['shopset']['shop']['saleout'])}'); "></div>
                <%/if%>
                </a>
            <%/each%>
        </div>
    <%/if%>
</script>

<script type="text/html" id="tpl_show_member">
    <%if params.style=='default1'%>
    <div class="headinfo" style="background: <%style.background%>; <%if style.background%>border: none;<%/if%>">
        <%if params.seticon%>
        <a class="setbtn" style="color: <%style.textcolor%>;" href="<%params.setlink%>" data-nocache="true"><i class="icon <%params.seticon%>"></i></a>
        <%/if%>
        <div class="child">
            <div class="title" style="color: <%style.textcolor%>;"><%info.textmoney%></div>
            <div class="num" style="color: <%style.textlight%>;"><%info.money%></div>
            <%if params.leftnav%>
                <a class="btn" style="color: <%style.textcolor%>; border-color: <%style.textcolor%>;" href="<%params.leftnavlink%>" data-nocache="true"><%params.leftnav%></a>
            <%/if%>
        </div>
        <div class="child userinfo" style="color: <%style.textcolor%>;">
            <div class="face <%style.headstyle%>"><img src="<%info.avatar%>"></div>
            <div class="name"><%info.nickname%></div>
            <%if params.levellink%>
            <a class="level" href="<%params.levellink%>">[<%info.levelname%>] <i class="icon icon-question1" style="font-size: 0.6rem;"></i></a>
            <%else%>
            <div class="level">[<%info.levelname%>]</div>
            <%/if%>
        </div>
        <div class="child">
            <div class="title" style="color: <%style.textcolor%>;"><%info.textcredit%></div>
            <div class="num" style="color: <%style.textlight%>;"><%info.credit%></div>
            <%if params.rightnav%>
                <a class="btn" style="color: <%style.textcolor%>; border-color: <%style.textcolor%>;" href="<%params.rightnavlink%>" data-nocache="true"><%params.rightnav%></a>
            <%/if%>
        </div>
    </div>
    <%/if%>
    <%if params.style=='default2'%>
    <div class="headinfo style-2" style="background: <%style.background%>; <%if style.background%>border: none;<%/if%>">
        <%if params.seticon%>
        <a class="setbtn" style="color: <%style.textcolor%>;" href="<%params.setlink%>" data-nocache="true"><i class="icon <%params.seticon%>"></i></a>
        <%/if%>
        <div class="face <%style.headstyle%>"><img src="<%info.avatar%>"></div>
        <div class="inner" style="color: <%style.textcolor%>;">
            <div class="name"><%info.nickname%></div>
            <%if params.levellink%>
            <a class="level" href="<%params.levellink%>" style="color: <%style.textcolor%>;">[<%info.levelname%>] <i class="icon icon-question1" style="font-size: 0.6rem;"></i></a>
            <%else%>
            <div class="level">[<%info.levelname%>]</div>
            <%/if%>
            <div class="credit"><%info.textmoney%>: <span style="color: <%style.textlight%>;"><%info.money%></span></div>
            <div class="credit"><%info.textcredit%>: <span style="color: <%style.textlight%>;"><%info.credit%></span></div>
        </div>
    </div>
    <%/if%>
</script>

<script type="text/html" id="tpl_show_icongroup">
    <div class="fui-icon-group noborder col-<%params.rownum%> selecter" style="background-color: <%style.background%>; <%if params.bordertop=='1'%>border-top: 1px solid <%style.bordercolor%>;<%else%>border-top: none;<%/if%> <%if params.borderbottom=='1'%>border-bottom: 1px solid <%style.bordercolor%>;<%else%>border-bottom: none;<%/if%>">
        <%define index=0%>
        <%each data as child itemid %>
        <a class="fui-icon-col" style="<%if params.border=='1'&&index>0%>border-left: 1px solid <%style.bordercolor%>;<%else%>border-left: none;<%/if%>" href="<%child.linkurl%>" data-nocache="true">
            <%if child.dotnum>0%><div class="badge" style="background-color: <%style.dotcolor%>;"><%child.dotnum%></div><%/if%>
            <div class="icon icon-green radius"><i class="icon <%child.iconclass%>" style="color: <%style.iconcolor%>;"></i></div>
            <div class="text" style="color: <%style.textcolor%>;"><%child.text%></div>
        </a>
        <%define index++%>
        <%/each%>
    </div>
</script>

<script type="text/html" id="tpl_show_listmenu">
    <div class="fui-cell-group fui-cell-click" style="margin-top: <%style.margintop%>px; background-color: <%style.background%>;">
        <%each data as item%>
        <a class="fui-cell" href="<%item.linkurl%>" data-nocache="true">
            <%if item.iconclass%>
            <div class="fui-cell-icon" style="color: <%style.iconcolor%>;"><i class="icon <%item.iconclass%>"></i></div>
            <%/if%>
            <div class="fui-cell-text" style="color: <%style.textcolor%>;"><%item.text%></div>
            <div class="fui-cell-remark" style="color: <%style.remarkcolor%>;"><%if item.dotnum>0%><span class="badge"><%item.dotnum%></span><%else%><%item.remark%><%/if%></div>
        </a>
        <%/each%>
    </div>
</script>
<script type="text/html" id="tpl_show_bindmobile">
    <div class="fui-cell-group fui-cell-click" style="margin-top: <%style.margintop%>px; background-color: <%style.background%>;">
        <a class="fui-cell" href="<%params.linkurl%>" data-nocache="true">
            <%if params.iconclass%>
            <div class="fui-cell-icon" style="color: <%style.iconcolor%>;"><i class="icon <%params.iconclass%>"></i></div>
            <%/if%>
            <div class="fui-cell-text" style="color: <%style.titlecolor%>;"><%if params.title%><%params.title%><%else%>绑定手机号<%/if%></div>
            <div class="fui-cell-remark"></div>
        </a>
        <%if params.text%>
        <div class="fui-cell-tip" style="color: <%style.textcolor%>;"><%params.text%></div>
        <%/if%>
    </div>
</script>

<script type="text/html" id="tpl_show_logout">
    <div class="fui-cell-group fui-cell-click" style="margin-top: <%style.margintop%>px; background-color: <%style.background%>;">
        <a class="fui-cell external" href="<%params.bindurl%>">
            <div class="fui-cell-text" style="text-align: center; color: <%style.textcolor%>;"><p>修改密码</p></div>
        </a>
        <a class="fui-cell external" href="<%params.logouturl%>">
            <div class="fui-cell-text" style="text-align: center; color:<%style.textcolor%>;"><p>退出登录</p></div>
        </a>
    </div>
</script>

<script type="text/html" id="tpl_show_memberc">
    <%if params.style=='default1'%>
    <div class="headinfo commission" style="background-color: <%style.background%>;">
        <div class="userinfo" style="border-bottom: 0.5px solid <%style.textcolor%>;">
            <div class="fui-list">
                <div class="fui-list-media"><img src="<%params.avatar%>"></div>
                <div class="fui-list-info">
                    <div class="title" style="color: <%style.textcolor%>;"><%params.nickname%></div>
                    <div class="subtitle" style="color: <%style.textlight%>;">&lt;<%params.levelname%>&gt;</div>
                    <div class="text" style="color: <%style.textcolor%>;"><%params.upname%>: <%params.upmember%></div>
                </div>
            </div>
            <%if params.seticon%>
            <a class="setbtn" href="<%params.setlink%>" data-nocache="true"><i class="icon <%params.seticon%>"></i></a>
            <%/if%>
        </div>
        <div class="userblock">
            <div class="line total">
                <div class="title" style="color: <%style.textcolor%>;"><%params.textsuccesswithdraw%>(<%params.textyaun%>)</div>
                <div class="num" style="color: <%style.textcolor%>;"><%params.successwithdraw%></div>
            </div>
            <div class="line usable">
                <%if params.centernav%>
                <a class="btn" href="<%params.centernavlink%>" data-nocache="true"><%params.centernav%></a>
                <%/if%>
                <div class="text">
                    <div class="title" style="color: <%style.textcolor%>;"><%params.textcanwithdraw%>(<%params.textyaun%>)</div>
                    <div class="num" style="color: <%style.textcolor%>;"><%params.canwithdraw%></div>
                </div>
            </div>
        </div>
    </div>
    <%/if%>
    <%if params.style=='default2'%>
    <div class="headinfo-m" style="background: <%style.background%>; <%if style.background%>border: none;<%/if%>">
        <%if params.seticon%>
        <a class="setbtn" style="color: <%style.textcolor%>;" href="<%params.setlink%>" data-nocache="true"><i class="icon <%params.seticon%>"></i></a>
        <%/if%>
        <div class="child">
            <div class="title" style="color: <%style.textcolor%>;"><%params.textsuccesswithdraw%></div>
            <div class="num" style="color: <%style.textlight%>;"><%params.successwithdraw%></div>
            <%if params.leftnav%>
            <a class="btn" style="color: <%style.textcolor%>; border-color: <%style.textcolor%>;" href="<%params.leftnavlink%>" data-nocache="true"><%params.leftnav%></a>
            <%/if%>
        </div>
        <div class="child userinfo" style="color: <%style.textcolor%>;">
            <div class="face <%style.headstyle%>"><img src="<%params.avatar%>"></div>
            <div class="name"><%params.nickname%></div>
            <div class="level">[<%params.levelname%>]</div>
            <div class="level"><%params.upname%>: <%params.upmember%></div>
        </div>
        <div class="child">
            <div class="title" style="color: <%style.textcolor%>;"><%params.textcanwithdraw%></div>
            <div class="num" style="color: <%style.textlight%>;"><%params.canwithdraw%></div>
            <%if params.rightnav%>
            <a class="btn" style="color: <%style.textcolor%>; border-color: <%style.textcolor%>;" href="<%params.rightnavlink%>" data-nocache="true"><%params.rightnav%></a>
            <%/if%>
        </div>
    </div>
    <%/if%>
</script>

<script type="text/html" id="tpl_show_blockgroup">
    <div class="fui-block-group col-<%params.rownum%>" style="margin-top:0; overflow: hidden; background-color: <%style.background%>;">
        <%each data as item%>
        <a class="fui-block-child" style="background-color: <%style.background%>;" href="<%item.linkurl%>" data-nocache="true">
            <div class="icon" style="color: <%item.iconcolor%>;"><i class="icon <%item.iconclass%>"></i></div>
            <div class="title" style="color: <%item.textcolor%>;"><%item.text%></div>
            <div class="text">
                <%if item.tipnum||item.tipnum==0%>
                <span style="color: <%style.tipcolor%>"><%item.tipnum%></span> <%item.tiptext%>
                <%/if%>
            </div>
        </a>
        <%/each%>
    </div>
</script>