<footer class="new_footer">
    <div class="footer_container">
      <div class="footer_item active" onclick="location.href = './index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=diypage&id=20'">
        <div class="iconfont icon-footer-home"></div>
        <div class="footer_title">首页</div>
      </div>
      <div class="footer_item" onclick="location.href = './index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=shop.category'">
        <div class="iconfont icon-footer-category"></div>
        <div class="footer_title">分类</div>
      </div>
      <div class="footer_item" onclick="location.href = './index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=article.list'">
        <div class="iconfont icon-footer-camera"> </div>
        <div class="footer_title">潮记</div>
      </div>
      <div class="footer_item" onclick="location.href = './index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member.cart'">
        <div class="iconfont icon-footer-cart"> </div>
        <div class="footer_title">购物车</div>
      </div>
      <div class="footer_item" onclick="location.href = './index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=diypage&id=23'">
        <div class="iconfont icon-footer-user"></div>
        <div class="footer_title">我的</div>
      </div>
    </div>
  </footer>