<div class="subnav-scene">授权管理</div>
<ul style="display: block;">
    {ifp 'system.auth'}<li {if $_W['routes']=='system.auth'}class="active"{/if}><a href="{php echo webUrl('system/auth')}">授权管理</a></li>{/if}
    {ifp 'system.auth.upgrade'}<li  {if $_W['routes']=='system.auth.upgrade'}class="active"{/if}><a href="{php echo webUrl('system/auth/upgrade')}">系统更新</a></li>{/if}
</ul>