<div class="header-box">
    <div class="top">
        <div class="inner">
            <ul class="flex">
                {% if global.userinfo %}
                    <li><a href="javascript:void(0)">您好,{{ global.userinfo.nickname }}</a><span>|</span></li>
                    <li><a href="{{ global.navs.loginout }}">注销</a><span>|</span></li>
                {% else %}
                    <li><a href="{{ global.navs.login }}">请登录</a><span>|</span></li>
                    <li><a href="{{ global.navs.register }}">注册</a><span>|</span></li>
                {% endif %}
                <li><a href="{{ global.navs.order }}">我的订单</a><span>|</span></li>
                <li class="shop"><a href="{{ global.navs.cart }}"><i
                                class="iconfont ">&#xe60b;</i>购物车{{ global.userinfo.cartcount ?: 0 }}件</a><span>|</span>
                </li>
                <li><a href="{{ global.navs.user_center }}">个人中心</a></li>
            </ul>
        </div>
    </div>


    {# 搜索栏 #}
    <div class="header">
        <div class="inner flex">
            <h1 class="logo">
                <a href="{{ pcUrl('pc') }}">
                    {% if global.shopSetting.logo %}
                        <img src="{{ tomedia(global.shopSetting.logo) }}">
                    {% else %}
                        <img src="{{ basePath }}/images/LOGO.png" alt="">
                    {% endif %}
                </a>
            </h1>
            <div class="searchBox">
                <form action="./index.php" method="get">
                    <input type="hidden" name="c" value="entry"/>
                    <input type="hidden" name="i" value="{{ global.params.__uniacid }}"/>
                    <input type="hidden" name="m" value="ewei_shopv2"/>
                    <input type="hidden" name="do" value="mobile"/>
                    <input type="hidden" name="r" value="pc.list"/>
                    <div class="search flex">
                        <input class="search-input" type="text" name="keywords" value="{{ GPC.keywords }}"
                               placeholder="请输入关键字"
                               title="请输入搜索文字">
                        <button type="submit" id="searchBtn">搜索</button>
                    </div>
                    <ul class="flex">
                        {% if global.setting.search %}
                            {% for key, item in global.setting.search %}
                                <li><a href="{{ pcUrl('pc.list',{'keywords':item}) }}">{{ item }}</a>
                                    {% if key < count(global.setting.search) - 1 %}
                                        <span>|</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
            </div>
        </div>
    </div>

    {# 顶部导航 #}
    <div class="nav-box">
        <div class="nav">
            <div class="inner rel">
                <ul class="flex nav-tab">
                    {% for item in global.menus.top %}
                        <li><a href="{{ item.link }}">{{ item.title|format }}</a></li>
                    {% endfor %}
                </ul>


            </div>
        </div>
        <div class="inner rel">
            <div class="category abs">
                <!-- 分类标题  -->
                <h3 class="category-type">分类</h3>
                <!-- 分类tab -->
                <div class="category-tab">
                    <div class="category-tab-box">
                        <div class="category-tab-move">
                            {% for level_1 in global.categories %}
                                <div class="tab-item">
                                    <h6>
                                        <a href="{{ level_1.url }}"
                                           target="_self">{{ level_1.name }}</a>
                                    </h6>
                                    {% if level_1.child %}
                                        <ul class="flex">
                                            {% for level_2 in  level_1.child %}
                                                <li>
                                                    <a href="{{ level_2.url }}" target="_self">
                                                        {{ level_2.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <!-- 详细分类 -->
                                    <div class="categoryContent">

                                        {#                                需求中删掉此部分#}
                                        {#                                <h3>#}
                                        {#                                    <a href="{{ level_1.url }}"#}
                                        {#                                       target="_self">{{ level_1.name }}</a>#}
                                        {#                                </h3>#}

                                        {% for level_2 in  level_1.child %}
                                            <div class="item">
                                                {% if level_2.child %}
                                                    <h6>
                                                        <a href="{{ level_2.link }}"
                                                           target="_self">{{ level_2.name }}</a>
                                                    </h6>
                                                    <div class="menu">
                                                        {% for  level_3 in  level_2.child %}
                                                            <a href="{{ level_3.url }}"
                                                               target="_self">{{ level_3.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="line"></div>
                            {% endfor %}

                            <div class="line"></div>
                        </div>
                    </div>
                    <!-- 更多 -->
                    <div class="arrow userSelect">
                        <span class="iconfont arrow-icon arrow-next">&#xe65f;</span>
                        <span class="iconfont arrow-icon arrow-prev">&#xe65f;</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
