<div class='menu-header'>{php echo $this->plugintitle}</div>

<ul>
	{ifp 'article'}
		<li {if $_W[ 'action']=='' }class="active" {/if}><a href="{php echo webUrl('article')}">文章管理</a></li>
	{/if}
	{ifp 'article.category'}
		<li {if $_W[ 'action']=='category' }class="active" {/if}><a href="{php echo webUrl('article/category')}">分类管理</a></li>
	{/if} 
	{ifp 'article.report'}
		<li {if $_W[ 'action']=='report' }class="active" {/if}><a href="{php echo webUrl('article/report')}">举报记录</a></li>
	{/if}
</ul>

{ifp 'article.set'}
	<div class='menu-header'>设置</div>
	<ul>
		<li {if $_W[ 'action']=='set' }class="active" {/if}><a href="{php echo webUrl('article/set')}">其他设置</a></li>
	</ul>
{/if}
