{template '_header'}
<style type="text/css">

    .full>span{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        vertical-align: middle;
        align-items: center;

        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

</style>
<div class="page-header">当前位置：<span class="text-primary">{if $type=='credit1'}积分{else}余额{/if}明细</span></div>
<div class="page-content">
    <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
        <input type="hidden" name="c" value="site" />
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="m" value="ewei_shopv2" />
        <input type="hidden" name="do" value="web" />
        <input type="hidden" name="r" value="finance.credit.{$type}" />
        <div class="page-toolbar">
            <div class="input-group">
                <span class="pull-left">
                    {php echo tpl_daterange('time', array('sm'=>true,'placeholder'=>'操作时间'),true);}
                </span>
                <span class="input-group-select">
                    <select name="groupid" class="form-control" style="width:100px;float: left;"  >
                        <option value="">会员分组</option>
                        {loop $groups $group}
                        <option value="{$group['id']}" {if $_GPC['groupid']==$group['id']}selected{/if}>{$group['groupname']}</option>
                        {/loop}
                    </select>
                </span>
                <span class="input-group-select">
                    <select name="level" class="form-control" style="width:100px;float: left;"  >
                        <option value="">会员等级</option>
                        {loop $levels $level}
                        <option value="{$level['id']}" {if $_GPC['level']==$level['id']}selected{/if}>{$level['levelname']}</option>
                        {/loop}
                    </select>
                </span>
                <input type="text" class="form-control "  name="keyword" value="{$_GPC['keyword']}" placeholder="请输入会员信息/操作人信息" />
                <span class="input-group-btn">
                    <button class="btn  btn-primary" type="submit"> 搜索</button>
                    {if $type=='credit1'}
                        {ifp 'finance.credit.credit1.export'}
                        <button type="submit" name="export" value="1" class="btn btn-success ">导出</button>
                        {/if}
                    {else}
                        {ifp 'finance.credit.credit2.export'}
                        <button type="submit" name="export" value="1" class="btn btn-success ">导出</button>
                        {/if}
                    {/if}
                </span>
            </div>
        </div>
    </form>
    {if empty($list)}
    <div class="panel panel-default">
        <div class="panel-body empty-data">未查询到相关数据</div>
    </div>
    {else}

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="navbar-inner">
                <tr>
                    <th style='width:120px;'>粉丝</th>
                    <th style='width:100px;'>会员信息</th>
                    <th style='width:80px;'>{if $type=='credit1'}积分{else}余额{/if}变化</th>
                    <th style='width:80px;'>{if $type=='credit1'}当前积分{else}当前余额{/if}</th>
                    <th style='width:80px;'>备注</th>
                    <th style='width:80px;'>操作人</th>
                    <th style='width:100px;'>操作时间</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $row}
                <tr >
                    <td>
                    {ifp 'member.list.edit'}
                    <a  href="{php echo webUrl('member/list/detail',array('id' => $row['mid']));}" target='_blank'>
                        <img  class="radius50"  src='{php echo tomedia($row['avatar'])}' style='width:30px;height:30px;padding:1px;border:1px solid #ccc' onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"/>
                        {if strexists($row['openid'],'sns_wa')}<i class="icow icow-xiaochengxu" style="color: #7586db;vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="" data-original-title="来源: 小程序"></i>{/if}
                        {if strexists($row['openid'],'sns_qq')||strexists($row['openid'],'sns_wx')||strexists($row['openid'],'wap_user')}<i class="icow icow-app" style="color: #44abf7;vertical-align: top;" data-toggle="tooltip" data-placement="bottom" data-original-title="来源: 全网通({if strexists($row['openid'],'wap_user')}手机号注册{else}APP{/if})"></i>{/if}
                        {if empty($row['nickname'])}未更新{else}{$row['nickname']}{/if}
                    </a>
                    {else}
                    <img  class="radius50"  src='{php echo tomedia($row['avatar'])}' style='width:30px;height:30px;padding1px;border:1px solid #ccc' onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'" />
                        {if strexists($row['openid'],'sns_wa')}<i class="icow icow-xiaochengxu" style="color: #7586db;vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="" data-original-title="来源: 小程序"></i>{/if}
                        {if strexists($row['openid'],'sns_qq')||strexists($row['openid'],'sns_wx')||strexists($row['openid'],'wap_user')}<i class="icow icow-app" style="color: #44abf7;vertical-align: top;" data-toggle="tooltip" data-placement="bottom" data-original-title="来源: 全网通({if strexists($row['openid'],'wap_user')}手机号注册{else}APP{/if})"></i>{/if}
                        {if empty($row['nickname'])}未更新{else}{$row['nickname']}{/if}
                    {/if}

                    </td>
                    <td>{$row['realname']}<br/>{$row['mobile']}</td>
                    <td>{$row['num']}</td>
                    <td>{$row['presentcredit']}</td>
                    <td  class="full"  data-toggle='popover' data-html='true' data-placement='top' data-trigger='hover' data-content='{$row['remark']}'><span>{$row['remark']}</span></td>
                    <td>
                        {if empty($row['username']) || $row['username']=='wechat' || $row['username']=='alipay' || $row['username']=='wxapp'}
                            本人
                        {else}
                            {$row['username']}
                        {/if}
                    </td>
                    <td>{php echo date('Y-m-d H:i:s',$row['createtime'])}</td>
                </tr>
                {/loop}
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <div class="btn-group"></div>
                    </td>
                    <td colspan="5" style="text-align: right">
                        {$pager}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {/if}
</div>

{template '_footer'}