<div class='menu-header'>{php echo $this->plugintitle}</div>
<ul>
    {ifp 'mc.merchant'}<li {if $_W['routes']=='mc.merchant'}class="active"{/if}><a href="{php echo webUrl('mc/merchant')}">商户管理</a></li>{/if}
   {ifp 'mc.enter'}<li {if $_W['routes']=='mc.enter'}class="active"{/if}><a href="{php echo webUrl('mc/enter')}">入驻申请</a></li>{/if}
</ul>
<style type='text/css'>
	.mc-list a {
		position: relative;
	}
	.mc-list span  {
	 
	float:right;margin-right:20px;
	}
</style>

<!--<div class='menu-header'>提现申请</div>-->
<!--<ul class='mc-list'>-->
    
<!--</ul>-->