{template '_header'}
<div class='fui-page  fui-page-current member-cart-page' style="background:#FAF7F8;">
    <div class="fui-header">
	<div class="fui-header-left">
	    <a class="back"></a>
	</div>
	<div class="title">我的购物车</div>
	<div class="fui-header-right"><a class="btn-edit" style="display: none">编辑</a></div>
    </div>

    <div class='fui-content navbar cart-list ' style="bottom: 4.9rem">

		<div id="cart_container"></div>
    </div>
	<div id="footer_container"></div>

	<script type="text/html" id="tpl_member_cart">


			<div class='content-empty' <%if list.length>0%>style="display:none;"<%/if%>>
			<img src="{EWEI_SHOPV2_STATIC}images/no_cart.jpg" style="width: 10rem;margin-bottom: .5rem;"><br/><p style="color: #999;font-size: .75rem">您的购物车中没有商品哦！</p><br/><a href="{php echo mobileUrl($route)}" class='btn btn-sm btn-danger-o external'
			style="border-radius: 100px;height: 1.9rem;line-height:1.9rem;width:  7rem;font-size: .75rem">去首页逛逛吧</a>
			</div>
		<%if list.length>0%>

		<div id="container">

			<%each merch as list key%>
			<div class="fui-list-group" id="container<%key%>">
				<div class="fui-list"
				  >
					<div class="fui-list-inner">
						<div class="subtitle">
							<input type="checkbox" name="checkbox" class="fui-radio fui-radio-danger cartmode cartcheck " <%if merch_user[key] && merch_user[key].selectedall%>checked<%/if%>/>
							<input type="checkbox" name="checkbox" class="fui-radio fui-radio-danger editmode editcheck"/>
							<a  href="<%if !merch_user[key] || merch_user[key].merchname==''%>{php echo mobileUrl()}<%else%>{php echo mobileUrl('merch')}&merchid=<%key%><%/if%>">
							<i class="icon icon-dianpu1"></i>
							<%if !merch_user[key] || !merch_user[key].merchname || merch_user[key].merchname==''%>自营商品<%else%><%merch_user[key].merchname%><%/if%></a></div>
					</div>
					<div class="fui-list-angle">
						<div class="angle"></div>
					</div>
				</div>


				<%each list as g%>
				<div class="fui-list goods-item align-start"
					 data-cartid="<%g.id%>"
					 data-goodsid="<%g.goodsid%>"
					 data-optionid="<%g.optionid%>"
					 data-seckill-maxbuy = "<%g.seckillmaxbuy%>"
					 data-seckill-selfcount = "<%g.seckillselfcount%>"
					 data-seckill-price = "<%g.seckillprice%>"
					 data-type = "<%g.type%>"
				>
					<div class="fui-list-media">
						<span class="cartmode">
							<%if g.stock == 0 && g.status != 0 && g.deleted != 1%>
								<!--库存为0-->
								<input type="checkbox" name="checkbox" class="fui-radio fui-radio-disabled fui-radio-danger cartmode check-item" disabled="true" style="background: #999;"/>
							<%/if%>
							<%if g.status == 0 || g.deleted == 1%>
								<!--失效:库存为0且下架-->
								<p class="lose-inner">失效</p>
							<%/if%>

							<%if g.stock != 0 && g.status != 0 && g.deleted != 1 %>
								<!--普通-->
								<input type="checkbox" name="checkbox" editable class="fui-radio fui-radio-danger cartmode check-item" <%if g.selected ==1 %>checked<%/if%> />
							<%/if%>
						</span>
						<span class="editmode">
							<input type="checkbox" name="checkbox" class="fui-radio fui-radio-danger editmode edit-item"/>
						</span>
					</div>

					<div class="fui-list-media image-media">
						<a href="{php echo mobileUrl('goods/detail')}&id=<%g.goodsid%>">
							<%if g.stock == 0 && g.status != 0 && saleout_icon%>
							<img style="position: absolute;"  src="<%saleout_icon%>" />
							<%/if%>
							<img id="gimg_{$g['id']}" data-lazy="<%g.thumb%>" class="">
						</a>
					</div>
					<div class="fui-list-inner">
						<a href="{php echo mobileUrl('goods/detail')}&id=<%g.goodsid%>">
							<div class="subtitle">
								<%if  g.type==4%>
									<span class='fui-label fui-label-danger'>批发</span>
								<%/if%>
								<%if  g.discounttype>0&& g.isnodiscount ==0%>
								<span class='fui-label fui-label-danger'>折扣</span>
								<%/if%>
								<%if g.seckillprice>0%>
								<div class="fui fui-label fui-label-danger"><%g.seckilltag%></div>
								<%/if%>
								<%g.title%>
							</div>
							<%if g.optionid>0%>
							<div class="text cart-option cartmode">
								<div <%if g.type!=4%>class="choose-option"<%/if%>><%g.optiontitle%></div>
							</div>
							<%/if%>
						</a>
						<%if g.optionid>0%>
						<div class="text  cart-option  editmode">
							<div  <%if g.type!=4%>class="choose-option"<%/if%> data-optionid="<%g.optionid%>"><%g.optiontitle%></div>
						</div>
						<%/if%>
				<div class="price">
					<span class="bigprice text-danger">
						<span>&yen;</span>
						<span class="marketprice"><%g.marketprice%></span>
						<%if g.productprice > g.marketprice%>
							<span class="productprice">&yen;<%g.productprice%></span>
						<%/if%>
					</span>

					<%if g.type==4%>
						<div class="fui-number small "
							 data-value="<%g.total%>"
							 data-max=""
							 data-min="1"
							 data-mintoast="<%g.minbuy%><%g.unit%>起批"
							 <%if g.seckillprice>0%>
								style="display: none"
							 <%/if%>
						>
					<%else if (g.status!=0 && g.stock !=0) || (g.hasoption == 1 && g.optionstock != 0 && g.status != 0) %>
						<div class="fui-number small "
							 data-value="<%g.total%>"
							 data-max="<%g.totalmaxbuy%>"
							 data-min="<%g.minbuy%>"
							 data-maxtoast="<%g.title%>最多购买{max}<%g.unit%>"
							 data-mintoast="{min}<%g.unit%>起售"
							<%if g.seckillprice>0%>
							style="display: none"
							<%/if%>
						>
					<%/if%>
						<%if (g.status!=0 && g.stock !=0) || (g.hasoption == 1 && g.optionstock != 0 && g.status != 0) %>
							<div class="minus">-</div>
								<input class="num shownum" type="tel" name="" value="<%g.total%>"/>
								<div class="plus ">+</div>
							</div>
						<%/if%>
					</div>
				</div>
					</div>

				<%/each%>


			</div>
			<%/each%>
		</div>
		<%/if %>
</script>
	<script id="tpl_member_cart_footer" type="text/html">
		<%if list.length>0%>
		<div class="fui-footer cartmode {if is_weixin()}<%if height == 2436 && width == 1125%>iphonex<%/if%>{/if}" style="bottom: 2.45rem">
			<div class="fui-list noclick">
				<div class="fui-list-media editmode">
					<label class="checkbox-inline editcheckall"><input type="checkbox" name="checkbox" class="fui-radio fui-radio-danger " />&nbsp;全选</label>
				</div>
				<div class="fui-list-media">
					<label class="checkbox-inline checkall"><input type="checkbox" name="checkbox"
																   class="fui-radio fui-radio-danger " <%if ischeckall%>checked<%/if%>/>&nbsp;全选</label>
				</div>
				<div class="fui-list-inner">
					<div class='subtitle'>合计:<span class="text-danger bigprice"> ￥</span><span class='text-danger totalprice  bigprice'><%totalprice%></span></div>
					<div class='text'>不含运费</div>
				</div>
				<div class='fui-list-angle'>
					<div style="	width: 5rem;" class="btn  btn-submit <%if total<=0%>}btn-default disabled<%else%>btn-danger<%/if%>" <%if total<=0%>stop="1"<%/if%>>结算(<span class='total'><%total%></span>)</div>
			</div>
		</div>
		</div>
		<div class="fui-footer editmode  {if is_weixin()}<%if height == 2436 && width == 1125%>iphonex<%/if%>{/if}" style="bottom: 2.45rem;">
			<div class="fui-list noclick">
				<div class="fui-list-media">
					<label class="checkbox-inline editcheckall"><input type="checkbox" name="checkbox" class="fui-radio fui-radio-danger " />&nbsp;全选</label>
				</div>
				<div class="fui-list-inner"></div>

				<div class='fui-list-angle'>
					<div class="btn  btn-default btn-favorite disabled attention">移到关注</div>
					<div class="btn  btn-danger btn-delete  disabled">删除</div>
				</div>
			</div>
		</div>
<%/if%>


	</script>

    {template 'goods/picker'}
    <script language='javascript'>require(['biz/member/cart'], function (modal) {
                modal.init();
            });
	</script>
	<style>
		@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
	</style>
	{template '_menu'}
</div>

{template '_footer'}