{template '_header'}
<link rel="stylesheet" href="{MODULE_URL}/plugin/open_farm/static/web/css/foundation-datepicker.css">
<script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.min.js"></script>
<script src="{MODULE_URL}/plugin/open_farm/static/web/js/base.js"></script>
<script src="{MODULE_URL}/plugin/open_farm/static/web/js/task.js"></script>

<div class="page-header">
    当前位置：<span class="text-primary">任务管理</span>
</div>
<div class="page-content" ng-app="task_app" ng-controller="task_controller">
    <div class="alert alert-primary">
        <p>说明:</p>
        
    </div>
    <div class="page-toolbar row m-b-sm m-t-sm" ng-show="data.tool_show">
        <div class="col-sm-4">
            <a class='btn btn-primary btn-sm' ng-click="function.add_show();"><i class='fa fa-plus'></i> 添加任务</a>
        </div>
        <div class="col-sm-6 pull-right">
            <div class="input-group">
                <input type="text" class="input-sm form-control" ng-model="data.where.search"  name='keyword' value="" placeholder="请输入关键词">
                <span class="input-group-btn">
                <button class="btn btn-sm btn-primary" ng-click="function.get_list()"> 搜索</button>
            </span>
            </div>
        </div>
    </div>
    <div class="box box-info" ng-show="data.table_show">
        <table class="table table-responsive table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="width: 28%;">任务名称</th>
                <th style="width: 25%;">任务图标</th>
                <th style="width: 25%;">任务种类</th>
                <th style="width: 25%;">开启时间</th>
                <th style="width: 25%;">结束时间</th>
                <th style="width: 8%;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(k, v) in data.task_list.data">
                <td ng-bind="v.title"></td>
                <td><img src='{{v.show_logo}}' style='width:30px;height:30px;padding:1px;border:1px solid #ccc' />{{v.log}}</td>
                <td ng-bind="v.category"></td>
                <td ng-bind="v.start_time"></td>
                <td ng-bind="v.end_time"></td>
                <td style="text-align:left;">
                    <a href="" class="btn btn-default btn-sm" ng-click="function.edit_show(v);">
                        <i class='fa fa-edit'></i>
                    </a>
                    <a ng-click="function.delete_info(v.id);"class="btn btn-default btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="list_pages"></div>
    </div>
    <div class="box box-info" ng-show="data.empty_show">
        <div class='panel panel-default'>
            <div class='panel-body' style='text-align: center;padding:30px;'>
                暂时没有任何任务!
            </div>
        </div>
    </div>
    <div class="box box-info" ng-show="data.add_show">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">标题 :</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" ng-model="data.task_info.title" class="form-control" id="title" placeholder=""/>
                        <span class="help-block">请填写任务标题</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">任务图标</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="col-sm-12 input-group">
                            <div class="input-group">
                                <input type="text" name="logo" id="logo-img" class="form-control" autocomplete="off" filename="icon.jpg" url="{{data.task_info.logo}}" ng-model="data.task_info.logo">
                                <span class="input-group-btn">
                                    <button id="logo" class="btn btn-default" type="button" onclick="showImageDialog(this);">选择图片</button>
                                </span>
                            </div>
                            <div class="input-group" style="margin-top:.5em;">
                                <img ng-src="{{data.task_info.show_logo}}" onerror="this.src='./resource/images/nopic.jpg'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
                                <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="category">任务种类 :</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="col-sm-12 input-group">
                           <select class="form-control" id="category" ng-init="data.task_info.category = '签到'" ng-model="data.task_info.category" ng-options="item for item in data.category_list.data">
                           </select>
                        </div>
                        <span class="help-block">请选择任务标题</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="get_max">每天最多可获得多少饲料 :</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="col-sm-12 input-group">
                            <input type="text" ng-model="data.task_info.get_max" class="form-control" id="get_max" placeholder=""/>
                            <span class="input-group-addon">克</span>
                        </div>
                        <span class="help-block">请填写每天最多可获得多少饲料</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="start_time">开始时间 :</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="start_time" class="form-control span2"  ng-model="data.task_info.start_time"  id="start_time">
                        <!--<input type="datetime-local" name="start_time" ng-model="data.task_info.start_time" class="form-control" id="start_time" placeholder=""/>-->
                        <span class="help-block">请填写开始时间</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="end_time">结束时间 :</label>
                    <div class="col-sm-9 col-xs-12">

                        <input type="text" name="end_time" class="form-control span2" ng-model="data.task_info.end_time" id="end_time">
                        <!--<input type="datetime-local" name="end_time" ng-model="data.task_info.end_time" class="form-control" id="end_time" placeholder=""/>-->
                        <span class="help-block">请填写结束时间</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <span>
                    <input type="button" value="提交" style="text-align: center" class="btn btn-primary" ng-click="function.add_info();">
                </span>
                <span>
                    <input type="button" name="back" ng-click="function.list_show();"  style='margin-left:10px;' value="返回列表" class="btn btn-default" />
                </span>
            </div>
        </form>
    </div>
</div>

<script src="{MODULE_URL}/plugin/open_farm/static/unit/foundation-datepicker.js"></script>
<script src="{MODULE_URL}/plugin/open_farm/static/unit/foundation-datepicker.zh-CN.js"></script>
<script src="{MODULE_URL}/plugin/open_farm/static/unit/date_time.js"></script>
{template '_footer'}