body,html,div,h1,h2,h3,h4,h5,h6,p,span,a,img,button,input,textarea,ul,li,i,button {
    border: 0;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}

img {
    display: block;
}

body {
    /*font-family: "微软雅黑";*/
    /*font-family: 'PingFangSC-Regular, sans-serif';*/
    font-family: '微软雅黑', tahoma, arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", 微软雅黑, 宋体, sans-serif;

}
button {
    outline: none;
    background-color: transparent;
}
input {
    outline: none;
}
input::-ms-clear,::-ms-reveal{display:none;}
.flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fix {
    position: fixed;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.align {
    text-align: center;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.userSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-box {
    position: relative;
    /*position: fixed;*/
    top: 0px;
    width: 100%;
    /*min-height: 182px;*/
    /*z-index: 999;*/
    height: 182px;
}
.nav-box {
    position: absolute;
    /*bottom: -40px;*/
    left: 0;
    width: 100%;
}
body {
    /*padding-top: 182px!important;*/
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


.top {
    width: 100%;
    height: 36px;
    background-color: #f2f2f2;
}
.top ul {
    height: 36px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #999;
}
.top ul>li>a {
    font-size: 12px;
    color: #999;
    padding: 0 8px;
}
.top li.shop i{
    display: inline-block;
    margin-right: 6px;

}


.header {
    height: 106px;
    background-color: #fff;
}
.header .logo {
    width: 334px;
    height: 106px;
}
.header .logo a {
    display: flex;
    height: 106px;
    align-items: center;
}
.header .logo img {
    max-width: 160px;
    max-height: 106px;
}
.header .search{
    width: 532px;
    height: 38px;
    margin-top: 26px;
    padding-left: 14px;
    line-height: 38px;
    border-radius: 19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
}
.header .search-input {
    flex: 1;
}
.header .search-input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}
.header .search-input::-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}
.header .search button {
    width: 90px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
}
.header .searchBox ul {
    margin-top: 8px;
    padding-left: 6px;
    font-size: 12px;
    color: #999;
}
.header .searchBox ul>li>a {
    padding: 0 8px;
    font-size: 12px;
    color: #999;
}
.header .searchBox ul a:hover {
    color: #666;
}
.header .rpQrcode {
    /* height: 72px; */
    width: 72px;
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-right: 40px;
    margin-top: 8px;
}
.header .programs {
    margin-left: 90px;
}
.header .rpQrcode img {
    width: 72px;
    height: 72px;
    margin-bottom: 6px;
}

/*底部*/
.footer {
    padding: 0 0 40px 0;
    width: 100%;
    background-color: #414141;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.footer .ensure {
    align-items: center;
    height: 130px;
    color: #fff;
}
.ensure .ensure-item {
    line-height: 50px;
    font-size: 18px;
    flex: 1;
}
.ensure .ensure-item .sure-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ensure .ensure-item .sure-icon i {
    font-size: 22px;
    color: #fff;
}
.footer .line {
    width: 1100px;
    height: 0;
    margin: 0 auto 22px;
    border-bottom: 1px solid #4f4f4f;
}
.footer .abouts {
    margin-bottom: 40px;
    justify-content: center;
    font-size: 12px;
    color: #999;
}
.footer .abouts a {
    padding: 0 8px;
    font-size: 12px;
    color: #999;
}
.footer .business p{
    margin-bottom: 16px;
}



/*导航*/
.nav {
    width: 100%;
    height: 40px;
    background-color: #000;
    overflow: hidden;
}
.nav ul.nav-tab {
    height: 40px;
    align-items: center;
    margin-left: 270px;
    flex-wrap: nowrap;
    width: 930px;
}
.nav ul li {
    /*flex: 1;*/
    width: 90px;
    overflow: hidden;
    height: 21px;
    padding-right: 20px;
}
.nav ul a {
    display: block;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}
.category {
    left: 0;
    top: -40px;
    z-index: 2;
}
.category h3.category-type {
    width: 244px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.category-tab {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 244px;
    height: 500px;
}
.category:hover .category-tab{
    display:block
}
.category-tab .tab-item {
    max-height: 113px;
    padding: 24px 0 0 20px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.category-tab .tab-item h6 {
    line-height: 1;
    margin-bottom: 16px;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.category-tab .tab-item ul {
    flex-wrap: wrap;
    margin-right: -30px;
}
.category-tab .tab-item ul a {
    display: block;
    margin: 0 30px 16px 0;
    line-height: 1;
    font-size: 14px;
    color: #999;
}
.category-tab .line {
    width: 204px;
    margin: 0 auto;
    height: 0;
    border-bottom: 1px solid #e5e5e5;
}
.categoryContent {
    display: none;
    position: absolute;
    top: 0px;
    left: 244px;
    width: 956px;
    min-height: 500px;
    background-color: #fff;
    padding-left: 36px;
    padding-bottom: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.categoryContent h3 {
    margin-top: 28px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
}
.categoryContent .item {
    margin-top: 26px;
}
.categoryContent .item h6 {
    margin-bottom: 16px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.categoryContent .item .menu a {
    line-height: 32px;
    margin-right: 34px;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}
.category-tab-box {
    max-height: 460px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}
.category .arrow {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.category .arrow-icon {
    display: inline-block;
    color: #999;
    cursor: pointer;
}
.category-tab .tab-item:hover .categoryContent {
    display: block;
}
.category .arrow-next {
    transform: rotate(90deg);
}
.category .arrow-prev {
    display: none;
    transform: rotate(-90deg);
}

/*标题*/
.title {
    position: relative;
    overflow: hidden;
}
.title h3 {
    padding: 30px 0 22px 0;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.title span {
    padding-top: 36px;
    color: #333;
    font-size: 14px;
}
.title .more {
    position: absolute;
    right: 3px;
    top: 55%;
    color: #333;
    font-size: 12px;
}

/*猜你喜欢*/
.love {
    height: 340px;
}
.love .goods-item {
    width: 240px;
    height: 340px;
}
.love .goods-item:first-child {
    margin-left: 0;
}
.love .goods-item img {
    width: 220px;
    height: 220px;
    margin-bottom: 14px;
    object-fit: cover;
}
.love .goods-item h6 {
    min-height: 38px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.love .goods-item .price {
    padding-left: 17px;
    font-size: 18px;
}
/*商品列表*/
.goods-item {
    width: 200px;
    height: 280px;
    margin-left: 2px;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.goods-item img {
    width: 180px;
    height: 180px;
    margin: 10px auto 22px;
}
.goods-item h6 {
    padding-left: 16px;
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}
.goods-item .price {
    padding-left: 13px;
    font-size: 20px;
    font-weight: 700;
}
.goods-item .original-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #999;
}
.page {
    align-items: center;
    color: #666;
    font-size: 12px;
    justify-content: flex-end;
}
.pagination {

}
.pagination li a,
.page-skip .skip-num,
.page-skip .skip-sure{
    display: block;
    border: 1px solid #dedede;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: -1px;
    box-sizing: border-box;
}
.page-skip {
    align-items: center;
}
.page-skip .skip-num{
    margin-left: 0;
    color: #666;
}
.page-skip .skip-sure {
    width: 44px;
    cursor: pointer;
}



/*左侧菜单*/
.aside {
    width: 150px;
    min-height: 624px;
    padding-top: 10px;
    background-color: #fff;
    box-sizing: border-box;
}
.aside .aside-submenu {
    line-height: 1;
}
.aside .aside-submenu>li {
    margin-top: 36px;
}
.aside .aside-submenu li span {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.aside .aside_menu>li>a {
    display: block;
    padding-left: 22px;
    margin-top: 22px;
    border-left: 3px solid transparent;
    color: #666;
    font-size: 14px;
}

.logo-title {
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.sub-title {
    width: 100%;
    padding-left: 16px;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sub-title span {
    padding-left: 10px;
    border-left: 4px solid #ff284b;
}
.member-main {
    flex: 1;
    margin-left: 20px;
}

/*面包屑*/
.crumbs {
    height: 40px;
    line-height: 40px;
    color: #999;
    font-size: 12px;
}
.crumbs a {
    margin-right: 5px;
    color: #999;
}
.crumbs a:first-child {
    color: #666;
}
.crumbs i {
    font-size: 12px;
}

.tab-title {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #999;
}
.tab-title span {
    display: block;
    padding: 0 22px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}



/*二维码*/
.qrcode {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.qrcode .block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 394px;
    height: 354px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.qrcode .block p {
    margin-top: 72px;
    margin-bottom: 43px;
}
.qrcode .block .code {
    width: 150px;
    height: 150px;
    margin: auto;
}
.qrcode .block .code img {
    width: 100%;
    height: 100%;
}
.qrcode .block span.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #999;
    cursor: pointer;
}
.show {
    display: none;
}
/*支付成功*/
.succee {
    display: none;
}
.succee .block .succee-img {
    width: 65px;
    height: 65px;
    margin: 98px auto 15px;
}
.succee .block p {
    margin-top: 0;
    margin-bottom: 0;
}
.succee .block p.succee-time {
    margin-top: 28px;
    color: #999;
    font-size: 12px;
}
/*分页*/
.pages {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
.pages li.active {
    background-color: #ff284b;
}
.pagination>li.active a {
    color: #fff;
    border-color: #ff284b;
}
.pagination {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.pagination>li a.pager-nav {
    width: 70px;
}
.pagination .input>input {
    display: block;
    border: 1px solid #dedede;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    text-align: center;
    margin-left: -1px;
    box-sizing: border-box;
}

/*已售完*/
.img {
    position: relative;
}

.sold-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.sold-out>span {
    display: block;
}
.sold-out>span:first-child {
    font-size: 20px;
}

/*暂无内容*/
.no {
    padding: 30px 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}