.block {
    width: 100%;
    height: 16px;
}
/*广告*/
.ad {
    width: 100%;
    height: 100px;
    margin: 16px 0;
}

/*左侧标签*/
.tag-lift {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 10%;
    z-index: 9999;
    width: 54px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}
.tag-lift a {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 12px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tag-lift a:last-child {
    height: 34px;
}
.sn-nav-wrapper>div {
    height: 50px;
    padding: 7px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tag-lift .sn-nav-wrapper>div.current ,
.tag-lift .sn-nav-wrapper>div.current a,
.tag-lift .sn-nav-wrapper>div.current .line{
    color: #fff !important;
    background-color: #ff284b;
    border-color: #ff284b;
}
.tag-lift .sn-nav-wrapper>div:hover ,
.tag-lift .sn-nav-wrapper>div:hover a,
.tag-lift .sn-nav-wrapper>div:hover .line{
    color: #fff !important;
    background-color: #ff284b;
    border-color: #ff284b;
}
.tag-lift .sn-nav-wrapper>div:first-child.current {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.tag-lift .line {
    width: 34px;
    height: 0;
    border-bottom: 1px solid #eee;
    margin: 7px auto 0;
}

.tag-lift .go-top {
    position: relative;
    border-radius: 0 0 4px 4px;
    padding-top: 16px;
}
.tag-lift .go-top .back-top {
    position: absolute;
    top: 7px;
    transform: rotate(-90deg);
}
/*右侧标签*/
.tag-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 34px;
    height: 100%;
    background-color: #000;
    z-index: 9999;
}
.sidebarcom-nav {
    position: relative;
    z-index: 101;
    height: 100%;
}
.sidebarcom-nav-cnt {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -150px;
    height: 330px;
    width: 100%;
}
.sidebarcom-nav-ft {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    text-align: center;
}
.sidebarcom-top a p {
    font-size: 12px;
    color: #fff;
}
.sidebarcom-top .back-top {
    display: inline-block;
    color: #fff;
    transform: rotate(-90deg);
}
.sidebarcom-oper {
    width: 100%;
    text-align: center;
    color: #fff;
}
.sidebarcom-oper>div {
    padding: 14px 3px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}
.sidebarcom-oper .sidebarcom-cart p {
    width: 14px;
    margin: 5px auto 0;
    font-size: 12px;
}
.sidebarcom-my i {
    font-size: 20px;
}
/*客服列表*/
.contact {
    position: relative;
}
.contact-list {
    display: none;
    position: absolute;
    left: -164px;
    top: -100%;
    width: 144px;
    padding: 12px 15px;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact-list>div {
    height: 28px;
    line-height: 28px;
    margin-bottom: 8px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contact-list>div>i {
    display: inline-block;
    margin-top: -6px;
    vertical-align: middle;
    font-size: 24px;
}
.contact-list:hover,
.wechat-mask:hover{
    background-color: #000 !important;
}

.contact-list::before {
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    border-top-color: #000;
    transform: rotate(45deg);
}
/*微信二维码弹框*/
.wechat {
    position: relative;
}
.wechat-mask {
    display: none;
    position: absolute;
    left: -164px;
    top: -112%;
    width: 144px;
    padding: 12px 15px;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wechat-mask::before {
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    border-top-color: #000;
    transform: rotate(45deg);
}
.wechat-mask img {
    width: 96px;
    height: 96px;
    margin: 0 auto;
}
.wechat-mask .weixin {
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 10px auto 5px;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content {
    background-color: #f5f5f5;
    padding-bottom: 56px;
}


/*轮播图*/
.carousel {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

/*只有一张图*/
.banner-img {
    width: 1200px;
    height: 500px;
}
.banner-img img {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /*object-fit: cover;*/
}

.swiper-container {
    width: 1200px;
    height: 500px;
}
.carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.carousel .swiper-slide img {
    width: 1200px;
    /*width: 100%;*/
    height: 500px;
    object-fit: cover;
}
.carousel .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    left: 50%;
    bottom: 16px;
    width: fit-content;
    width: -moz-fit-content;
}
.carousel .swiper-button-next, .swiper-button-prev {
    display: none;
}
.carousel .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 7%;
}
.carousel .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 7%;
}
.carousel .swiper-button-next {
    background-image: url("../img/next.svg");
}
.carousel .swiper-button-prev {
    background-image: url("../img/prev.svg");
}
.dot{
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    /*background-color: #fff;*/
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.dot span {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #c1c1c1;
}
.dot span.swiper-pagination-bullet-active {
    background-color: #000;
}

/*秒杀*/
.seckillBox {
    color: #fff;
    margin: 16px 0;
    overflow: hidden;
}
.seckill {
    flex-shrink: 0;
    width: 190px;
    height: 280px;
    line-height: 1;
    text-align: center;
    background: url("../img/home_spike_bg.png") no-repeat 0 0;
}
.seckill h3 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 56px;
    margin-bottom: 20px;
}
.seckill p {
    font-size: 16px;
}
.seckill .seckill-time {
    margin: 32px 0 20px 0;
    justify-content: center;
}
.seckill .seckill-time span {
    display: block;
    width: 39px;
    height: 38px;
    margin-left: 10px;
    line-height: 38px;
    background-color: #000;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}
.seckill .seckill-time span:first-child {
    margin-left: 0;
}
.seckill .seckill-time .maohao {
    width: 0;
    margin-left: 5px;
}
.seckill a {
    display: block;
    width: 90px;
    height: 32px;
    margin: 0 auto;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 16px;
    background-color: #fff;
}


/*为你优选*/
.prefer {
    width: 100%;
    height: 300px;
}
.prefer .item{
    flex: 1;
    flex-wrap: nowrap;
}
.prefer .item:nth-child(2) {
    margin: 0 16px;
}
.prefer .item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
/*版块*/
.part {
    width: 100%;
    height: 560px;
}
.part .img {
    width: 310px;
    height: 560px;
}
.part .img img {
    width: 100%;
    height: 100%;
}
.part-goods {
    flex: 1;
    flex-wrap: wrap;
}
.part-goods .goods-item {
    width: 220px;
    margin-bottom: 1px;
    text-align: center;
}
.part-goods .goods-item .img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto 20px;
}
.part-goods .goods-item .img img {
    width: 100%;
    height: 100%;
    margin: 10px auto 20px;
}
.part-goods .goods-item img {
    width: 200px;
    height: 200px;
    margin: 10px auto 20px;
}
.part-goods .goods-item h6 {
    padding: 0 16px;
    margin-bottom: 5px;
    text-align: left;
}
.part-goods .goods-item .price {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
}

