<div class="subnav-scene">权限管理</div>
<div class='menu-header'><span class="menu-icon fa fa-caret-right"></span>权限系统</div>

<ul>

    {ifp 'perm.role'}<li {if $_W['action']=='perm.role'}class="active"{/if}><a href="{php echo webUrl('perm/role')}">角色</a></li>{/if}
    {ifp 'perm.user'}<li {if $_W['action']=='perm.user'}class="active"{/if}><a href="{php echo webUrl('perm/user')}">操作员</a></li>{/if}
    {ifp 'perm.log'}<li {if $_W['action']=='perm.log'}class="active"{/if}><a href="{php echo webUrl('perm/log')}">操作日志</a></li>{/if}

</ul>