
*{
	margin: 0;
	padding: 0;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
ul li{
	list-style: none;
}
body{
	min-width: 1200px;
    background: #e7e8eb;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;
    color: #222;
}
.wrapper{
	width: 1200px;
	padding: 25px 0 88px;
	margin-left: auto;
    margin-right: auto;
	background: #fff;
}
a{
	text-decoration: none;
}
.error{
	padding-top: 5px;
    padding-left: 90px;
	color: #e15f63;
	margin: 0;
}
/*展示部分*/
.card_title{
	font-size: 16px;
	height: 30px;
	width: 100%;
	padding: 0 50px 0 30px;
}
.card_title div{
	border-bottom: 1px solid #efefef;
	line-height: 40px;
}
.preview{
	position: fixed;
	top: 80px;
	float: left;
    width: 318px;
    margin-left:30px;
    padding-bottom: 150px;
    overflow: hidden;
    background-color:#f6f6f8;
    border: 1px solid #e7e7eb;
}
.cart-top{
	width: 100%;
	height: auto;
	background: #fff;
}
.cart-top img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.preview .title{
	padding: 15px 10px;
	background: #fff;
}
.preview .title i{
		color: #000;
}
.preview .title .back{
	font-size: 20px;
}
.preview .title .more{
	font-size: 24px;
}
.preview .panel{
	background: #fff;
	border-radius: 5px;
}
.logo-area{
	width: 273px;
	height: 120px;
	background: #55bd47;
	margin: 0 auto;
	border-radius: 10px;
	padding: 24px 20px;
	color: #fff;
	margin-bottom: 20px;
}
.logo-area div{
	float: left;
}
.logo-area .bot{
	height: 20px;
	width: 100%;
	margin-top: 25px;
}
.logo{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.logo img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
}
.logo-area .code{
	width: 36px;
	height: 36px;
	float: right;
}
/*适用门店 公众号*/
.card-other{
	padding:0px 10px 0px 10px;
	margin-bottom: 15px;
	background: #fff;
}
.card-other ul li{
	padding: 10px 0;
	border-bottom: 1px solid #e7e7eb;
}
.card-other ul li:last-child{
	border: 0;
}
.go.icon{
	font-weight: bolder;
	color: #c8c8c8;
}

.control{
    margin-left: 370px;
    width: 800px;
    /*border: 1px solid #e7e7eb;*/
    /*background-color: #f4f5f9;*/
   	background: #fff;
    margin-right: 20px;
}
.control.control-cover{
	width: 1160px;
	margin: 0 auto;
}
.control .con-label{
	margin-bottom: 20px;
}
.control .editor_section{
	margin-bottom: 20px;
	padding: 0px 20px 0 20px;
}
.control .title{
	font-size: 14px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e6e9eb;
    font-weight: normal;
    margin-bottom: 20px;
}
.control-group{
	margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0;
}
.control-group.user{
	height: 120px;
}
.control-group.color{
	height: 30px;
}
.control-group.limit{
	height: 70px;
}
.control-group.caption{
	height: 75px;
}
.control-group.date{
	height: 75px;
}
.control-group.receive{
	height: 50px;
}
.control-group.use{
	height: 220px;
}
.control-group .frm_label{
	width: 90px;
	height: 32px;
	line-height: 32px;
}
.control-group .frm-image{
	width: 100px;
	height: 100px;
	display: inline-block;
}
.control-group .frm_controls{
	margin-left: 90px;
	margin-bottom: 5px;
	vertical-align: middle;
}
.control-group .frm_controls .frm_controls_name{
	vertical-align: top;
}
.control-group input{
	margin-right: 5px;
}
.frm_tip{
	padding-top:5px;
	color: #8d8d8d
}
.frm_tip a{
	color: #459ae9;
}
.tip{
	padding-top:5px;
	padding-left: 90px;
	color: #8d8d8d
}
.control-group .frm-image img{
	width: 100%;
	height: 100%;
}
.control-group  .caret{
	display: inline-block;
	margin: 10px 10px;
	color: #000;
}
/*卡券颜色*/
.bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.bootstrap-colorpalette div {
    line-height:0;
}

.bootstrap-colorpalette .btn-color {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    margin: 2px;
    padding: 0;
}

.bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
.btn-group{
	vertical-align: middle;
    width: 116px;
    background: #fff;
    border: 1px solid #eee;
}
.btn-group a{
	display: inline-block;
	width: 116px;
	height: 20px;
	padding: 5px;
}
.btn-group a i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #FFFF00;
}


.frm_controls .input{
	height: 32px;
	background: #fff;
    border: 1px solid #eee;
    padding-left: 5px;
    color: #222;
}
.frm_controls .chose{
	display: inline-block;
	height: 32px;
	width: 116px;
	background: #fff;
	border: 1px solid #eee;
    padding-left: 5px;
    color: #222;
    vertical-align: middle;
}

/*封面*/
.cover .control {
	padding: 10px;
}
.cover .upload{
	margin-left: 90px;
}
textarea{
	text-indent: 15px;
	padding: 5px 10px;
}
.control-group.cover{
	height: 35px;
}
/*自定义入口*/
.way-open{
	width: 300px;
	margin: 20px 0;
}
.way-open .open-on{
	margin-right:20px ;
}
/*.user-defined{
	height: 80px;
}*/
