{template '_header'}
<div class='fui-page  fui-page-current shop-index-page'>
	{if is_h5app()}
	<div class="fui-header">
		<div class="fui-header-left"></div>
		<div class="title">{if empty($this->merch_user)}{$_W['shopset']['shop']['name']}{else}{php echo $this->merch_user['merchname']}{/if}</div>
		<div class="fui-header-right"></div>
	</div>
	{/if}
	{php $this->followBar()}
	{$index_cache} 
</div>

{if !empty($cpinfos)}
	{template 'sale/sendticket'}
{/if}


{if empty($trade['shop_strengthen'])}
	{template 'shop/shopstrengthen'} 
{/if}

{php $this->diyDanmu()}

{php $this->footerMenus()}
{template '_footer'}