* {
    padding: 0;
    margin: 0;
}

.new-container {}

.new-container .new-swpier {
    width: 100%;
    height: 8rem;
}

.new-container .new-swpier>img {
    width: 100%;
}

.new-container .new-item-header {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

.new-container .new-item-header img {
    width: 16%;
}

.new-container .new-item-header>div {
    margin: 0 0.8rem;
}

.new-item-body {
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-item-body .new-item-li {
    width: 31%;
    margin-bottom: 0.4rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.3rem;
    position: relative;
}

.new-footerbase {
    height: 4rem
}

.new-item-li .new-item-label {
    position: absolute;
    background: rgba(255, 30, 50, 1);
    top: 0.4rem;
    left: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    color: #ffffff;
    font-size: 0.02rem;
    padding: 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.new-item-li .new-item-img {
    height: 6rem;
    overflow: hidden;
}

.new-item-li .new-item-img>img {
    width: 100%;
    height: 100%;
}

.new-item-li .new-item-ros {
    padding: 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.new-item-title,
.new-item-price,
.new-item-botton {
    width: 100%;
}

.new-item-li .new-item-title {
    font-size: 0.1rem;
    color: #4D4D4D;
}

.new-item-li .new-item-price {
    font-size: 0.6rem;
}

.new-item-li .new-item-price span:nth-child(1) {
    color: #FC2C38;
}

.new-item-li .new-item-price span:nth-child(2) {
    color: #A9A9A9;
    text-decoration: line-through;
    margin-left: 0.2rem;
}

.new-item-li .new-item-botton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-item-li .new-item-botton>button {
    background: linear-gradient(-74deg, rgba(254, 41, 86, 1), rgba(255, 93, 170, 1));
    padding: 0.1rem;
    margin: 0 auto;
    color: #ffffff;
    width: 100%;
    border: none;
}