{template '_header'}
<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/account/default/style.css?v=2.0.0">
<style type="text/css">
    .account-top .logo img { border:2px solid {$set['wap']['color']};}
    .account-login-link { color:{$set['wap']['color']};  }
    .fui-cell-group .fui-cell-info .fui-input { color:{$set['wap']['color']}; }
    .btn.account-btn { border:1px solid {$set['wap']['color']};color:{$set['wap']['color']};}
    .fui-cell-group .fui-cell:before {
    border-top: 1px solid{$set['wap']['color']};
    color: {$set['wap']['color']};
    }
    .agreement {
        position: fixed;
        bottom: 20px;
        width: 100%;
    }
    .agreement p{
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
    }
    .agreement p a {
        color: #0066cc;
        cursor: pointer;
    }
</style>
<div class="fui-page">
    {if is_h5app()}
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"> </a>
        </div>
        <div class="title">{if empty($type)}立即注册{else}立即找回{/if}</div>
        <div class="fui-header-right" data-nomenu="true"></div>
    </div>
    {/if}
    <div class="fui-content">

        <div class="account-bg">
            <img src="{php echo empty($set['wap']['bg'])?'../addons/ewei_shopv2/static/images/wapbg.jpg':tomedia($set['wap']['bg'])}" />
        </div>

        <div class="account-top">
            <div class="logo">
                <img src="{php echo tomedia($set['shop']['logo'])}" />
            </div>
        </div>
        <div class="fui-cell-group fui-cell-group-o account-cell-group">
            <div class="fui-cell">
                <div class="fui-cell-info account-cell"><input type="tel" class="fui-input" name="mobile" id="mobile" placeholder="您的手机号码" value="{php echo trim($_GPC['mobile'])}" maxlength="11" /></div>
            </div>
            {if !empty($set['wap']['smsimgcode'])}
                <div class="fui-cell">
                    <div class="fui-cell-info account-cell"><input type="tel" class="fui-input" name="verifycode" id="verifycode2" placeholder="图形验证码" maxlength="4" /></div>
                    <div class="fui-cell-remark noremark">
                        <img src="../web/index.php?c=utility&a=code&r={php echo time()}" style="width: 4.5rem; vertical-align: middle;" id="btnCode2">
                    </div>
                </div>
            {/if}
            <div class="fui-cell" id="cell-verifycode">
                <div class="fui-cell-info account-cell"><input type="tel" class="fui-input" name="verifycode" id="verifycode" placeholder="5位短信验证码" maxlength="5" /></div>
                <div class="fui-cell-remark noremark"><a class="btn btn-default btn-default-o  btn-sm account-btn" id="btnCode" >获取验证码</a></div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-info account-cell"><input type="password" class="fui-input"  name="pwd" id="pwd" placeholder="请输入登录密码" value=""/></div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-info account-cell"><input type="password" class="fui-input"  name="pwd1" id="pwd1" placeholder="请重新输入登录密码" value=""/></div>
            </div>
			<div class="fui-cell">
                <div class="fui-cell-info account-cell"><input type="tel" class="fui-input"  name="agentid" id="agentid" placeholder="推荐人的邀请码" value=""/></div>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-info ">
                    <div class="btn btn-default btn-default-o block account-btn" id="btnSubmit">{if empty($type)}立即注册{else}立即找回{/if}</div>
                </div>
            </div>
            <div class="fui-cell-title" style="padding:0rem 1rem;;">
                <a href="{$set['wap']['loginurl']}" class="account-login-link external pull-right">立即登录</a>
                {if empty($type)}
                    <a href="{$set['wap']['forgeturl']}" class="account-login-link  external">忘记密码 </a>
                {else}
                    <a href="{$set['wap']['regurl']}" class="account-login-link  external">立即注册 </a>
                {/if}
            </div>

        </div>


        {if empty($type)}
        {if is_h5app()}
        {if $set['wap']['agr']}
        <div class="agreement">
            <p><input type="checkbox" class="agree" value="1" checked name="agree[]"> 登录注册代表同意 <a href="{php echo mobileUrl('account/agr')}" id="useragr">《用户协议与隐私政策》</a></p>
        </div>
        {/if}
        {/if}
        {/if}
        <script language='javascript'>
            require(['biz/member/account'], function (modal) {
                modal.initRf({backurl:'{$backurl}', type: {php echo intval($type)}, endtime: {php echo intval($endtime)}, imgcode: {php echo intval($set['wap']['smsimgcode'])}});
            });
        </script>
    </div>
</div>
{template '_footer'}