*:focus {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
}
a,
img {
  -webkit-touch-callout: none;
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #323232;
}
input::-webkit-input-speech-button {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/************************ reset *************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
del {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
nav ul,
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  height: 0;
  font: 0/0 Arial;
  visibility: hidden;
}
.hide {
  visibility: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input[type=text]:focus,
input[type=submit]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=password]:focus {
  outline: none;
}
button:focus,
input:focus,
input {
  outline: none;
}
a {
  margin: 0;
  padding: 0;
  color: #000;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-style: normal;
}
em {
  color: #323232;
  font-size: 16px;
  margin-top: 5px;
  font-style: normal;
}
/* change colours to suit your needs */
ins {
  color: #323232;
  background-color: #ff9;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  color: #000;
  font-weight: bold;
  font-style: italic;
  background-color: #ff9;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* change border colour to suit your needs */
hr {
  border: 0;
  padding: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  border-top: 1px solid #cccccc;
}
button,
input,
select,
textarea {
  margin: 0;
  /*font-size: 100%;*/
  vertical-align: middle;
  outline: none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  outline: none;
}
u {
  display: block;
  background: no-repeat;
  background-position: 50% 50%;
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器 */
}
.iconfont {
  margin-right: 0.25rem;
}
body {
  position: relative;
  padding-bottom: 2.75rem;
  padding-top: 2.5rem;
}
.main_color {
  color: #FF4444;
}
.img_container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.img_container img {
  width: 100%;
  text-align: center;
  margin: auto;
}
/*搜索*/
.search_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
}
.search {
  width: 100%;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #eeeeee;
  padding-left: 1.5rem;
  font-size: 0.7rem;
  border: none;
}
.icon-search {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 0.875rem;
  left: 0.875rem;
  color: #ccc;
}
.tabs_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #fff;
}
.tab_item {
  color: #383838;
  font-size: 0.55rem;
  font-weight: 500;
}
.tab_title {
  margin-bottom: 0.5rem;
}
.tab_border_bottom {
  width: 1.15rem;
  height: 0.25rem;
  margin: auto;
}
.tab_item.active {
  color: #FD0822;
  font-size: 0.8rem;
  font-weight: bold;
}
.tab_item.active .tab_border_bottom {
  background: url("../images/index_new/border_bottom_red.png") no-repeat;
  background-size: contain;
}
.tabs_content > li {
  display: none;
}
.tabs_content li.active {
  display: block;
}
.merchant_container {
  margin-bottom: 0.5rem;
}
.merchant_container .merchant_item {
  background-color: #fff;
  padding: 0.5rem;
  border-top: 0.5rem solid #f9f8f8;
}
.merchant_item .user_info_container {
  display: flex;
  align-items: center;
}
.merchant_item .user_info_container .img_container {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0 0.75rem 0 0;
  background-color: #ccc;
  border-radius: 1.05rem;
}
.merchant_item .user_info_container .img_container img {
  border-radius: 1.05rem;
}
.user_name {
  color: #000000;
  font-size: 1.05rem;
  font-weight: bold;
}
.user_time {
  color: #C3C3C3;
  font-size: 0.5rem;
  margin-left: 0.375rem;
}
.merchant_right {
  margin-left: 2.85rem;
}
.merchant_des {
  font-size: 0.55rem;
  color: #383838;
}
.placeholder {
  color: transparent;
  padding-left: 0.25rem;
}
.toggle_des {
  position: absolute;
  bottom: -2px;
  right: 0;
  background-color: #fff;
  color: #FD0822;
  padding-left: 0.25rem;
}
.clamp_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.6;
  overflow: hidden;
}
.merchant_img_container {
  display: flex;
  margin-top: 0.55rem;
  margin-bottom: 0.25rem;
}
.big_img {
  padding-right: 0.15rem;
  width: 69.6%;
}
.small_img {
  width: 30.4%;
}
.big_img img {
  width: 100%;
  border: 0.15rem;
}
.small_img img {
  width: 100%;
  border: 0.15rem;
}
.merchant_info {
  display: flex;
  width: 69.6%;
  border-radius: 0.15rem;
  background-color: #f9f8f8;
  align-items: center;
  margin-top: 0.25rem;
}
.merchant_info_img {
  width: 1.5rem;
  height: 1.5rem;
}
.merchant_info_img > img {
  width: 1.5rem;
  height: 1.5rem;
}
.merchant_info_des {
  padding: 0.25rem 0.5rem;
  flex-grow: 2;
}
.merchant_name {
  color: #383838;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.merchant_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.merchant_price_container .icon-right {
  color: #383838;
  font-size: 14px;
}
.merchant_func {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0dddd;
  padding-top: 0.5rem;
  margin-top: 0.55rem;
}
.merchant_func_item {
  color: #383838;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
}
.merchant_func_item .icon-love {
  color: #FF4444;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
