@font-face {
  font-family: 'iconfont';
  /* project id 1693600 */
  src: url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.eot');
  src: url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.woff2') format('woff2'), url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.woff') format('woff'), url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.ttf') format('truetype'), url('//at.alicdn.com/t/font_1693600_lg1gom7x13p.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e629";
}
.icon-triangle-right-pure:before {
  content: "\e639";
}
.icon-download:before {
  content: "\e852";
}
.icon-share:before {
  content: "\e63d";
}
.icon-love:before {
  content: "\e638";
}
.icon-right:before {
  content: "\e608";
}
.icon-download:before {
  content: "\e852";
}
.icon-share:before {
  content: "\e63d";
}
.icon-love:before {
  content: "\e638";
}
.icon-right:before {
  content: "\e608";
}
.icon-member-zhouqigou:before {
  content: "\e7cf";
}
.icon-member-dafahuo:before {
  content: "\e643";
}
.icon-member-dashouhuo:before {
  content: "\e642";
}
.icon-member-daifukuan:before {
  content: "\e646";
}
.icon-member-tuihuanhuo:before {
  content: "\e647";
}
.icon-member-guanzhu:before {
  content: "\e6ab";
}
.icon-member-zhuji:before {
  content: "\e667";
}
.icon-member-gouwuche:before {
  content: "\e660";
}
.icon-member-nongchang:before {
  content: "\e6e2";
}
.icon-member-foot:before {
  content: "\e667";
}
.icon-member-address:before {
  content: "\e601";
}
.icon-member-coupon:before {
  content: "\e645";
}
.icon-member-quanfan:before {
  content: "\e63b";
}
.icon-member-phone:before {
  content: "\e63f";
}
/**reset*/
*:focus {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
}
a,
img {
  -webkit-touch-callout: none;
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #323232;
}
input::-webkit-input-speech-button {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/************************ reset *************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
del {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
nav ul,
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  height: 0;
  font: 0/0 Arial;
  visibility: hidden;
}
.hide {
  visibility: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input[type=text]:focus,
input[type=submit]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=password]:focus {
  outline: none;
}
button:focus,
input:focus,
input {
  outline: none;
}
a {
  margin: 0;
  padding: 0;
  color: #000;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-style: normal;
}
em {
  color: #323232;
  font-size: 16px;
  margin-top: 5px;
  font-style: normal;
}
/* change colours to suit your needs */
ins {
  color: #323232;
  background-color: #ff9;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  color: #000;
  font-weight: bold;
  font-style: italic;
  background-color: #ff9;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* change border colour to suit your needs */
hr {
  border: 0;
  padding: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  border-top: 1px solid #cccccc;
}
button,
input,
select,
textarea {
  margin: 0;
  /*font-size: 100%;*/
  vertical-align: middle;
  outline: none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  outline: none;
}
u {
  display: block;
  background: no-repeat;
  background-position: 50% 50%;
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器 */
}
body {
  padding-bottom: 1.1rem;
}
.text_center {
  text-align: center;
}
.merchant_price_container {
  color: #FE2766;
  font-size: 0.26rem;
}
.merchant_price_container .price {
  font-size: 0.32rem;
}
.merchant_price_container del {
  color: #999;
  color: 0.24rem;
}
.merchant_name {
  font-size: 0.26rem;
}
.merchant_feature {
  border: 1px solid #FE2766;
  color: #FE2766;
  padding: 0 0.04rem;
  border-radius: 0.04rem;
  font-size: 0.2rem;
  display: inline-block;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.14);
  padding: 0.15rem 0;
}
.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #383637;
}
.footer_item {
  width: 25%;
  text-align: center;
}
.footer_item .iconfont {
  margin: 0;
  font-size: 0.42rem;
}
.icon-home:before {
  content: "\e626";
}
.icon-camera:before {
  content: "\e6c6";
}
.icon-category:before {
  content: "\e62f";
}
.icon-user:before {
  content: "\e631";
}
.footer_item.active {
  color: #FE3265;
}
.footer_item.active .icon-home:before {
  content: "\e604";
}
.footer_item.active .icon-camera:before {
  content: "\e79d";
}
.footer_item.active .icon-category:before {
  content: "\e630";
}
.footer_item.active .icon-user:before {
  content: "\e61b";
}
.footer_item.active .footer_title {
  color: #FE3265;
}
.footer_title {
  font-size: 0.24rem;
  color: #A0A0A0;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 1.3rem;
  }
  footer {
    padding-bottom: 0.35rem;
  }
}
