*:focus {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
}
a,
img {
  -webkit-touch-callout: none;
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #323232;
}
input::-webkit-input-speech-button {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/************************ reset *************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
del {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
nav ul,
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  height: 0;
  font: 0/0 Arial;
  visibility: hidden;
}
.hide {
  visibility: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input[type=text]:focus,
input[type=submit]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=password]:focus {
  outline: none;
}
button:focus,
input:focus,
input {
  outline: none;
}
a {
  margin: 0;
  padding: 0;
  color: #000;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-style: normal;
}
em {
  color: #323232;
  font-size: 16px;
  margin-top: 5px;
  font-style: normal;
}
/* change colours to suit your needs */
ins {
  color: #323232;
  background-color: #ff9;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  color: #000;
  font-weight: bold;
  font-style: italic;
  background-color: #ff9;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* change border colour to suit your needs */
hr {
  border: 0;
  padding: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  border-top: 1px solid #cccccc;
}
button,
input,
select,
textarea {
  margin: 0;
  /*font-size: 100%;*/
  vertical-align: middle;
  outline: none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  outline: none;
}
u {
  display: block;
  background: no-repeat;
  background-position: 50% 50%;
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器 */
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
body {
  background-color: #f9f8f8;
  position: relative;
  padding-bottom: 2.75rem;
}
.text_center {
  text-align: center;
}
.merchant_price_container {
  color: #FE2766;
  font-size: 0.65rem;
}
.merchant_price_container .price {
  font-size: 0.8rem;
}
.merchant_price_container del {
  color: #999;
  color: 0.6rem;
}
.merchant_name {
  font-size: 0.65rem;
}
.merchant_feature {
  border: 1px solid #FE2766;
  color: #FE2766;
  padding: 0 0.1rem;
  border-radius: 0.1rem;
  font-size: 0.5rem;
  display: inline-block;
}
.top {
  position: relative;
  background: no-repeat 0 -2rem;
  background-size: cover;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
/*搜索*/
.search_container {
  position: relative;
  margin: 0 auto;
   width: 85%;
}
.search {
  width: 100%;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
 
  font-size: 0.7rem;
  border: none;
}
.icon-search {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 0.375rem;
  left: 0.375rem;
  color: #ccc;
}
/*tabs*/
.tabs_wrap {
  position: relative;
  height: 2.15rem;
}
.tabs_container {
  overflow-y: hidden;
  overflow-x: auto;
  height: 2.15rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.tabs_container::-webkit-scrollbar {
  display: none;
}
.tabs_content {
  display: flex;
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.tab_item {
  font-size: 0.7rem;
  color: #fff;
  margin-right: 0.9rem;
  display: block;
  height: 100%;
  white-space: nowrap;
}
.tab_title {
  padding: 0.45rem 0 0.175rem;
}
.tab_item .border_bottom {
  width: 1.15rem;
  height: 0.25rem;
  margin: auto;
}
.tab_item:last-of-type {
  margin-right: 0;
}
.tab_item.active {
  font-size: 0.8rem;
}
.tab_item.active .border_bottom {
  background: url("../images/index_new/border_bottom_white.png") no-repeat;
  background-size: contain;
}
/*swipe轮播图*/
.swip_item img {
  width: 100%;
  border-radius: 0.25rem;
}
/**全球直采*/
.advantage_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  color: #FE2766;
}
.advantage_item {
  display: flex;
  align-items: center;
}
.advantage_item .icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: cover;
  margin-right: 0.125rem;
}
.icon_qqzc {
  background: url(../images/index_new/icon_qqzc.png) no-repeat;
}
.icon_zpbz {
  background: url(../images/index_new/icon_zpbz.png) no-repeat;
}
.icon_shwj {
  background: url(../images/index_new/icon_shwy.png) no-repeat;
}
.icon_jyps {
  background: url(../images/index_new/icon_jyps.png) no-repeat;
}
/*美妆个护*/
.category_container {
  margin: 0.5rem;
  padding-top: 0.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
}
.category_item {
  width: 20%;
  text-align: center;
}
.category_item img {
  width: 2.5rem;
}
.category_name {
  margin-bottom: 0.6rem;
  font-size: 0.6rem;
  color: #666;
  text-align: center;
}
/*潮流主会场*/
.middle_ad_container {
  margin: 0.5rem;
  text-align: center;
}
.middle_ad_container img {
  width: 100%;
}
/*潮客秒杀、热卖推荐、潮记美好。。。*/
.block_container {
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 0.075rem 0.45rem 0 rgba(235, 235, 235, 0.5);
}
/*潮客秒杀*/
.netred_container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.netred_item {
  padding: 0.5rem;
  width: 50%;
}
.netred_item:nth-of-type(2n-1) {
  border-right: 0.05rem solid #f5f5f5;
}
.netred_item:first-of-type,
.netred_item:nth-of-type(2) {
  border-bottom: 0.05rem solid #f5f5f5;
}
.netred_item_first_title {
  display: flex;
  align-items: center;
}
.netred_item_first_title img {
  width: 3.25rem;
}
.count_down_container {
  display: inline-block;
  margin-left: 0.25rem;
  font-size: 0.35rem;
}
.count_down_container .count_down_item {
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  line-height: 0.65rem;
  border-radius: 0.325rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.count_down_seperator {
  margin: 0 0.1rem;
}
.netred_merchant_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.netred_merchant_item {
  width: 50%;
}
.img_container {
  margin: 0 auto;
  text-align: center;
}
.img_container img {
  height: 3.125rem;
}
.netred_merchant_item > div {
  text-align: center;
}
.netred_merchant_item del {
  color: #999;
  font-size: 0.6rem;
}
.netred_item_title_des {
  padding: 0.1rem;
  color: #359F2C;
  font-size: 0.5rem;
  background: #ececec;
  border-radius: 0.15rem;
  margin-left: 0.25rem;
}
.netred_item_2 .netred_merchant_item {
  margin-top: 0.55rem;
}
.netred_item_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.netred_item_3 > div {
  width: 50%;
}
.netred_title {
  font-weight: bold;
  color: #1A0300;
  text-align: left;
}
.sub_title {
  font-size: 0.6rem;
  color: #999999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: 0.15rem;
}
.netred_item .img_container {
  margin-top: 0.4rem;
}
.color_orange {
  color: #DB810A;
}
.hot_container {
  padding: 0.5rem;
}
.block_title {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.5rem;
}
.block_title > a {
  display: flex;
  font-size: 0.6rem;
  color: #aaa;
  align-items: center;
}
.live-title {
  display: flex;
  align-items: center;
}
.live-title img {
  width: 2.4rem;
}
.merchant_container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.merchant_item {
  width: 4.45rem;
  margin-right: 0.25rem;
  flex-shrink: 0;
}
.merchant_item .img_container {
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 0.25rem;
  padding: 0.3rem;
  margin-bottom: 0.25rem;
}
/*猜你喜欢*/
.love_title {
  text-align: center;
  margin: auto;
  margin-bottom: 0.5rem;
}
.love_title img {
  width: 10rem;
}
.love_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0.5rem 1rem 0.5rem;
}
.love_item {
  width: 49%;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.45rem;
  margin-bottom: 0.25rem;
}
.love_item .img_container {
  width: 100%;
}
.love_item .img_container img {
  width: 7.5rem;
  height: 7.5rem;
}
.love_item .merchant_name {
  margin: 0.25rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.love-item-price {
  display: flex;
  align-items: center;
}
.love_item .merchant_feature {
  margin-left: 0.25rem;
}
.merchant_name {
  height: 1.8rem;
  line-height: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
