body {
  background-color: #FAF7F8;
}
.border-bottom {
  border-bottom: 1px solid #B5B5B5;
}
.top {
  padding: 1rem 1.25rem 1.5rem 1.25rem;
  background: linear-gradient(-74deg, #020000, #474747);
  color: #fff;
  font-size: 0.75rem;
}
.user-info-container {
  display: flex;
  justify-content: space-between;
}
.user-info-container > a:first-of-type {
  display: flex;
  align-items: center;
}
.font-size-24 {
  font-size: 1.2rem;
  font-weight: bold;
}
.font-size-18 {
  font-size: 0.9rem;
  font-weight: bold;
}
.top .img-container {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.75rem;
  border-radius: 1.75rem;
  overflow: hidden;
  border: 0.1rem solid #fff;
}
.top .img-container img {
  width: 100%;
}
.top .img-wrap {
  position: relative;
}
.top .img-wrap img.vip-img-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1.75rem;
  bottom: -0.4rem;
}
.top .user-name {
  margin-bottom: 0.5rem;
}
.top a {
  color: #fff;
}
.icon.icon-shezhi {
  font-size: 0.95rem;
  font-weight: bold;
}
.top-ul {
  display: flex;
  margin: -0.75rem 0.75rem 0.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  font-size: 0.6rem;
  background-color: #fff;
  color: #333;
}
.top-ul li > a:last-of-type {
  margin-top: 0.375rem;
}
.top-ul li > a {
  display: block;
  color: #333;
}
.top-ul li .top-ul-des {
  color: #ccc;
}
.top-ul-btn {
  width: 4rem;
  height: 1.55rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.75rem;
  color: #333;
}
.top-ul-btn.active-btn {
  color: #fff;
  background: linear-gradient(-74deg, #fe2956, #ff5daa);
  border-color: #FE2766;
}
.content-container {
  margin-bottom: 1.625rem;
}
.content-container > li {
  margin-top: 0.5rem;
}
.content-container > li > ul {
  background-color: #fff;
}
.content-container .first-li {
  color: #000;
}
.first-li .col-2 {
  border-bottom: 1px solid rgba(181, 181, 181, 0.2);
}
.first-li .col-2 > div:last-of-type {
  color: #999;
  font-size: 0.75rem;
}
.content-container > li > ul > li {
  padding: 0.5rem 0.75rem;
}
.content-container > li > ul > li {
  border-bottom: 2px solid #FAF7F8;
}
.content-container > li > ul > li:last-of-type {
  border-bottom: none;
}
.col-2 {
  display: flex;
  justify-content: space-between;
}
.col-5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.col-5 .iconfont {
  font-size: 1.2rem;
  color: #000;
}
.col-5 .text {
  color: #999;
  font-size: 0.65rem;
  margin-top: 0.15rem;
}
.flex-li {
  display: flex;
  justify-content: space-between;
}
.flex-li > div > .icon {
  margin-right: 0.75rem;
  font-size: 0.85rem;
}
.flex-li .icon-triangle-right-pure {
  color: #999;
  font-size: 0.85rem;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
