*:focus {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
}
a,
img {
  -webkit-touch-callout: none;
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #323232;
}
input::-webkit-input-speech-button {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/************************ reset *************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
del {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
nav ul,
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  height: 0;
  font: 0/0 Arial;
  visibility: hidden;
}
.hide {
  visibility: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input[type=text]:focus,
input[type=submit]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=password]:focus {
  outline: none;
}
button:focus,
input:focus,
input {
  outline: none;
}
a {
  margin: 0;
  padding: 0;
  color: #000;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-style: normal;
}
em {
  color: #323232;
  font-size: 16px;
  margin-top: 5px;
  font-style: normal;
}
/* change colours to suit your needs */
ins {
  color: #323232;
  background-color: #ff9;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  color: #000;
  font-weight: bold;
  font-style: italic;
  background-color: #ff9;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* change border colour to suit your needs */
hr {
  border: 0;
  padding: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  border-top: 1px solid #cccccc;
}
button,
input,
select,
textarea {
  margin: 0;
  /*font-size: 100%;*/
  vertical-align: middle;
  outline: none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  outline: none;
}
u {
  display: block;
  background: no-repeat;
  background-position: 50% 50%;
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器 */
}
body {
  background-color: #FF4444;
  position: relative;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 3.25rem;
  }
  footer.new_footer {
    padding-bottom: 0.875rem;
  }
}
.main_color {
  color: #FF4444;
}
.img_container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.img_container img {
  width: 100%;
  text-align: center;
  margin: auto;
}
.swip_item img {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #eeeeed;
  margin: 0.75rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  width: 2.5rem;
  margin: 0 0.5rem;
}
.merchant_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}
.merchant_item {
  width: 31%;
  background-color: #fff;
  border-radius: 0.15rem;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0.35rem;
  position: relative;
}
.merchant_item:nth-of-type(3n) {
  margin-right: 0;
}
.merchant_tag {
  position: absolute;
  top: 0.35rem;
  left: 0;
  background: #ff1e32;
  font-weight: 500;
  font-size: 0.5rem;
  padding: 0.2rem;
  color: #fff;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}
.merchant_buy {
  background: linear-gradient(-74deg, #fe2956, #ff5daa);
  border-radius: 0.15rem;
  font-size: 0.55rem;
  text-align: center;
  color: #fff;
  padding: 0.4rem 0;
  margin-top: 0.15rem;
}
